.local_container {
  padding: 20px;

  iframe {
    width: 100%;
    height: 1200px;
  }
}

.iframe_container {
  position: relative;
}

.expand_icon {
  position: absolute !important;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: var(--pr-color-primary);
  z-index: 4;
  color: white;
  width: max-content;
  gap: 10px;
  padding: 5px 10px;
  margin: 20px 10px;
  margin-right: 30px;
  box-shadow: 0px 0px;
  cursor: pointer;
  border-radius: 5px;
}

.expand {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh !important;
  overflow-y: scroll;

  .embedded {
    width: 100vw;
    height: 1200px;
  }
}
