.fixed_button {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 250px;
  margin-bottom: 50px;
  z-index: 100;

  &:hover {
    .fields-feedback-list {
      opacity: 1 !important;
      transform: translateY(-100%) scale(1) !important;
      background-color: rgba(var(--pr-color-primary-rgb), 0.91);
      color: var(--pr-color-white);

      .status {
        background-color: var(--pr-color-red-200) !important;
      }
    }
  }
}
