.chips_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 70vh !important;

    .pr_chip_selected {
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: column;

        .name {}

        .type {}

        i {
            position: absolute;
            right: 0;
            top: 0;
            margin-top: 5px;
            margin-right: 5px;
        }

        .deliveries {
            display: flex;
            gap: 10px;
            margin-top: 15px;

            .delivery {
                padding: 7px 14px;
                background-color: white;
                color: var(--pr-color-primary);
                cursor: pointer;
                border-radius: 15px;
                font-weight: 500;
            }

            .delivery.active {
                background-color: var(--pr-color-primary) !important;
                color: white !important;
            }
        }
    }
}

.partners_selected_header {
    padding-top: 15px;
    padding-bottom: 2px;
}

.readOnly_deliveries {
    .delivery {
        padding: 4px 8px !important;
        border-radius: 3px !important;
    }
}

.column_title {
    font-weight: 500;
    font-size: 1.4em;
    margin-top: 20px;
}