<div class="whats-new-home">
  <h1 class="whats-new-home_title">Release Notes</h1>

  @if (whatsNewService.notionDataLoading()) {
    <div class="whats-new-home_first">
      <p-skeleton width="100%" height="374.5px" [style]="{ backgroundColor: '#DDD' }" />
      <p-skeleton width="100%" height="374.5px" [style]="{ backgroundColor: '#DDD' }" />
    </div>

    <div class="whats-new-home_second">
      <p-skeleton width="100%" height="400px" [style]="{ backgroundColor: '#DDD' }" />
      <p-skeleton width="100%" height="400px" [style]="{ backgroundColor: '#DDD' }" />
      <p-skeleton width="100%" height="400px" [style]="{ backgroundColor: '#DDD' }" />
    </div>

    <h2 class="whats-new-home_subtitle">More from the team</h2>

    <div class="whats-new-home_third">
      @for (item of [0, 1, 2]; track $index) {
        <p-skeleton width="100%" height="95px" [style]="{ backgroundColor: '#DDD', marginBottom: '10px' }" />
      }
    </div>
  } @else {
    @if (!whatsNewService.notionData()?.results?.length) {
      <p>No data</p>
    } @else {
      <div class="whats-new-home_first">
        @for (item of whatsNewService.notionData()?.results?.slice(0, 2); track item.id) {
          <app-whats-new-card
            [item]="item"
            [routerLink]="['/whats-new/details', item.id]"
            (click)="setActiveNotionPageData(item)"></app-whats-new-card>
        }
      </div>

      @if (whatsNewService.notionData()?.results?.length > 2) {
        <div class="whats-new-home_second">
          @for (item of whatsNewService.notionData()?.results?.slice(2, 5); track item.id) {
            <app-whats-new-card
              [item]="item"
              [routerLink]="['/whats-new/details', item.id]"
              (click)="setActiveNotionPageData(item)"></app-whats-new-card>
          }
        </div>
      }

      @if (whatsNewService.notionData()?.results?.length > 5) {
        <h2 class="whats-new-home_subtitle">More from the team</h2>

        <div class="whats-new-home_third">
          @for (item of whatsNewService.notionData()?.results?.slice(5, whatsNewService.notionData()?.results?.length); track item.id) {
            <app-whats-new-list-item
              [item]="item"
              [routerLink]="['/whats-new/details', item.id]"
              (click)="setActiveNotionPageData(item)"></app-whats-new-list-item>
          }
        </div>
      }
    }
  }
</div>
