@use '../../../../../styles/fonts.scss' as fonts;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.whats-new-home {
  max-width: 970px;
  margin: 0 auto;
}

.whats-new-home_title {
  @include fonts.pr-typography('h1');
  font-weight: 600;
  margin-bottom: 24px;
}

.whats-new-home_subtitle {
  @include fonts.pr-typography('h2');
  font-weight: 600;
  margin-top: 50px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--pr-color-neutral-1000);
}

.whats-new-home_first {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.whats-new-home_second {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 24px;

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.whats-new-home_third {
  margin-top: 24px;
  gap: 24px;
}
