<div class="local_container phase_table">
  <p-table sortField="result_code" [scrollable]="true" scrollDirection="both" [value]="this.phaseList"
    scrollHeight="calc(100vh - 303px)" styleClass="p-datatable-gridlines p-datatable-sm">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="{{column.attr}}" *ngFor="let column of columnOrder">
          <p-sortIcon field="{{column.attr}}"></p-sortIcon>{{column.title}}
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-phase>
      <tr>
        <td>
          {{phase?.id}}
        </td>
        <td>
          <!--Todo Name  -->
          <div class="text" *ngIf="!phase.editing">{{phase?.phase_name}}</div>
          <app-pr-input *ngIf="phase.editing" placeholder="Provide input here..." type="text"
            [(ngModel)]="phase.phase_name_ts">
          </app-pr-input>
        </td>
        <td>
          <!--Todo Reporting year  -->
          <div class="text" *ngIf="!phase.isNew">{{phase?.phase_year}}</div>

          <app-pr-select *ngIf="phase.isNew" class="segment_title_margin" [options]="this.resultYearsList"
            [disableOptions]="disablePreviousYear()" optionLabel="year" optionValue="year" placeholder="Select year"
            [(ngModel)]="phase.phase_year_ts">
          </app-pr-select>

        </td>
        <td>
          <!--Todo Toc phase-->

          <div class="text" *ngIf="!phase.isNew">{{this.getTocPhaseName(phase?.toc_pahse_id)}}</div>
          <app-pr-select *ngIf="phase.isNew" class="segment_title_margin" [options]="this.tocPhaseList"
            optionLabel="name" optionValue="phase_id" placeholder="Select phase" [(ngModel)]="phase.toc_pahse_id_ts">
          </app-pr-select>
        </td>
        <td [style.width.px]="120">
          <!--Todo  start date -->
          <div class="text" *ngIf="!phase.isNew"> {{phase?.start_date | date: 'YYYY-MM-dd'}}</div>
          <input class="Flatpickr_styles" *ngIf="phase.isNew" pInputText type="text" mwlFlatpickr
            [(ngModel)]="phase.start_date_ts" [altInput]="true" [convertModelValue]="true" placeholder="yyyy-mm-dd"
            dateFormat="Y-m-d" altFormat="Y-m-d" />
        </td>
        <td [style.width.px]="120">
          <!--Todo end date  -->

          <div class="text" *ngIf="!phase.isNew">{{phase?.end_date| date: 'YYYY-MM-dd' }}</div>
          <!-- <p-calendar placeholder="End date" *ngIf="phase.isNew" [(ngModel)]="phase.end_date_ts"
            dateFormat="yy-mm-dd"></p-calendar> -->
          <input class="Flatpickr_styles" *ngIf="phase.isNew" pInputText type="text" mwlFlatpickr
            [(ngModel)]="phase.end_date_ts" [altInput]="true" [convertModelValue]="true" placeholder="yyyy-mm-dd"
            dateFormat="Y-m-d" altFormat="Y-m-d" />
        </td>
        <td [style.width.px]="90">
          <!--Todo  status -->
          <div class="text" *ngIf="!phase.editing">
            <div class="tag_container" [ngClass]="phase?.status ? 'open':'closed'">{{phase?.status ? 'Open':'Closed'}}
            </div>
          </div>
          <app-pr-select *ngIf="phase.editing  && !phase.isNew" class="segment_title_margin" [options]="this.status"
            optionLabel="name" optionValue="status" placeholder="Select status" [(ngModel)]="phase.status_ts">
          </app-pr-select>
        </td>
        <td>
          <!--Todo obj_previous_phase  -->
          <div class="text" *ngIf="!phase.editing">{{phase?.obj_previous_phase? phase?.obj_previous_phase?.phase_name:
            'N/A'}}</div>
          <app-pr-select *ngIf="phase.editing" class="segment_title_margin" [options]="this.previousPhaseList"
            [disableOptions]="onlyPreviousPhase(phase)" optionLabel="phase_name" optionValue="id"
            placeholder="Select previous phase" [(ngModel)]="phase.previous_phase_ts">
          </app-pr-select>
        </td>

        <td [style.width.px]="90">
          <div class="actions" *ngIf="!phase.editing">
            <div class="action_button edit" (click)="getFeedback() ? null:phase.editing = true"
              [ngClass]="{'disabled': getFeedback()}"><i class="material-icons-round"
                [pTooltip]="getFeedback()?this.disabledActionsText:null" tooltipPosition="top">edit</i>
            </div>
            <div class="action_button delete" [ngClass]="{'disabled': getFeedback() ||!phase?.can_be_deleted}"
              (click)="getFeedback()?null:(phase?.can_be_deleted ?this.deletePhase(phase):null)"
              [pTooltip]="getFeedback()?this.disabledActionsText:(!phase?.can_be_deleted?'The phase has active results therefore cannot be eliminated':'')"
              tooltipPosition="top"><i class="material-icons-round">delete</i>
            </div>
          </div>
          <div class="actions" *ngIf="phase.editing">
            <div class="action_button save" tooltipPosition="top"
              [ngClass]="{'disabled': phase?.isNew  &&  getMandatoryIncompleteFields(phase)}"
              [pTooltip]="phase?.isNew ? getMandatoryIncompleteFields(phase):null" [escape]="false">
              <div class="text"
                (click)="phase?.isNew  &&  getMandatoryIncompleteFields(phase) ?null:(phase?.isNew ? createPhase(phase) :savePhase(phase))">
                {{phase?.isNew ? 'Create'
                : 'Save'}}</div> <i class="material-icons-round">{{phase?.isNew ? 'add_circle' : 'save'}}</i>
            </div>
            <div class="action_button cancel" (click)="cancelAction(phase); this.updateVariablesToSave(phase)">
              <div class="text">Cancel</div><i class="material-icons-round">close</i>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- <app-add-button name="Add new phase" (clickEvent)="addNewPhase()"></app-add-button> -->

<div class="center_flex_100">
  <div class="add_new_phase_button" [ngClass]="{'disabled': getFeedback()}">
    <div class="feedback" *ngIf="getFeedback()">{{getFeedback()}}</div>
    <div class="button" (click)="getFeedback()?'':addNewPhase()">Add new phase</div>
  </div>
</div>

<!-- <div class="table_container" [ngClass]="{ 'expand_table': show_full_screen }" *ngIf="false">
  <p-table sortField="id" [sortOrder]="-1" [value]="this.phaseList" dataKey="id" [scrollable]="true" editMode="row"
    [paginator]="true" [rowsPerPageOptions]="[10, 50, 100]" [rows]="10" scrollHeight="calc(100vh - 303px)"
    style="min-width: 200px" #dt>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">#<p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="phase_name">Name <p-sortIcon field="phase_name"></p-sortIcon></th>
        <th pSortableColumn="phase_year">Reporting year <p-sortIcon field="phase_year"></p-sortIcon></th>
        <th pSortableColumn="toc_pahse_id">Toc phase <p-sortIcon field="toc_pahse_id"></p-sortIcon></th>
        <th pSortableColumn="start_date">Start date <p-sortIcon field="start_date"></p-sortIcon></th>
        <th pSortableColumn="end_date">End date <p-sortIcon field="end_date"></p-sortIcon></th>
        <th pSortableColumn="status" style="min-width:150px">Status <p-sortIcon field="status"></p-sortIcon></th>
        <th pSortableColumn="obj_previous_phase.phase_name">Previus phase <p-sortIcon
            field="obj_previous_phase.phase_name"></p-sortIcon></th>
        <th style="min-width: 180px">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-phase let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="phase">

        <td>{{phase.id}}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="phase.phase_name">
            </ng-template>
            <ng-template pTemplate="output">
              {{phase.phase_name}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>{{phase.phase_year}}</td>
        <td>{{phase.toc_pahse_id}}</td>
        <td>{{phase.start_date}}</td>
        <td>{{phase.end_date}}</td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <app-pr-select class="segment_title_margin" [options]="this.status" optionLabel="name"
                optionValue="status" placeholder="Select status" [(ngModel)]="phase.status">
              </app-pr-select>
            </ng-template>
            <ng-template pTemplate="output">
              <div [ngClass]="{'tag_status':true,'open':phase?.status == true,'closed':phase?.status == false}">
                {{phase?.status?'Open':'Closed'}}</div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <app-pr-select class="segment_title_margin" [options]="this.phaseList"
                [disableOptions]="onlyPreviousPhase(phase)" optionLabel="phase_name" optionValue="id"
                placeholder="Select previous phase" [(ngModel)]="phase.previous_phase">
              </app-pr-select>
            </ng-template>
            <ng-template pTemplate="output">
              {{phase.obj_previous_phase?.phase_name}}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          {{!!phase?.is_new}}
          <div class="flex align-items-center justify-content-center gap-2">
            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
              (click)="onRowEditInit(phase)" class="p-button-rounded p-button-text"></button>
            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
              (click)="onRowEditSave(phase)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
              [icon]="!!phase?.is_new?'pi pi-trash':'pi pi-times'" (click)="onRowEditCancel(phase, ri)"
              class="p-button-rounded p-button-text p-button-danger"></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="counter">
    <div class="name">Phases:</div>
    {{ (this.phaseList | filterByText : this.textToFind).length }}/{{ this.phaseList?.length }}
  </div>
</div> -->