.local_container {
  margin-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  overflow: hidden;
  width: 95% !important;

  .tabs {
    display: flex;
    border-bottom: 3px solid #556add36;
    width: max-content;

    .active {
      background-color: var(--pr-color-primary-300) !important;
      color: white !important;

      &:hover {
        background-color: #556addea !important;
      }
    }

    .tab {
      font-weight: 600;
      background-color: var(--pr-color-medium-2);
      color: var(--pr-color-primary-300);
      text-decoration: none;
      padding: 8px 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      transition: all ease-in-out 0.2s;

      &:hover {
        background-color: #1b1b1b15;
      }
    }
  }

  .outlet {
    margin-top: 20px;
    padding: 0px 10px;
  }
}

.pass_steps {
  background: var(--pr-color-primary-300) !important;
  border-color: var(--pr-color-primary-300) !important;
}
