.local_container {
  padding: 30px;
}

.table_container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.tag_status {
  margin-right: 10px;
  padding: 3px 4px;
  font-size: 0.8em;
  border-radius: 3px;
  color: white;
  text-align: center;
  margin: 0px 30px !important;
  &.open {
    background-color: var(--pr-color-success);
  }
  &.closed {
    background-color: var(--pr-color-danger);
  }
}
