@use '../../../../../../../../../styles/fonts.scss' as fonts;

.impact_area_title {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 50px;
  }

  .title {
    @include fonts.pr-typography('h3');
    font-weight: 500;
    color: var(--pr-color-secondary-400);
  }
}
