@use '../../../../../../../../../styles/fonts.scss' as fonts;

.ipsr_annual_updating-container {
  padding: 40px 0 20px 0;

  .ipsr_annual_updating {
    box-shadow: 0px 0px 5px 5px rgba(var(--pr-color-black-rgb), 0.071);
    border-radius: 10px;
    padding: 30px;

    .ipsr_annual_updating-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
      margin-bottom: 20px;

      strong {
        @include fonts.pr-typography('h1');
        font-weight: 600;
      }

      .ipsr_annual_updating-header {
        margin-top: -12px;
      }
    }

    .ipsr_annual_updating-discontinued_options {
      padding-left: 50px;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      gap: 2px;

      .ipsr_annual_updating-discontinued_option {
        display: flex;
        align-items: center;
        gap: 20px;
        height: 40px;
      }
    }
  }
}

.message {
  background-color: var(--pr-color-primary-25);
  border: none;
  border-width: 0px;
  color: var(--pr-color-blue-600);
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: flex-start;
  padding: 0.75rem 0.75rem;
  border-radius: 0.375rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
