<div class="ipsr_annual_updating-container">
  <div class="ipsr_annual_updating">
    <div class="ipsr_annual_updating-title">
      <strong>Annual updating</strong>
      <div class="ipsr_annual_updating-header">
        <app-pr-field-header
          label="Please indicate if the investment for this innovation package was continued or discontinued"></app-pr-field-header>
      </div>
    </div>

    <app-pr-radio-button
      [(ngModel)]="this.ipsrGeneralInfoBody.is_discontinued"
      [verticalAlignment]="true"
      [options]="this.options"
      optionLabel="name"
      optionValue="value"
      [isStatic]="this.api.rolesSE.access.canDdit">
    </app-pr-radio-button>

    @if (this.ipsrGeneralInfoBody.is_discontinued == false) {
      <div class="message">
        <i class="pi pi-info-circle" style="font-size: 14px; margin-top: 2px; color: #2563eb"></i>
        <div class="message--text" [innerHTML]="alertTextIPSR"></div>
      </div>
    }

    <div class="ipsr_annual_updating-discontinued_options" *ngIf="this.ipsrGeneralInfoBody.is_discontinued">
      <div class="ipsr_annual_updating-discontinued_option" *ngFor="let discontinuedOption of this.ipsrGeneralInfoBody.discontinued_options">
        <app-pr-checkbox [label]="discontinuedOption?.option" [(ngModel)]="discontinuedOption.value" [isStatic]="this.api.rolesSE.access.canDdit">
        </app-pr-checkbox>
        <app-pr-input
          *ngIf="discontinuedOption?.investment_discontinued_option_id == 12"
          placeholder="Enter text"
          type="text"
          [required]="false"
          [isStatic]="true"
          [(ngModel)]="discontinuedOption.description">
        </app-pr-input>
      </div>
    </div>

    <div appFeedbackValidation labelText="Annual Update" [isComplete]="ipsrGeneralInfoBody.is_discontinued !== null"></div>

    <div appFeedbackValidation labelText="Reason for inactivity/discontinuation" [isComplete]="isIpsrDiscontinuedOptionsTrue()"></div>
  </div>
</div>
