.local_container {
    margin-top: 30px;

    tr {
        th {
            text-align: center;
        }

        td {
            position: relative;

            .transparent_text {
                color: transparent;
            }

            a,
            .icon_container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: var(--color-primary) !important;
            }

            i {
                cursor: pointer;
            }
        }
    }

    .new_result_button {
        display: flex;
        justify-content: flex-end;
    }

}