<div class="global_information" *ngIf="false">Please be aware that the PRMS technical team will not be available
    during the coming Christmas season from December 22nd, 2022 to January 3rd, 2023.</div>
<app-header-panel *ngIf="!this.AuthService.inLogin"></app-header-panel>
<app-navigation-bar *ngIf="!this.AuthService.inLogin"></app-navigation-bar>
<router-outlet *ngIf="this.rolesSE.firstValidationOfReadOnly"></router-outlet>
<app-external-tools></app-external-tools>
<app-test-environment-label *ngIf="!isProduction"></app-test-environment-label>
<app-share-request-modal></app-share-request-modal>
<app-footer></app-footer>