@use '../styles/fonts.scss' as fonts;

.global_information {
  position: relative;
  z-index: 2;
  background-color: var(--pr-color-primary-300);
  color: var(--pr-color-white);
  padding: 10px 100px;
  text-align: center;

  .close_icon {
    position: absolute;
    right: 0;
    margin-right: 10px;
    cursor: pointer;
  }
}

.modal_container {
  position: relative;
  padding: 80px 80px;

  .close_icon {
    position: absolute;
    color: var(--pr-color-primary-300);
    right: 0;
    top: 8px;
    margin-right: 20px;
    cursor: pointer;
  }

  .email {
    margin-bottom: 8px;

    a {
      color: var(--pr-color-primary-300);
      text-decoration: none;
      font-weight: 500;
    }
  }

  .title {
    @include fonts.pr-typography('h3');
    font-weight: 600;
    margin-bottom: 20px;
  }

  .line:nth-child(1) {
    width: 15px;
    height: 100%;
    background-color: var(--pr-color-primary-300);
    position: absolute;
    top: 0;
    left: 0;
  }

  .line:nth-child(2) {
    width: 15px;
    height: 100%;
    background-color: var(--pr-color-primary-300);
    position: absolute;
    top: 0;
    right: 0;
  }
}
