<div class="geo-scope">
    <div style="display: flex; justify-content: center; align-items: center;">
        <h4>{{index+1}}.</h4>
    </div>
    <app-pr-select [options]="body" [isStatic]="true" optionValue="id" label="Country" 
        optionLabel="name" placeholder="Select Country" [(ngModel)]="countrySelected" 
        (selectOptionEvent)="getSubNationalLevelOne()"></app-pr-select>
    <app-pr-select [options]="subNationalOne" label="Sub-national level 1" placeholder="Select Sub-national level 1" optionLabel="name" 
    [isStatic]="true" optionValue="geonameId" (selectOptionEvent)="getSSubNationalLevelTwo()" [(ngModel)]="subNationalOneSelected" ></app-pr-select>

    <app-pr-select [options]="subNationalTwo" label="Sub-national level 2" placeholder="Select Sub-national level 2" optionLabel="name" 
    [isStatic]="true" optionValue="geonameId"  [(ngModel)]="subNationalTwoSelected" ></app-pr-select>
    
    <div style="display: flex; justify-content: center; align-items: flex-end; height: 100%; ">
        <div class="delete" (click)="delete(index)">
            <i class="clickEvent material-icons-round ymz-lsi-delete-icon" style="color: red; cursor: pointer;">delete</i>
        </div>
    </div>
</div>