.geo-scope{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.delete{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

