.no-edit-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--pr-color-black-rgb), 0.678);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .alert {
    padding: 100px 50px;
    background-color: var(--pr-color-white);
    color: var(--pr-color-accents-5);
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
        font-size: 35px;
        margin-bottom: 20px;
      }
    }

    .description {
      font-size: 15px;
      padding: 0px 20px;
      text-align: center;

      strong {
        cursor: pointer;
        transition: all ease-out 0.3s;
      }

      &:hover {
        strong {
          color: var(--pr-color-blue-500);
          transition: all ease-out 0.3s;
        }
      }
    }
  }
}
