.medal_info {
  display: flex;
  align-items: center;
  color: rgb(167, 167, 167);
  gap: 10px;
}

.no-primary-list {
  color: var(--pr-color-primary-300);
  margin-top: 5px;
  font-weight: 500;
}

.selected_container {
  margin-top: 10px;
  overflow-y: auto;
  max-height: 300px;

  .chips_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 3px;

    .pending {
      .text_inactive {
        text-decoration: line-through;
      }
    }

    .pr_chip_selected {
      display: flex;
      justify-content: space-between;
      background-color: var(--pr-color-primary-50);
      color: var(--pr-color-secondary-400);
      font-size: 0.95em;
      padding: 6px 13px;
      border-radius: 10px;
      gap: 10px;
      align-items: center;

      .medal {
        transition: all ease-in-out 0.4s;
        color: rgb(167, 167, 167);
      }

      .primary {
        color: var(--pr-color-primary-300);
      }

      i {
        justify-self: center;
        align-self: center;
        cursor: pointer;
        font-size: 1.5em;
        color: rgb(68, 68, 68);
      }
    }
  }
}
