@use '../../../../../../../../../styles/fonts.scss' as fonts;

.feedback-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.analyze-result-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}

.bad-type-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 5px;
}

.bad-type-button-item {
  background-color: var(--pr-color-accents-2);
  border: 1px solid var(--pr-color-accents-2);
  padding: 4px 8px;
  border-radius: 8px;
  color: var(--pr-color-secondary-400);
  @include fonts.pr-typography('body-2');
  cursor: pointer;
  transition: all 0.2s ease;
}

.selected {
  background-color: var(--pr-color-primary-300);
  color: var(--pr-color-white);
}

::ng-deep {
  .p-popover:before,
  .p-popover:after {
    display: none;
  }

  .p-popover-content {
    padding: 0.75rem 1rem;
  }
}
