.pr_description {
  font-size: 1em;
  color: var(--pr-color-medium);
  margin-bottom: 5px;
}

.pr_label {
  margin-top: 20px;
  margin-bottom: 7px;
  color: black;
  text-align: left;
}

.pr_description.readOnly {
  ul {
    margin-top: 4px !important;
    margin-bottom: 2px !important;
  }
}

.support_information .p-dialog .p-dialog-content {
  background: #ffffff;
  color: #3f3f46;
  padding: 0px !important;
  border-radius: 5px;
  overflow: hidden;
}

input::placeholder,
.p-dropdown .p-dropdown-label.p-placeholder,
.p-inputtextarea::placeholder,
.select_placeholder {
  color: rgb(194, 194, 194);
  font-weight: 400;
  font-size: 1rem;
}

.input_container {
  position: relative;

  .hints_container {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    padding-top: 5px;

    .hint {
      color: var(--pr-color-medium);
      font-size: 0.9em;
    }
  }
}

.pr_chip_selected {
  background-color: var(--pr-color-primary-2);
  color: var(--pr-color-secondary);
  font-size: 0.95em;
  padding: 1px 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 15px;

  i {
    justify-self: center;
    align-self: center;
    cursor: pointer;
    font-size: 1.4em;
    color: rgb(252, 95, 95);
  }
}

.pr_chip_selected.pending {
  background-color: #ffe7ca !important;
}

.custom_select {
  .field {
    display: flex;
    justify-content: space-between;
    border: 1px solid #d4d4d8;
    padding: 8px 10px;
    padding-right: 15px;
    border-radius: 5px;
    align-items: center;
    position: relative;
    background-color: white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    cursor: pointer;
    // z-index: 2;

    .text {
      padding-right: 15px;
    }

    .remove_focus {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:focus-within {
      .options {
        display: flex;
        opacity: 1;
        transform: scale(1);
      }

      .remove_focus {
        display: block;
      }
    }

    .options {
      transform: scale(0);
      opacity: 0;
      // pointer-events: none;
      position: absolute;
      background-color: white;
      max-height: 300px;
      box-shadow: 0px 0px 5px rgb(204, 204, 204);
      width: 100%;
      left: 0;
      bottom: -255px;
      z-index: 3;
      flex-direction: column;

      .search_input_container {
        width: 100%;
        padding: 5px 10px;

        .p-fluid {
          width: 100%;
        }
      }

      .virtual_scroll {
        height: 200px;
        width: 100%;
        overflow-y: auto;
        overflow-x: scroll;

        .no_info {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 180px;
          color: var(--pr-color-primary-300);
        }

        .option {
          cursor: pointer;
          height: 30px;
          color: rgb(107, 107, 107);
          text-align: left;
          padding: 0px 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;

          .label {
            white-space: nowrap;
          }

          .event {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    i {
      color: #71717a;
      height: min-content;
    }
  }

  .selected_container {
    margin-top: 10px;
    overflow-y: auto;
    max-height: 300px;

    .chips_container {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}

.disabled {
  // pointer-events: none;
  p-checkbox {
    opacity: 0.7;
  }

  .label {
    opacity: 0.7;
  }
}

.option {
  position: relative;

  img {
    // position: absolute;
    // left: 0;
    // top: 50%;
    // transform: translateY(-50%);
    width: 20px;
  }
}

.position-relative {
  position: relative;
}

.icon_container_active {
  background-color: gray !important;
}

.icon_dropdown {
  position: relative;
  z-index: 2;
  pointer-events: none;
  color: white !important;
}

.custom_select {
  .icon_container {
    position: absolute;
    right: 0;
    background-color: var(--pr-color-primary-300);
    width: 43px;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    border-radius: 3px;
  }
}

.select_item_description {
  font-size: 0.8em;
  font-style: italic;
  color: gray;
}
