@use '../../styles/fonts.scss' as fonts;

.pr_description {
  @include fonts.pr-typography('body-2');
  color: var(--pr-color-accents-4);
  margin-bottom: 5px;
}

.pr_label {
  margin-top: 20px;
  margin-bottom: 7px;
  color: var(--pr-color-black);
  text-align: left;
  @include fonts.pr-typography('h4');
}

.pr_description.readOnly {
  ul {
    margin-top: 4px !important;
    margin-bottom: 2px !important;
  }
}

.support_information .p-dialog .p-dialog-content {
  background: var(--pr-color-white);
  color: var(--pr-color-secondary-400);
  padding: 0px !important;
  border-radius: 5px;
  overflow: hidden;
}

input::placeholder,
.p-dropdown .p-dropdown-label.p-placeholder,
.p-inputtextarea::placeholder,
.select_placeholder {
  color: var(--pr-color-accents-3);
  font-weight: 400;
  @include fonts.pr-typography('body-2');
}

.input_container {
  position: relative;

  .hints_container {
    display: flex;
    justify-content: space-between;
    padding: 0px 8px;
    padding-top: 5px;

    .hint {
      color: var(--pr-color-secondary-100);
      @include fonts.pr-typography('body-3');
    }
  }
}

.pr_chip_selected {
  background-color: var(--pr-color-primary-50);
  color: var(--pr-color-black) !important;
  @include fonts.pr-typography('body-2');
  padding: 1px 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 15px;

  i {
    justify-self: center;
    align-self: center;
    cursor: pointer;
    font-size: 1.4em;
    color: var(--pr-color-red-200);
  }
}

.pr_chip_selected.pending {
  background-color: var(--pr-color-orange-100) !important;
}

.custom_select {
  .field {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--pr-color-neutral-1000);
    padding: 8px 10px;
    padding-right: 15px;
    border-radius: 5px;
    align-items: center;
    position: relative;
    background-color: var(--pr-color-white);
    @include fonts.pr-typography('body-1');
    font-family: 'Poppins', sans-serif !important;
    width: 100%;
    cursor: pointer;

    .text {
      padding-right: 15px;
    }

    .remove_focus {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    &:focus-within {
      .options {
        display: flex;
        opacity: 1;
        transform: scale(1);
      }

      .remove_focus {
        display: block;
      }
    }

    .options {
      transform: scale(0);
      opacity: 0;
      position: absolute;
      background-color: var(--pr-color-white);
      max-height: 300px;
      box-shadow: 0px 0px 5px var(--pr-color-neutral-1000);
      width: 100%;
      left: 0;
      bottom: -255px;
      z-index: 3;
      flex-direction: column;

      .search_input_container {
        width: 100%;
        padding: 5px 10px;

        .p-fluid {
          width: 100%;
        }
      }

      .virtual_scroll {
        height: 200px;
        width: 100%;
        overflow-y: auto;
        overflow-x: scroll;

        .no_info {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 180px;
          color: var(--pr-color-primary-300);
        }

        .option {
          cursor: pointer;
          height: 30px;
          color: var(--pr-color-accents-5);
          text-align: left;
          padding: 0px 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;

          .label {
            white-space: nowrap;
          }

          .event {
            position: absolute;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    i {
      color: var(--pr-color-secondary-300);
      height: min-content;
    }
  }

  .selected_container {
    margin-top: 10px;
    overflow-y: auto;
    max-height: 300px;

    .chips_container {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  .icon_container {
    position: absolute;
    right: 0;
    background-color: var(--pr-color-primary-300);
    width: 43px;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    border-radius: 3px;
  }
}

.disabled {
  p-checkbox {
    opacity: 0.7;
  }

  .label {
    opacity: 0.7;
  }
}

.option {
  position: relative;

  img {
    width: 20px;
  }
}

.position-relative {
  position: relative;
}

.icon_container_active {
  background-color: var(--pr-color-accents-5) !important;
}

.icon_dropdown {
  position: relative;
  z-index: 2;
  pointer-events: none;
  color: var(--pr-color-white) !important;
}

.select_item_description {
  @include fonts.pr-typography('body-3');
  font-style: italic;
  color: var(--pr-color-accents-5);
}
