.pr_description {
    font-size: 1em;
    color: var(--pr-color-medium);
    margin-bottom: 5px;
}

.pr_label {
    margin-top: 20px;
    color: black;
    text-align: left;
}


.support_information .p-dialog .p-dialog-content {
    background: #ffffff;
    color: #3f3f46;
    padding: 0px !important;
    border-radius: 5px;
    overflow: hidden;
}

.input_container {
    position: relative;

    .hints_container {
        display: flex;
        justify-content: space-between;
        padding: 0px 8px;
        padding-top: 5px;

        .hint {
            color: var(--pr-color-medium);
            font-size: .9em;
        }
    }
}