@use '../../../../../styles/fonts.scss' as fonts;

.local_container {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 95% !important;
  padding: 40px 50px;

  .kp_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    gap: 1rem;

    .kp_header--title {
      @include fonts.pr-typography('h2');
      font-weight: 600;
      margin: 0;
    }
  }

  .kp--desc {
    @include fonts.pr-typography('body-1');
    margin: 0;
  }

  .kp_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    margin-top: 20px;
    border: 1px solid var(--pr-color-accents-2);
    border-radius: 1rem;
    padding: 20px;

    .kp_content--title {
      @include fonts.pr-typography('h3');
      margin: 0;
    }

    .kp_content_item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 5px;
      padding: 0 10px;

      .kp_content_item--title {
        @include fonts.pr-typography('h4');
        margin: 0;
      }

      .kp_content_item--desc {
        @include fonts.pr-typography('body-2');
        margin: 0;
        color: var(--pr-color-accents-4);
      }

      .kp_content_item_export {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 1rem;
        margin-top: 10px;
      }

      .kp_content_item--input {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        gap: 1rem;
        margin-top: 10px;
      }
    }
  }
}
