<div class="filters">
    <div *ngFor="let filter of this.ipsrListFilterSE.filters.general" class="filter {{filter.attr}}">
        <div class="filter_title">{{filter.filter_title}}</div>
        <div class="chips">
            <div class="chip"
                [ngClass]="{'chip_selected': option.selected,'disabled':option.name=='2023' || option.name=='2024'}"
                (click)="this.ipsrListFilterSE.onSelectChip(option); this.ipsrListFilterSE.cleanAllFilters(option)"
                *ngFor="let option of filter?.options">
                {{option.name}}</div>
        </div>
    </div>
</div>

<div class="search">
    <div class="search_input ipsr_searhc_input">
        <i class="material-icons-round">search</i>
        <input type="text" placeholder="Find result..." [(ngModel)]="this.ipsrListService.text_to_search">
    </div>
    
    <div class="download_button_container">
        <app-pr-button 
        *ngIf="(this.ipsrDataControlSE.ipsrResultList | innovationPackageListFilter : this.ipsrListService.text_to_search).length > 0"
        text="Download" (click)="onDownLoadTableAsExcel(onFilterSelectedInits(), onFilterSelectedPhases(), this.ipsrListService.text_to_search)" [icon]="isLoadingReport ? 'loop' : 'file_download'" [rotating]="this.isLoadingReport" ></app-pr-button>
    </div>
</div>