.action_area_item {
    border: 1px dotted rgb(179, 179, 179);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    padding: 10px;

    img {
        width: 50px;
    }
}