.ipsr_green_check_icon_container {
  background-color: var(--pr-color-white);
  padding: 1px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .gc_icon {
    color: var(--pr-color-neutral-1000);
  }

  .active {
    color: var(--pr-color-green-100);
  }
}
