.ipsr_green_check_icon_container {
    background-color: white;
    padding: 1px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .gc_icon {
        color: rgb(207, 207, 207);
    }

    .active {
        color: rgb(22, 179, 22);
    }
}