@let isSubmitted = this.indicatorDetailsService.indicatorData()?.submission_status == '1';

<app-pr-table
  id="linkedResultsTableList"
  [value]="this.indicatorDetailsService.indicatorData().contributing_results"
  [rows]="10"
  [rowsPerPageOptions]="[10, 20, 30, 40, 50]"
  [paginator]="this.indicatorDetailsService.indicatorData().contributing_results?.length > 10">
  <ng-template prTableHeader>
    <tr>
      <th prSortableColumn="result_code" id="result-code-header">Result code <pr-sort-icon field="result_code" /></th>
      <th prSortableColumn="title" id="result-title-header">Title <pr-sort-icon field="title" /></th>
      <th prSortableColumn="phase_name" id="phase-name-header">Phase <pr-sort-icon field="phase_name" /></th>
      <th prSortableColumn="result_type" id="result-type-header">Indicator category <pr-sort-icon field="result_type" /></th>
      <th prSortableColumn="result_submitter" id="submitter-header">Submitter <pr-sort-icon field="result_submitter" /></th>
      <th prSortableColumn="status_name" id="result-status-header">Status <pr-sort-icon field="status_name" /></th>
      <th prSortableColumn="created_date" id="result-creation-date-header">Creation date <pr-sort-icon field="created_date" /></th>
      <th id="action-header">Action</th>
    </tr>
  </ng-template>

  <ng-template prTableBody let-item>
    <tr>
      <td class="text-center" [ngClass]="{ removed: item?.is_active === false }">{{ item?.result_code }}</td>
      <td [ngClass]="{ removed: item?.is_active === false }">
        <div class="title-container">
          @if (item?.is_added) {
            <span class="not-saved">Not saved</span>
          }
          @if (item?.is_manually_mapped == '0') {
            <img src="assets/icons/toc_icon.png" alt="TOC icon" style="width: 16px; height: 16px" />
          }
          {{ item?.title }}
        </div>
      </td>
      <td class="text-center" [ngClass]="{ removed: item?.is_active === false }">{{ item?.phase_name }}</td>
      <td class="text-center" [ngClass]="{ removed: item?.is_active === false }">{{ item?.result_type }}</td>
      <td class="text-center" [ngClass]="{ removed: item?.is_active === false }">{{ item?.result_submitter }}</td>
      <td class="text-center" [ngClass]="{ removed: item?.is_active === false }">{{ item?.status_name }}</td>
      @if (item?.is_added) {
        <td class="text-center" style="white-space: nowrap" [ngClass]="{ removed: item?.is_active === false }">
          {{ item?.created_date | date: 'YYYY-MM-dd' }}
        </td>
      } @else {
        <td class="text-center" style="white-space: nowrap" [ngClass]="{ removed: item?.is_active === false }">{{ item?.created_date }}</td>
      }
      <td>
        <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; gap: 1rem">
          <app-pr-button
            text="View"
            colorType="secondary"
            [verticalMargin]="0"
            (click)="openInNewPage(item?.result_code, item?.version_id)"></app-pr-button>
          <app-pr-button
            text="Remove"
            colorType="danger"
            [verticalMargin]="0"
            (click)="handleRemoveIndicator(item)"
            [ngClass]="{ globalDisabled: item?.is_active === false || isSubmitted }"></app-pr-button>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template prTableEmpty>
    <tr style="height: 100px">
      <td colspan="8" class="noDataText">There are no results.</td>
    </tr>
  </ng-template>
</app-pr-table>

@if (this.indicatorDetailsService.indicatorData().contributing_results?.length) {
  <div class="total">
    Total:
    {{ this.indicatorDetailsService.indicatorData().contributing_results?.length }}
  </div>
}
