.p {
  margin: 0;
}

.init {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--pr-color-primary-300);
  padding: 0px 8px;
  border: 1px solid var(--pr-color-primary-300);
  border-radius: 20px;
  width: fit-content;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 500;
}

.date {
  font-size: 12px;
  font-weight: 400;
  color: var(--pr-color-accents-4);
  text-align: right;
  margin-top: 6px;
}

.notification {
  display: block;
  unicode-bidi: isolate;
  padding: 15px 1.5rem 10px 1.5rem;
  background-color: var(--pr-color-primary-25);
  border-bottom: 1px solid var(--pr-color-primary-300);
  color: var(--pr-color-black);

  &:hover {
    background-color: var(--pr-color-primary-50);
    cursor: pointer;
  }
}
