<div class="alert-global-info {{className}}" [style]="inlineStyles">
  <app-alert-status description=" Reporting on <strong>knowledge products</strong>, <strong>innovation development</strong> and <strong>innovation use</strong> is open from 18
  September 2023. Reporting for <strong>policy change</strong> and <strong>capacity sharing</strong> for development results, and <strong>engagement activities</strong>
  will become open once the relevant updates have been published on the PRMS Reporting Tool."
    inlineStyles="background-color: #fff; margin: 0;"></app-alert-status>
</div>