.modal_container {
  padding: 20px 50px 80px 50px;
  width: 100vw !important;
  max-width: 60vw !important;
  min-height: 700px !important;
}

.modal_title {
  background-color: var(--pr-color-secondary);
  width: 100%;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
  padding: 10px 20px;
  border-bottom-right-radius: 10px;
}

.buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 0px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.information {
  font-size: 13px;
  strong {
    color: var(--pr-color-primary-300);
  }
}

.small_height {
  min-height: 310px !important;
}
