.local_container {
    padding: 20px;
}

.link_box {
    padding-left: 20px;

    .l_title {
        font-weight: 500;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .content {
        padding-left: 20px;
    }

}