@use '../../../../../../../../../../../styles/fonts.scss' as fonts;

.chips_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  max-height: 70vh !important;

  .pr_chip_selected {
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;

    .deliveries_container {
      display: flex;
      align-items: center;
      gap: 15px;
      i {
        font-size: 20px;
      }
    }

    .deliveries {
      display: flex;
      gap: 10px;

      .delivery {
        padding: 7px 14px;
        background-color: var(--pr-color-white);
        color: var(--pr-color-primary-300);
        cursor: pointer;
        border-radius: 15px;
        font-weight: 500;
      }

      .delivery.active {
        background-color: var(--pr-color-primary-300) !important;
        color: var(--pr-color-white) !important;
      }
    }
  }
}

.partners_selected_header {
  padding-top: 15px;
  padding-bottom: 2px;
}

.partners_container {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .partner_types_container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 10px;
    align-items: center;

    .partner_type_chip_selected {
      padding: 5px;
      position: relative;
      display: flex;
      flex-direction: column;
      border: 1px solid var(--pr-color-secondary-100);
      color: var(--pr-color-secondary-100);
      border-radius: 10px;
    }
  }
}

.readOnly_deliveries {
  .delivery {
    padding: 4px 8px !important;
    border-radius: 3px !important;
  }
}

.column_title {
  @include fonts.pr-typography('h4');
  font-weight: 500;
  margin-top: 20px;

  &.required::after {
    content: '*';
    color: var(--pr-color-red-100);
    margin-left: 0;
  }
}
