<div class="section_container">
    <app-section-header titleText="Innovation Packages"
        description="Here you will see a list of all the Innovation Packages so that you can access them."></app-section-header>
    <a routerLink="/ipsr/creator"><app-pr-button *ngIf="!this.api.rolesSE.platformIsClosed"
            text="Create a new Innovation Package" icon="add_box" [reverse]="true"></app-pr-button></a>

    <div class="filters">
        <div class="filter submitter">
            <div class="filter_title">Initiatives (s)</div>
            <div class="chips">
                <div class="chip" [ngClass]="{'chip_selected': everyDeselected}" (click)="deselectInits()">
                    All Initiatives
                </div>
                <div *ngFor="let option of this.api.dataControlSE.myInitiativesList" class="chip"
                    [ngClass]="{'chip_selected': option.selected}" (click)="this.onSelectChip(option)">
                    {{option.name}}</div>

            </div>
        </div>
    </div>

    <br>

    <div class="search_input">
        <i class="material-icons-round">search</i>
        <input type="text" placeholder="Find result..." [(ngModel)]="searchText">
    </div>
    <app-innovation-package-custom-table (deleteEvent)="this.GETAllInnovationPackages()"
        [total]="this.innovationPackagesList?.length"
        [tableData]="this.innovationPackagesList | innovationPackageListFilter:searchText:this.api.dataControlSE?.myInitiativesList:initsSelectedJoinText"></app-innovation-package-custom-table>
</div>