<br>
<div class="section_container">
    <div class="section_header">
        <div class="section_title">
            Innovation Packages
        </div>
        <div class="section_description">
            Here you will see a listing of all the Innovation Packages so that you can access them.
        </div>
    </div>
    <app-pr-button text="Create a new Innovation Package" icon="add_box" [reverse]="true"></app-pr-button>
    <app-innovation-package-custom-table></app-innovation-package-custom-table>
</div>