<div class="local_container section_container">

    <app-pr-select class="segment_title_margin" [options]="this.api.dataControlSE.myInitiativesList"
        *ngIf="!this.api.rolesSE.isAdmin" label="Report for" [isStatic]="true" optionLabel="full_name"
        optionValue="initiative_id" placeholder="Select initiative" (selectOptionEvent)="selectOptionEvent($event)"
        [(ngModel)]="this.resultLevelSE.resultBody.initiative_id">
    </app-pr-select>

    <app-pr-select class="segment_title_margin" [options]="this.allInitiatives" label="Report for" [isStatic]="true"
        *ngIf="this.api.rolesSE.isAdmin" optionLabel="full_name" optionValue="initiative_id"
        (selectOptionEvent)="selectOptionEvent($event)" placeholder="Select initiative"
        [(ngModel)]="this.resultLevelSE.resultBody.initiative_id">
    </app-pr-select>


    <app-no-data-text *ngIf="!this.showIframe" title="Select an initiative to display the content"></app-no-data-text>



    <iframe *ngIf="this.showIframe" class="embedded" [src]="this.sanitizeUrl()" frameborder="0"></iframe>

</div>