.embedded {
  width: 100%;
  height: calc(100vh - 300px);
  box-shadow: 0px 0px 11px 5px rgba(var(--pr-color-black-rgb), 0.102);
  border-radius: 8px;
}

.local_container {
  margin-top: 20px !important;
  padding: 0px 30px;
  padding-top: 15px !important;
  min-height: calc(100vh - 270px);
}

.expand_icon {
  position: absolute !important;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: var(--pr-color-primary-300);
  z-index: 4;
  color: var(--pr-color-white);
  width: max-content;
  gap: 10px;
  padding: 5px 10px;
  margin: 10px;
  margin-right: 30px;
  box-shadow: 0px 0px;
  cursor: pointer;
  border-radius: 5px;
}

.iframe_container {
  position: relative;
}

.expand {
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh !important;

  .embedded {
    width: 100vw;
    height: 100vh !important;
  }
}
