<div class="local_container section_container">
  <app-pr-select
    class="segment_title_margin"
    [options]="this.api.dataControlSE.myInitiativesList"
    *ngIf="!this.api.rolesSE.isAdmin"
    label="Select entity"
    [isStatic]="true"
    optionLabel="full_name"
    optionValue="official_code"
    placeholder="Select entity"
    (selectOptionEvent)="selectOptionEvent($event)"
    [(ngModel)]="official_code">
  </app-pr-select>

  <app-pr-select
    class="segment_title_margin"
    [options]="this.allInitiatives"
    label="Select entity"
    [isStatic]="true"
    *ngIf="this.api.rolesSE.isAdmin"
    optionLabel="full_name"
    optionValue="official_code"
    (selectOptionEvent)="selectOptionEvent($event)"
    placeholder="Select entity"
    [(ngModel)]="official_code">
  </app-pr-select>

  <app-no-data-text
    *ngIf="!this.showIframe || !this.official_code || !this.clarisaQaToken"
    title="Select an Initiative to display the content"></app-no-data-text>

  <br />

  <div
    [ngClass]="{ expand: this.api.dataControlSE.show_qa_full_screen }"
    class="iframe_container"
    *ngIf="this.showIframe && this.clarisaQaToken && this.official_code">
    <div class="expand_icon" (click)="this.api.dataControlSE.show_qa_full_screen = !this.api.dataControlSE.show_qa_full_screen">
      <i class="material-icons-round">
        {{ this.api.dataControlSE.show_qa_full_screen ? 'close_fullscreen' : 'open_in_full' }}
      </i>
      {{ this.api.dataControlSE.show_qa_full_screen ? 'Minimize ' : 'Open in full screen' }}
    </div>

    <iframe title="quality-assurance" onload="resizeIframe(this)" class="embedded" [src]="this.sanitizedUrl"></iframe>
  </div>
  <br />
</div>
