<div class="ipsr-sub-title">Scaling ambition</div>

<div appFeedbackValidation labelText="Specify aspired outcomes and impact" [isComplete]="!!this.body.eoiOutcomes.length"></div>

<div class="dropdown-50p">
  <app-pr-multi-select
    [options]="this.eoiList"
    label="Specify aspired outcomes and impact"
    [description]="specifyText()"
    optionLabel="title"
    optionValue="toc_result_id"
    selectedOptionLabel="title"
    [required]="true"
    placeholder="End of Initiative outcome(s)"
    selectedLabel="End of Initiative outcome(s) selected"
    [(ngModel)]="this.body.eoiOutcomes">
  </app-pr-multi-select>
</div>

<div class="step_divider"></div>
