<div class="ipsr-sub-title">Scaling ambition</div>

<div class="dropdown-50p">
    <app-pr-multi-select [options]="this.eoiList" label="Specify aspired outcomes and impact"
        description="Specify to which CGIAR Action Area outcomes the scaling of the core innovation is expected to contribute by 2024 in the selected geolocation"
        optionLabel="title" optionValue="toc_result_id" selectedOptionLabel="title"
        placeholder="End of Initiative Outcome(s)" selectedLabel="End of Initiative Outcome(s) selected"
        [(ngModel)]="this.body.eoiOutcomes">
    </app-pr-multi-select>
</div>

<div class="step_divider"></div>