.field_container {
    display: flex;
    align-items: center;
    gap: 10px;

    .inputTitle {
        font-size: 1.2em;
        font-weight: 500;
    }

    .p-fluid {
        width: 100%;
    }
}

.flags {
    padding-left: 25px;
}

.option {
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
    }
}

.selected {
    color: var(--pr-color-primary) !important;
}