<div class="section_container">
  <div class="big_text">
    <div class="hello">Hello <strong>{{ this.authService?.localStorageUser?.user_name }}</strong></div>
    <div class="year">2022</div>
  </div>
  <div class="description">Welcome to the {{internationalizationData.platformName}}. As per your profile, you
    have not editing permissions to report on
    any initiatives. Therefore, you are able to access everything in the system, but you are not able to edit anything.
  </div>

  <div class="result_information">
    <div class="title">Results reported by Action Area</div>
    <div class="primary_action_areas">
      <div class="action_area"></div>
      <div class="action_area"></div>
      <div class="action_area"></div>
    </div>
  </div>
</div>