<div class="step_title"><strong>Step 4:</strong>Additional information</div>

<div class="step_divider"></div>

<app-step-n4-initiative-investment-table [body]="this.ipsrStep4Body"></app-step-n4-initiative-investment-table>

<div class="fragment_section_divider"></div>

<app-step-n4-bilateral-investment-table [body]="this.ipsrStep4Body"></app-step-n4-bilateral-investment-table>

<div class="fragment_section_divider"></div>

<app-step-n4-partner-co-investment-table [body]="this.ipsrStep4Body"></app-step-n4-partner-co-investment-table>

<app-step-n4-reference-material-links [body]="this.ipsrStep4Body"></app-step-n4-reference-material-links>

<div class="toggle_change_step">
  <app-pr-button
    (click)="onSavePrevious('previous')"
    padding="big"
    [text]="this.api.rolesSE.readOnly ? 'Go to previous step' : 'Save & go to previous step'"
    icon="arrow_circle_left"
    [reverse]="true"></app-pr-button>
</div>

<app-save-button class="position_sticky" (clickSave)="onSaveSection()"> </app-save-button>
