.altmetric_details_url {
    .altmetric_image {
        width: 80px;
    }
}

.circle-progress-group {
    display: flex;
    flex-direction: column;

    .item {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}