.altmetric_details_url {
  .altmetric_image {
    width: 80px;
  }
}

.circle-progress-group {
  display: flex;
  flex-direction: column;

  .item {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.custom_chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .author {
    border-radius: 100px;
    background-color: var(--pr-color-primary-50);
    padding: 5px 15px;
  }
}

.texts {
  .indicators {
    display: flex;
    align-items: center;
    .check {
      color: var(--pr-color-success);
      margin-right: 5px;
    }
    .incomplete {
      color: var(--pr-color-danger);
      margin-right: 5px;
    }
  }
}
