.radioButtonList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    .radioButton {
        display: flex;
        align-items: center;
        gap: 8px;

        .name {
            cursor: pointer;
        }
    }
}