@if (this.preventFieldRender()) {
  <div class="field_card" [ngClass]="'fc-' + fieldState">
    <div class="field_card_header">
      <span class="fch_title" [innerHTML]="this.label"></span>
      <span class="fch_tag">{{ this.required ? 'Mandatory' : 'Optional' }}</span>
      <span class="fch_info_wrap">
        <i class="material-icons-round fch_info" aria-label="Field color legend">info</i>
        <div class="fch_legend">
          <div class="legend_row"><span class="dot dot-blue"></span> Optional (empty)</div>
          <div class="legend_row"><span class="dot dot-orange"></span> Mandatory (empty)</div>
          <div class="legend_row"><span class="dot dot-green"></span> Filled / valid</div>
          <div class="legend_row"><span class="dot dot-red"></span> Over limit / invalid</div>
        </div>
      </span>
    </div>
    @if (this.description) {
      <div class="field_card_desc">
        <span class="desc_chip">Description</span>
        <div class="desc_text" [innerHTML]="this.description"></div>
      </div>
    }

    <div class="pr-field" [ngClass]="{ mandatory: this.required, complete: value !== null && value !== undefined }">
    <div
      class="radioButtonList"
      [ngClass]="{ verticalAlignment: this.verticalAlignment, 'block-field': (readOnly || disabled || this.rolesSE.readOnly) && !isStatic }"
      [hidden]="hideOptions">
      <div *ngFor="let option of this.options; let i = index">
        <div class="radioButton">
          <p-radioButton
            (click)="onSelect(option[optionValue])"
            (ngModelChange)="onValueChange($event)"
            [id]="'radio_' + i"
            name="groupname"
            [value]="option[optionValue]"
            [(ngModel)]="value"
            [disabled]="(readOnly || disabled || this.rolesSE.readOnly) && !isStatic">
          </p-radioButton>
          <label [for]="'radio_' + i" class="name pr-body-2">{{ option[this.optionLabel] }}</label>
        </div>

        <div
          *ngIf="textInputWhenSelectedLabels?.includes(option[optionLabel]) && value === option[optionValue]"
          style="margin-top: 18px; max-width: 300px">
          <app-pr-input
            [label]="textInputLabelOverrides?.[option[optionLabel]] ?? textInputLabel"
            [placeholder]="textInputPlaceholderOverrides?.[option[optionLabel]] ?? textInputPlaceholder"
            variant="xs"
            [(ngModel)]="option.answer_text"
            [required]="textInputRequiredWhenSelectedLabels?.includes(option[optionLabel])"
            [disabled]="(readOnly || this.rolesSE.readOnly) && !isStatic">
          </app-pr-input>
        </div>

        <ng-container *ngIf="option?.subOptions?.length && value === option[optionValue]">
          <p class="radioButton__subLabel" *ngIf="option?.subOptions?.length">{{ this.subLabel }}</p>
          <div *ngFor="let checkbox of option[this.checkboxConfig?.listAttr]" class="checkboxList">
            <app-pr-checkbox
              [label]="checkbox[this.checkboxConfig.optionLabel]"
              [(ngModel)]="checkbox[this.checkboxConfig.optionValue]"
              (ngModelChange)="checkbox.answer_text && setAnswerTextToNull(checkbox)"
              [readOnly]="this.value !== option[this.optionValue] || ((readOnly || disabled || this.rolesSE.readOnly) && !isStatic)">
            </app-pr-checkbox>
            <app-pr-input
              placeholder=""
              *ngIf="checkbox?.question_text == 'Other'"
              variant="xs"
              [(ngModel)]="checkbox[this.checkboxConfig.optionTextValue]"
              [disabled]="!checkbox[this.checkboxConfig.optionValue] || ((readOnly || disabled || this.rolesSE.readOnly) && !isStatic)"></app-pr-input>
          </div>
        </ng-container>
      </div>
    </div>
    </div>
  </div>
}
