.radioButtonList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .radioButton {
    display: flex;
    align-items: center;
    gap: 8px;

    &__subLabel {
      margin: 0;
      margin-left: 25px;
      font-size: 12px;
      color: var(--text-color-secondary);
    }
  }
}

.checkboxList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  padding: 5px;
}

.verticalAlignment {
  flex-direction: column !important;
  gap: 15px !important;
}

.block-field {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
  }
}
