.required::after {
    content: '*';
    color: rgb(255, 92, 92);
    margin-left: 2px;
}

.simpleStyle {
    color: var(--pr-color-primary) !important;
    opacity: .8;
    // margin-bottom: -10px;
}

.pr_description.readOnly {
    color: var(--pr-color-primary) !important;
    font-weight: 500;
    background-color: rgb(247, 247, 247);
    border-radius: 7px;
    padding: 5px 0px;
    box-shadow: 0px 0px 2px 5px rgba(0, 0, 0, 0.034);
    margin-bottom: 15px;

    &::before {
        content: 'Description:';
        font-size: .8em;
        font-style: italic;
        margin-left: 10px;
        color: gray;
    }
}