.navigation_bar {
  display: flex;
  gap: 20px;
  height: 80px;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;

  .section_active {
    font-weight: 600 !important;
    color: var(--pr-color-primary-100) !important;
    border-bottom: 4px solid var(--pr-color-primary-100) !important;

    &.hide_active_in_notifications {
      font-weight: 500 !important;
      color: var(--pr-color-white) !important;
      border-bottom: 4px solid transparent !important;
    }
  }

  .navigation_bar_item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color: var(--pr-color-white);
    height: 80px;
    padding: 0px 5px;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent;
    transition: all ease-in-out 0.3s;

    img {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      height: 30px;
    }
  }
}

.padding-right-40 {
  padding-right: 40px !important;
}
