<div *ngIf="dataTable.length != 0">
  <div class="search_input">
    <i class="material-icons-round">search</i>
    <input type="text" placeholder="Find Innovation" [(ngModel)]="searchText" />
  </div>

  <div class="table">
    <app-pr-table
      sortField="result_code"
      [sortOrder]="-1"
      [value]="dataTable | filterByText: searchText"
      [paginator]="!!(dataTable | filterByText: searchText)?.length"
      [rows]="10"
      selectionMode="single"
      [rowsPerPageOptions]="[10, 50, 100]">
      <ng-template prTableHeader>
        <tr>
          <th id="select" *ngIf="!this.api.rolesSE.platformIsClosed && !this.api.rolesSE.readOnly" style="width: 61px">Select</th>

          @for (column of columnOrder; track $index) {
            <th [id]="column.attr" [prSortableColumn]="column.attr" [style]="{ width: column.width }">
              <pr-sort-icon [field]="column.attr"></pr-sort-icon>
              {{ column.title }}
            </th>
          }

          <th id="action" *ngIf="!this.api.rolesSE.platformIsClosed && !this.api.rolesSE.readOnly" style="width: 140px">Action</th>
        </tr>
      </ng-template>

      <ng-template prTableBody let-result>
        <tr>
          @if (!this.api.rolesSE.platformIsClosed && !this.api.rolesSE.readOnly) {
            <td class="actionsSelect" style="min-height: 72px; height: 100%">
              <div class="link_button" (click)="!result.selected ? selectInnovation(result) : cancelInnovationEvent(result)">
                <i class="material-icons-round" style="font-size: 20px">
                  {{ !result.selected ? 'check_circle' : 'remove_circle_outline' }}
                </i>
              </div>
            </td>
          }

          @for (column of columnOrder; track $index) {
            <td [class]="column.attr" style="min-height: 72px; height: 100%">
              <a [class]="column.class">
                {{ column.attr !== 'created_date' ? result[column.attr] : (result[column.attr] | date: 'YYYY-MM-dd') }}
              </a>

              <div class="transparent_text">
                {{ result[column.attr] }}
              </div>
            </td>
          }

          @if (!this.api.rolesSE.platformIsClosed && !this.api.rolesSE.readOnly) {
            <td class="actions" style="min-height: 72px; height: 100%">
              <div class="link_button" (click)="openNewWindow(result)">
                <i class="material-icons-round" style="font-size: 20px">visibility</i>
              </div>
            </td>
          }
        </tr>
      </ng-template>
    </app-pr-table>

    <div class="total" *ngIf="(dataTable | filterByText: searchText)?.length">
      Total:
      {{ (dataTable | filterByText: searchText)?.length }} / {{ dataTable?.length }}
    </div>

    @if (!(dataTable | filterByText: searchText)?.length) {
      <div class="noDataText">There are no results for the selected filters.</div>
    }
  </div>
</div>
