@let activeButtons = this.api.dataControlSE?.myInitiativesListIPSRByPortfolio?.length > 0 || this.api.rolesSE?.isAdmin;

<div class="ipsr_container">
  <app-section-header
    titleText="Innovation Packages"
    description="Here you will see a list of all the Innovation Packages so that you can access them.">
  </app-section-header>

  <div class="ipsr_buttons">
    <a [routerLink]="activeButtons ? '/ipsr/creator' : null">
      <app-pr-button
        *ngIf="!this.api.rolesSE.platformIsClosed"
        text="Create a new Innovation Package"
        icon="add_box"
        [reverse]="true"
        tooltipTextPosition="bottom"
        [tooltipText]="!activeButtons ? 'To create a result, please ensure that you have a role assigned in the active portfolio.' : null"
        [ngClass]="{ disabledButtons: !activeButtons }"></app-pr-button>
    </a>

    <app-pr-button
      text="Update an Innovation Package"
      icon="moving"
      [reverse]="true"
      [ngClass]="{ disabledButtons: !activeButtons }"
      tooltipTextPosition="bottom"
      [tooltipText]="!activeButtons ? 'To update a result, please ensure that you have a role assigned in the active portfolio.' : null"
      (click)="activeButtons ? (this.ipsrDataControlSE.ipsrUpdateResultModal = true) : null"></app-pr-button>
  </div>

  <app-ipsr-list-filters></app-ipsr-list-filters>

  <app-innovation-package-custom-table
    (deleteEvent)="this.GETAllInnovationPackages()"
    [tableData]="this.ipsrDataControlSE.ipsrResultList | innovationPackageListFilter: this.ipsrListService.text_to_search"
    [total]="this.totalResults"></app-innovation-package-custom-table>
</div>

<app-update-ipsr-result-modal></app-update-ipsr-result-modal>

@if (this.api.dataControlSE.chagePhaseModal) {
  <app-change-phase-modal></app-change-phase-modal>
}
