<div class="del">
  <h3 class="del-title">Source Materials</h3>

  @if (hasAnyEvidence()) {
    @if (documents.length) {
      <div class="del-group">
        <h4 class="del-group-title">
          <i class="material-icons-round">description</i>
          Documents ({{ documents.length }})
        </h4>
        <div class="del-list">
          @for (doc of documents; track doc) {
            <div class="del-item">
              <div class="del-item-icon">
                <i class="material-icons-round">description</i>
              </div>
              <div class="del-item-content">
                <div class="del-item-name">{{ getFileName(doc) }}</div>
              </div>
            </div>
          }
        </div>
      </div>
    }

    @if (audioFiles.length) {
      <div class="del-group">
        <h4 class="del-group-title">
          <i class="material-icons-round">audiotrack</i>
          Audio Recordings ({{ audioFiles.length }})
        </h4>
        <div class="del-list">
          @for (audio of audioFiles; track audio) {
            <div class="del-item">
              <div class="del-item-icon del-item-icon--audio">
                <i class="material-icons-round">audiotrack</i>
              </div>
              <div class="del-item-content">
                <div class="del-item-name">{{ getFileName(audio) }}</div>
              </div>
            </div>
          }
        </div>
      </div>
    }

    @if (textContext) {
      <div class="del-group">
        <h4 class="del-group-title">
          <i class="material-icons-round">notes</i>
          Text Context
        </h4>
        <div class="del-text-context">
          <p>{{ textContext }}</p>
        </div>
      </div>
    }
  } @else {
    <div class="del-empty">
      <i class="material-icons-round">cloud_off</i>
      <p>No source materials available for this draft.</p>
    </div>
  }
</div>
