@use '../../../../../styles/fonts.scss' as fonts;

.innovation_packages_title {
  width: 90%;
  margin: 1rem auto 2rem auto;

  .title {
    padding: 1rem;
    background-color: var(--pr-color-white);
    box-shadow: 0px 0px 5px 5px rgba(var(--pr-color-black-rgb), 0.027);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    font-weight: 600;
    color: var(--pr-color-secondary-400);
  }
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: 100%;
}

.section_container {
  overflow: hidden;
  margin-bottom: 50px;

  .ipsr-detail-line {
    background-color: var(--pr-color-primary-300);
    width: 100%;
    height: 2px;
  }

  .fixed_data_container {
    padding: 20px 50px 0px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .section_name {
      @include fonts.pr-typography('h3');
      color: var(--pr-color-accents-4);
      font-weight: 400;
    }

    .metadata {
      display: flex;
      gap: 10px;
      @include fonts.pr-typography('body-3');

      .item {
        border: 1px solid var(--pr-color-primary-300);
        color: var(--pr-color-primary-300);
        padding: 5px 10px;
        border-radius: 7px;
        @include fonts.pr-typography('body-2');
        span {
          color: var(--pr-color-secondary-100);
        }
      }
    }
  }

  .content {
    position: relative;
  }
}

.content {
  min-height: calc(100vh - 200px);
  padding: 10px 50px 0px 50px;
}

@media only screen and (max-width: 1400px) {
  .innovation_packages_title {
    width: 97%;
  }
}

@media only screen and (min-width: 1400px) {
  .innovation_packages_title {
    width: 90%;
  }
}
