<app-pr-field-header label="Lead CGIAR Initiative" [required]="false">
</app-pr-field-header>
<div class="toct_text">Theory of Change</div>

<div *ngIf="this.contributorsBody?.result_toc_result?.initiative_id">
    <div class="date"><strong>Updated on:&nbsp;</strong> 6 October, 2022 - 2:00:22 PM - (CET)</div>
    <app-toc-initiative-out [initiative]="this.contributorsBody.result_toc_result" [isIpsr]="true"
        [editable]="!platformIsClosed && (this.rolesSE.validateInitiative(this.contributorsBody.result_toc_result?.initiative_id) || this.rolesSE.isAdmin) && !this.api.dataControlSE?.currentResult?.status"
        [resultLevelId]="2">
    </app-toc-initiative-out>
</div>
<app-pr-multi-select [options]="this.contributingInitiativesList" label="Contributing CGIAR Initiatives"
    [disableOptions]="this.contributorsBody?.pending_contributing_initiatives"
    selectedLabel="Contributing CGIAR Initiatives" optionLabel="full_name" optionValue="id"
    (selectOptionEvent)="onSelectContributingInitiative()" [required]="false"
    (removeOptionEvent)="onRemoveContributingInitiative($event)" selectedOptionLabel="full_name"
    [(ngModel)]="this.contributorsBody.contributing_initiatives" [confirmDeletion]="true"
    placeholder="Select initiative(s)">
</app-pr-multi-select>
<hr>
<app-pr-field-header label="Theory of Change" [required]="false" [simpleStyle]="true"
    *ngIf="this.contributorsBody.contributors_result_toc_result?.length">
</app-pr-field-header>
<div *ngFor="let initiative of this.contributorsBody.contributors_result_toc_result">
    <app-toc-initiative-out [initiative]="initiative" [isIpsr]="true"
        [editable]="!platformIsClosed && (this.rolesSE.validateInitiative(initiative?.initiative_id) || this.rolesSE.isAdmin) && !this.api.dataControlSE?.currentResult?.status"
        [resultLevelId]="2">
    </app-toc-initiative-out>
</div>

<div class="selected_container custom_scroll">
    <app-pr-field-header
        [description]="'Initiatives to be added as contributor('+this.contributorsBody?.pending_contributing_initiatives?.length+')'">
    </app-pr-field-header>
    <div class="chips_container">
        <div class="pr_chip_selected pending" *ngFor="let item of this.contributorsBody?.pending_contributing_initiatives
         let i=index">
            <div class="name" [ngClass]="{'text_inactive': !item.is_active}" [innerHtml]="item.initiative_name">
            </div>
            <i class="material-icons-round" [style.color]="item.is_active?'#fd6d6d':'#5569dd'"
                (click)="toggleActiveContributor(item)">{{item.is_active?'backspace':'undo'}}</i>
        </div>
    </div>
</div>