<app-pr-field-header label="Lead and Contributing Initiatives" [required]="false"></app-pr-field-header>

<app-pr-field-header label="Theory of Change" [required]="false" [simpleStyle]="true"> </app-pr-field-header>

<div *ngIf="this.contributorsBody?.result_toc_result?.initiative_id">
  <app-toc-initiative-out
    [initiative]="this.contributorsBody.result_toc_result"
    [isIpsr]="true"
    [editable]="
      !this.api.rolesSE.platformIsClosed &&
      (this.rolesSE.validateInitiative(this.contributorsBody.result_toc_result?.initiative_id) || this.rolesSE.isAdmin) &&
      !this.api.dataControlSE?.currentResult?.status
    "
    [resultLevelId]="2">
  </app-toc-initiative-out>
</div>

<div class="dropdown-50p">
  <app-pr-multi-select
    [options]="this.getcontributingInitiativesList"
    label="Contributing CGIAR Initiatives"
    [disableOptions]="this.disabledOptions"
    optionLabel="full_name"
    optionValue="id"
    [required]="false"
    [(ngModel)]="this.contributorsBody.contributingInitiativeNew"
    placeholder="Select Initiative(s)">
  </app-pr-multi-select>
</div>
<br />

<app-pr-field-header description="Initiative(s) selected:"></app-pr-field-header>

<div class="chips_container">
  <div class="pr_chip_selected" *ngFor="let item of this.contributorsBody?.contributing_initiatives.accepted_contributing_initiatives; let i = index">
    <div class="name" [ngClass]="{ text_inactive: !item.is_active }">
      <strong>{{ item.official_code }}</strong> {{ item.initiative_name }}
    </div>
    <i
      *ngIf="!this.api.rolesSE.readOnly"
      class="material-icons-round"
      [style.color]="item.is_active ? '#fd6d6d' : '#5569dd'"
      (click)="onRemoveContribuiting(i)">
      {{ item.is_active ? 'backspace' : 'undo' }}
    </i>
  </div>

  <div class="pr_chip_selected pending" *ngFor="let item of this.contributorsBody.contributingInitiativeNew; let i = index">
    <div class="name" [ngClass]="{ text_inactive: !item.is_active }">
      <strong>{{ item.official_code }}</strong> {{ item.name }} - <b style="font-style: italic"> Not saved yet </b>
    </div>
    <i
      *ngIf="!this.api.rolesSE.readOnly"
      class="material-icons-round"
      [style.color]="item.is_active ? '#fd6d6d' : '#5569dd'"
      (click)="onRemoveContribuiting(i)">
      {{ item.is_active ? 'backspace' : 'undo' }}
    </i>
  </div>

  <div
    class="pr_chip_selected pending"
    *ngFor="let item of this.contributorsBody?.contributing_initiatives.pending_contributing_initiatives; let i = index">
    <div class="name" [ngClass]="{ text_inactive: !item.is_active }">
      <strong>{{ item.official_code }}</strong> {{ item.initiative_name }} - <b style="font-style: italic"> Pending confirmation </b>
    </div>
    <i
      *ngIf="!this.api.rolesSE.readOnly"
      class="material-icons-round"
      [style.color]="item.is_active ? '#fd6d6d' : '#5569dd'"
      (click)="toggleActiveContributor(item)">
      {{ item.is_active ? 'backspace' : 'undo' }}
    </i>
  </div>
</div>

<br />
<hr class="divider-20" />

<app-pr-field-header
  label="Other contributors"
  [required]="false"
  [simpleStyle]="true"
  labelDescInlineStyles="position: relative; z-index: -1;"
  *ngIf="this.contributorsBody.contributors_result_toc_result?.length">
</app-pr-field-header>

<div *ngFor="let contributor of this.contributorsBody.contributors_result_toc_result">
  <app-toc-initiative-out
    [initiative]="contributor"
    [isIpsr]="true"
    [editable]="
      !this.api.rolesSE.platformIsClosed &&
      (this.rolesSE.validateInitiative(contributor?.initiative_id) || this.rolesSE.isAdmin) &&
      !this.api.dataControlSE?.currentResult?.status
    "
    [resultLevelId]="2"
    [isContributor]="true">
  </app-toc-initiative-out>
</div>

<!-- <div class="chips_container">
  <div
    class="pr_chip_selected pending"
    *ngFor="let item of this.contributorsBody?.contributing_initiatives.pending_contributing_initiatives; let i = index">
    <div
      class="name"
      [ngClass]="{ text_inactive: !item.is_active }"
      [innerHtml]="'<strong>' + item.official_code + '</strong> ' + item.initiative_name"></div>
    <i
      *ngIf="!this.rolesSE.readOnly"
      class="material-icons-round"
      [style.color]="item.is_active ? '#fd6d6d' : '#5569dd'"
      (click)="toggleActiveContributor(item)">
      {{ item.is_active ? 'backspace' : 'undo' }}
    </i>
  </div>
</div> -->
<!-- </div> -->

<hr class="divider-20" />
