.modal_container {
  padding: 20px 50px 80px 50px;
  width: 100vw !important;
  max-width: 90vw !important;
  min-height: 50vh;
}

.modal_title {
  background-color: var(--pr-color-secondary-400);
  width: 100%;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--pr-color-white);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-weight: 700;
  color: var(--pr-color-secondary-400);
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0 0px 0;
}

.search_input {
  width: 100%;
}

.modal_close_icon {
  cursor: pointer;
  color: var(--pr-color-white);
}

.modal_total {
  margin-top: 20px;
}

.modal_noDataText {
  text-align: center;
  padding: 50px 0px;
  font-size: 1.3em;
  font-weight: 500;
  color: var(--pr-color-primary-300);
}

.created_date {
  white-space: nowrap;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.filter-header {
  padding: 1.25rem;
  padding-bottom: 0;
  width: 200px;
}
