.modal_container {
  padding: 20px 50px 80px 50px;
  width: 100vw !important;
  max-width: 90vw !important;
  min-height: 50vh;
}

.modal_title {
  background-color: var(--pr-color-secondary);
  width: 100%;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  font-weight: 700;
  text-align: left;
  color: var(--pr-color-secondary);
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
  padding: 10px 0 0px 0;
}

.search_input {
  width: 100%;
}

.modal_close_icon {
  cursor: pointer;
  color: #fff;
}
