table,
th,
td {
  border: 1px solid var(--pr-color-black);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 10px;
}

td {
  padding: 5px;
  background-color: var(--pr-color-white);
}

.table_title {
  background-color: var(--pr-color-primary-300) !important;
  color: var(--pr-color-white);
}

.loader_info {
  text-align: center;
}

.flatFormat {
  table {
    width: auto !important;
    font-family: Arial, Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14.5px !important;

    .table_title {
      color: var(--pr-color-black);
      background-color: var(--pr-color-white) !important;
    }
  }
}

.copy_to_clipboard_button {
  background-color: var(--pr-color-white);
  color: var(--pr-color-accents-5);
  margin: 5px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px 10px;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

  i {
    font-size: 1.2em;
  }
}

.box {
  position: relative;
}

.distribution-left td:nth-child(1) {
  font-weight: 700;
}
