<div class="box" [ngClass]="{'flatFormat': flatFormat}">
    <div class="copy_to_clipboard_button" (click)="copyTable(tableOne)" pTooltip="Copy to clipboard"
        tooltipPosition="left">
        Copy <i class="material-icons-round">
            content_paste
        </i>
    </div>
    <table #tableOne class="distribution-{{this.distribution}}">
        <tr class="table_title">
            <th [attr.colspan]="header?.length">{{tableTitle || 'Untitled'}}</th>
        </tr>
        <tr *ngIf="distribution == 'normal'">
            <th *ngFor="let headerItem of header">
                <div [innerHTML]="headerItem?.name"></div>
            </th>
        </tr>
        <tr *ngFor="let dataItem of data; let i=index">
            <td *ngFor="let headerItem of header; let j=index">
                <div
                    [innerHTML]="headerItem.type == 'currency' ? (dataItem[headerItem.attr] | currency : 'USD' : 'symbol' : '1.0-0' ) : dataItem[headerItem.attr]">
                </div>
                <app-tor-krs-primary-impact-area-selector
                    *ngIf="headerItem.attr=='value' && i == 2"></app-tor-krs-primary-impact-area-selector>
            </td>
        </tr>
    </table>
</div>

<p-toast key="myKey1"></p-toast>