<app-pr-radio-button [options]="this.geoscopeExample" optionLabel="full_name" optionValue="id"
    label="Select country/ geoscope for which packaging and scaling readiness assessment will be conducted">
</app-pr-radio-button>

<app-pr-multi-select [options]="this.regionsCountriesSE.regionsList" selectedLabel="Regions(s) selected"
    selectedOptionLabel="name" optionLabel="name" optionValue="id" placeholder="Select regions">
</app-pr-multi-select>

<app-pr-multi-select [options]="this.regionsCountriesSE.countriesList" selectedLabel="Countries selected"
    selectedOptionLabel="name" optionLabel="full_name" optionValue="id" placeholder="Select countries">
</app-pr-multi-select>

<app-save-button class="position_sticky" (clickSave)="onSaveSection()" text="Save and continue">
</app-save-button>