<div class="ipsr-sub-title" style="margin-bottom: 10px;">Anticipated investment in improving the scaling readiness of
    the innovation package</div>
<app-pr-field-header [description]="usdQuestionDescription()" [required]="false"></app-pr-field-header>
<div class="unit_of_time_container">
    <div>
        <app-pr-field-header
            label="Expected CGIAR Initiative investment in improving the scaling readiness of the Innovation Package in"
            [required]="false"></app-pr-field-header>
    </div>
    <!-- <div class="unitW">
        <app-pr-input placeholder="Number" type="number" [required]="false" noDataText="#"
            [(ngModel)]="this.body.initiative_expected_time" (ngModelChange)="syncLocalData()">
        </app-pr-input>
    </div>
    <div>
        <app-pr-select noDataText="Month(s)/Year(s)" [options]="this.manageRipUnitTimeSE.unitTimeList"
            optionLabel="name" optionValue="unit_time_id" [(ngModel)]="this.body.initiative_unit_time_id"
            (ngModelChange)="syncLocalData()" placeholder="Select">
        </app-pr-select>
    </div> -->
</div>


<table>
    <tr>
        <th>Initiative</th>
        <th>Current calendar year <br> (USD value)</th>
        <th>Next calendar year <br> (USD value)</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of this.body.initiative_expected_investment">
        <td>{{item.obj_result_initiative.obj_initiative.official_code}} -
            {{item.obj_result_initiative.obj_initiative.name}}</td>
        <td>
            <app-pr-input [(ngModel)]="item.current_year" placeholder="Write some..." type="number" [required]="false">
            </app-pr-input>
        </td>
        <td>
            <app-pr-input [(ngModel)]="item.next_year" placeholder="Write some..." type="number" [required]="false">
            </app-pr-input>
        </td>
        <td>
            <app-pr-radio-button [(ngModel)]="item.is_determined" optionLabel="name" optionValue="id"
                [options]="[{name:'This is yet to be determined',id:true}]">
            </app-pr-radio-button>
        </td>
    </tr>
</table>