<div class="position-relative">
    <app-under-construction-point *ngIf="this.underConstruction"></app-under-construction-point>
    <app-pr-field-header [label]="this.label" [description]="this.description" [required]="this.required">
    </app-pr-field-header>
    <div [ngSwitch]="(readOnly || this.rolesSE.readOnly) && (!isStatic)" [ngClass]="{'mandatory': this.required}"
        class="pr-input position-relative">
        <div class="read-only" *ngSwitchCase="true">{{(value|yesOrNotByBoolean) || (this.required ? 'Not provided' :
            'Not applicable')}}</div>
        <div class="p-fluid input_container" *ngSwitchCase="false">
            <input [disabled]="this.disabled" pInputText [type]="this.type" [placeholder]="this.placeholder"
                [(ngModel)]="value" [attr.prValid]="true" [ngClass]="{'pr-valid': true}" />
            <div class="hints_container">
                <div class="hint">{{this.hint}}</div>
                <app-pr-word-counter *ngIf="maxWords" [wordCount]="wordCount" [maxWords]="maxWords">
                </app-pr-word-counter>
            </div>
        </div>
        <app-pr-field-validations></app-pr-field-validations>
    </div>

</div>