.local_container {
  display: grid;
  grid-template-columns: 300px 1fr;

  .phaseLoaded {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pr-color-primary-300);
    color: var(--pr-color-white);
    padding: 6px 20px;
    border-radius: 0px 0px 5px 5px;
    margin: 3px;
    margin-top: 0px !important;
    height: max-content;
    font-weight: 600;
    position: absolute;
    top: -5px;
    right: 0;
  }

  .initiatives_selector {
    padding: 10px;
    background-color: var(--pr-color-white);
  }

  .router {
    padding: 20px 35px;

    .tor_section_container {
      .initiative {
        display: grid;
        grid-template-columns: 1fr;
        border-bottom: 5px solid var(--pr-color-primary-300);

        .dropdown {
          display: flex;
          align-items: center;
          width: 100%;

          .select {
            width: 100%;
            display: grid;
            gap: 10px;
            &.two {
              grid-template-columns: 1fr 250px;
            }

            &.one {
              grid-template-columns: 1fr;
            }
          }

          .label {
            width: max-content;
            white-space: nowrap;
            font-weight: 500;
            color: var(--pr-color-primary-300);
            padding: 0px 10px;
            font-size: 1.1em;
          }
        }

        .title {
          background-color: var(--pr-color-primary-300);
          color: var(--pr-color-white);
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .router_outlet_container {
        min-height: calc(100vh - 300px);
        position: relative !important;
      }
    }
  }
}
