@use '../../../../../../styles/fonts.scss' as fonts;

.linkItem {
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: relative;
  border-radius: 5px;
  align-items: center;
  gap: 10px;

  .index {
    background-color: rgba(var(--pr-color-primary-rgb), 0.275);
    color: var(--pr-color-primary-300);
    width: 30px;
    height: 30px;
    @include fonts.pr-typography('h4');
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
  }

  .link {
    margin-top: 5px;
  }

  .icon {
    background-color: var(--pr-color-red-100);
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    justify-self: center;
    cursor: pointer;
    border: none;

    i {
      color: var(--pr-color-white);
      font-size: 1.5rem;
    }
  }
}
