table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 2px solid rgba(var(--pr-color-primary-300-rgb), 0.431);
  padding: 10px;
}

.editBilateral {
  display: grid;
  grid-template-columns: repeat(1, 1fr) 20px;
}
