<app-pr-field-header label="Expected CGIAR Bilateral investments in Innovation Package in next"
    [required]="false"></app-pr-field-header>
<table>
    <tr>
        <th>Bilateral</th>
        <th>In-kind investment (staff time, etc.) USD</th>
        <th>In-cash USD investment</th>
        <th></th>
    </tr>
    <tr *ngFor="let item of this.body.bilateral_expected_investment; let i=index">
        <td>{{item?.obj_non_pooled_projetct?.grant_title}}</td>
        <td>
            <app-pr-input placeholder="Write some..." type="number" [required]="false" [(ngModel)]="this.item.in_kind">
            </app-pr-input>
        </td>
        <td>
            <app-pr-input placeholder="Write some..." type="number" [required]="false" [(ngModel)]="this.item.in_cash">
            </app-pr-input>
        </td>
        <td>
            <app-pr-radio-button optionLabel="name" optionValue="id"
                [options]="[{name:'This is yet to be determined',id:true}]" [(ngModel)]="item.is_determined">
            </app-pr-radio-button>
        </td>
    </tr>
</table>


<app-step-n4-add-bilateral [body]="this.body"></app-step-n4-add-bilateral>