@use '../../../../../../../../../../../../../styles/fonts.scss' as fonts;

.modal_title {
  width: auto;
  @include fonts.pr-typography('h2');
  font-weight: 600;
  color: var(--pr-color-primary-300);
  padding: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_container {
  padding: 20px 40px 80px 70px;
  width: 100% !important;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  margin-top: -50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.selectedInnovation {
  display: flex;
  flex-direction: row;
}

.p-dialog .p-dialog-header {
  background: aqua !important;
  background-color: aqua !important;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
