<div class="step_title"><strong>Step 1:</strong>Scaling Ambition, Experts and Consultation</div>
<app-pr-field-header [required]="false" label="Core innovation selected and CGIAR Initiative leading the development"></app-pr-field-header>

<div class="ipsr_chip_container">
  <div class="text">
    {{ this.coreResult.result_code }} - <strong>{{ this.coreResult.title }}</strong> - {{ this.coreResult.official_code }}
  </div>
  <a
    class="material-icons-round"
    href="/result/result-detail/{{ this.coreResult.result_code }}/general-information?phase={{ this.coreResult.version_id }}"
    target="_blank">
    open_in_new
  </a>
</div>

<app-geoscope-management module="ipsr" [body]="this.ipsrStep1Body"> </app-geoscope-management>

<div class="step_sub_section">
  <app-step-n1-eoi-outcomes [body]="this.ipsrStep1Body" *ngIf="this.ipsrDataControlSE?.detailData?.inititiative_id"></app-step-n1-eoi-outcomes>

  <div class="ipsr-sub-title-2">Targeted innovation use</div>
  <app-innovation-use-form [body]="this.ipsrStep1Body"></app-innovation-use-form>
  <app-step-n1-institutions [body]="this.ipsrStep1Body"></app-step-n1-institutions>
  <app-step-n1-scaling-ambition-blurb [body]="this.ipsrStep1Body"></app-step-n1-scaling-ambition-blurb>
</div>

<app-alert-status
  description="For new packages, we strongly recommend the workshop approach. For updating an existing package, a non-workshop approach is acceptable.">
</app-alert-status>

<div class="step_sub_section">
  <div class="ipsr-sub-title" style="margin-top: 20px">IPSR workshop</div>

  <app-pr-radio-button
    label="Was an Innovation Packaging and Scaling Readiness online or in-person expert workshop organized?"
    optionLabel="name"
    optionValue="id"
    [options]="this.radioOptions"
    (selectOptionEvent)="cleanEvidence()"
    [(ngModel)]="this.ipsrStep1Body.result_ip.is_expert_workshop_organized">
  </app-pr-radio-button>

  <div *ngIf="this.ipsrStep1Body.result_ip.is_expert_workshop_organized === true">
    <app-pr-field-header label="Facilitators" [required]="false"></app-pr-field-header>
    <div
      style="margin-top: 20px"
      *ngFor="let expertItem of this.ipsrStep1Body.result_ip_expert_workshop_organized; let i = index"
      appYmzListStructureItem
      (deleteEvent)="deleteExpert(i)"
      [ngClass]="{ hideElement: !this.expertItem?.result_ip_expert_workshop_organized_id && this.api.rolesSE.readOnly }">
      <div class="infoPersons">
        <app-pr-input label="First Name" [required]="true" placeholder="First Name" [(ngModel)]="expertItem.first_name"></app-pr-input>
        <app-pr-input label="Last Name" [required]="true" placeholder="Last Name" [(ngModel)]="expertItem.last_name"></app-pr-input>
        <app-pr-input label="Email" [required]="false" placeholder="Email" [(ngModel)]="expertItem.email"></app-pr-input>
        <app-pr-input label="Role" [required]="false" placeholder="Lead/Co-lead" [(ngModel)]="expertItem.workshop_role"></app-pr-input>
      </div>
    </div>
  </div>

  <div *ngIf="this.ipsrStep1Body.result_ip.is_expert_workshop_organized === true">
    <app-no-data-text
      *ngIf="!hasElementsWithId(this.ipsrStep1Body.result_ip_expert_workshop_organized, 'result_ip_expert_workshop_organized_id')"
      title="No facilitators provided">
    </app-no-data-text>
    <app-add-button *ngIf="!this.api.rolesSE.readOnly" name="Add Lead/Co-Lead" (clickEvent)="addExpert()"></app-add-button>
  </div>

  <app-pr-input
    *ngIf="this.ipsrStep1Body.result_ip.is_expert_workshop_organized === true"
    label="Provide the link to the workshop list of participants"
    [description]="workshopDescription()"
    [required]="false"
    placeholder="Link"
    [(ngModel)]="this.ipsrStep1Body.link_workshop_list">
  </app-pr-input>

  @if (validateParticipantsConsent()) {
    <app-pr-radio-button
      label="Have all participants in the provided list given their consent for their information to be shared in accordance with GDPR requirements?"
      description="<a href='https://commission.europa.eu/law/law-topic/data-protection_en' class='open_route' target='_blank' rel='noopener noreferrer'>See more</a> about GDPR requirements."
      optionLabel="name"
      optionValue="id"
      [options]="this.consentRadioOptions"
      [(ngModel)]="this.ipsrStep1Body.result_ip.participants_consent">
    </app-pr-radio-button>
  }
</div>

<app-step-n1-consensus-and-consultation [body]="this.ipsrStep1Body"></app-step-n1-consensus-and-consultation>
<app-save-button class="position_sticky" (clickSave)="onSaveSection()"></app-save-button>
<div class="toggle_change_step">
  <app-pr-button
    (click)="saveAndNextStep('next')"
    padding="big"
    [text]="this.api.rolesSE.readOnly ? 'Go to next step' : 'Save & go to next step'"
    icon="arrow_circle_right"></app-pr-button>
</div>
