.modal_info_container {
  width: 100vw !important;
  max-width: 60vw !important;
  min-height: 700px !important;
}

.modal_info_title {
  background-color: var(--pr-color-secondary);
  width: 100%;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
  padding: 14px 20px;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
}
