.local_container {
  padding: 0px 150px;

  .line {
    background-color: var(--pr-color-neutral-1000);
    height: 6px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;

    .circle {
      background-color: var(--pr-color-neutral-1000);
      border-radius: 100px;
      min-width: 40px;
      min-height: 40px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      position: relative;
      z-index: 1;

      .green_check_absolute {
        position: absolute;
        top: -17px;
        right: -17px;
      }

      .name {
        position: absolute;
        top: 45px;
        left: 0;
        white-space: nowrap;
        font-weight: bold;
      }
      .subName {
        position: absolute;
        top: 65px;
        white-space: nowrap;
      }
    }
  }

  .active {
    background-color: var(--pr-color-primary-300) !important;
    color: white;

    .name {
      color: var(--pr-color-primary-300) !important;
    }
    .subName {
      color: var(--pr-color-primary-300) !important;
    }
  }
}
