<div class="local_container">
    <div class="line">
        <div class="circle" [routerLink]="option?.path" routerLinkActive="active" [queryParams]="option?.queryParams"
            *ngFor="let option of options ; let i=index">
            <div class="green_check_absolute">
                <app-ipsr-green-check [objectReference]="'stepSections.'+i"></app-ipsr-green-check>
            </div>
            {{i+1}} <div class="name">{{option?.routeName}} </div>
            <div class="subName"> {{option?.subName}}</div> 
        </div>
    </div>
</div>