.radio_grid {
  display: grid;
  grid-template-columns: 450px 1fr;
}

.radioButtonList {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .radioButton {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
