<div class="partnersindex">
  <app-ipsr-contributors-toc [contributorsBody]="this.contributorsBody" [disabledOptions]="this.disabledOptions"></app-ipsr-contributors-toc>

  @if (this.fieldsManagerSE.isP25()) {
    <app-pr-multi-select
      [options]="this.centersSE.centersList"
      label="Contributing CGIAR Centers"
      selectedLabel="Center(s) selected"
      optionLabel="full_name"
      optionValue="code"
      [(ngModel)]="this.rdPartnersSE.partnersBody.contributing_center"
      placeholder="Select center(s)"
      [disableOptions]="this.rdPartnersSE.cgspaceDisabledList"
      (selectOptionEvent)="this.rdPartnersSE.setPossibleLeadCenters(true)">
    </app-pr-multi-select>

    <div class="medal_selector selected_container">
      <div class="centers chips_container">
        <div
          class="center pr_chip_selected"
          [pTooltip]="this.disabledText"
          [tooltipDisabled]="!center.from_cgspace"
          *ngFor="let center of this.rdPartnersSE.partnersBody.contributing_center; let i = index">
          <div class="name" [innerHtml]="center?.name"></div>
          <i
            *ngIf="!this.api.rolesSE.readOnly && !this.api.dataControlSE?.currentResult?.status && !center.from_cgspace"
            class="material-icons-round"
            (click)="deleteContributingCenter(i); this.rdPartnersSE.setPossibleLeadCenters(true)"
            >cancel</i
          >
        </div>
      </div>
    </div>

    <app-pr-multi-select
      [options]="this.rdPartnersSE.clarisaProjectsList"
      [(ngModel)]="this.rdPartnersSE.partnersBody.bilateral_projects"
      [required]="false"
      optionLabel="fullName"
      optionValue="project_id"
      label="Contributing W3 and/or bilateral projects"
      selectedLabel="Projects selected"
      selectedOptionLabel="fullName"
      placeholder="Select project">
    </app-pr-multi-select>

    <app-pr-multi-select
      [options]="this.contributingInitiativesList"
      label="Contributing {{ 'term.entity.orPlatformsPlural' | term: this.api.dataControlSE.currentResult?.portfolio }}"
      [disableOptions]="this.rdPartnersSE.disabledOptions"
      optionLabel="full_name"
      optionValue="id"
      (selectOptionEvent)="this.rdPartnersSE.onSelectContributingInitiative()"
      [required]="false"
      selectedOptionLabel="full_name"
      [(ngModel)]="this.rdPartnersSE.contributingInitiativeNew"
      [confirmDeletion]="true"
      [placeholder]="'Select ' + ('term.entity.orPlatformsWith()' | term: this.api.dataControlSE.currentResult?.portfolio)">
    </app-pr-multi-select>

    <div class="selected_container custom_scroll">
      <app-pr-field-header [description]="('term.entity.singularWith()' | term: this.api.dataControlSE.currentResult?.portfolio) + ' selected:'">
      </app-pr-field-header>

      <div class="chips_container">
        @for (
          item of this.rdPartnersSE.result_toc_result?.contributing_initiatives?.accepted_contributing_initiatives || [];
          track item.id;
          let i = $index
        ) {
          <div class="pr_chip_selected">
            <div class="name" [ngClass]="{ text_inactive: !item.is_active }">
              <strong>{{ item.official_code }}</strong> {{ item.initiative_name }}
            </div>

            @if (!this.api.rolesSE.readOnly) {
              <i
                class="material-icons-round"
                [style.color]="item.is_active ? 'var(--pr-color-red-100)' : 'var(--pr-color-primary-300)'"
                (click)="onRemoveContribuiting(i, true)">
                {{ item.is_active ? 'backspace' : 'undo' }}
              </i>
            }
          </div>
        }

        @for (item of this.rdPartnersSE.contributingInitiativeNew; track item.id; let i = $index) {
          <div class="pr_chip_selected pending">
            <div class="name" [ngClass]="{ text_inactive: !item.is_active }">
              <strong>{{ item.official_code }}</strong> {{ item.name }} - <b style="font-style: italic"> Not saved yet </b>
            </div>

            @if (!this.api.rolesSE.readOnly) {
              <i
                class="material-icons-round"
                [style.color]="item.is_active ? 'var(--pr-color-red-100)' : 'var(--pr-color-primary-300)'"
                (click)="onRemoveContribuiting(i, false)">
                {{ item.is_active ? 'backspace' : 'undo' }}
              </i>
            }
          </div>
        }

        @for (item of this.rdPartnersSE.partnersBody?.contributing_initiatives?.pending_contributing_initiatives || []; track item.id) {
          <div class="pr_chip_selected pending">
            <div class="name" [ngClass]="{ text_inactive: !item.is_active }">
              <strong>{{ item.official_code }}</strong> {{ item.initiative_name }} - <b style="font-style: italic"> Pending confirmation </b>
            </div>

            @if (!this.api.rolesSE.readOnly) {
              <i
                class="material-icons-round"
                [style.color]="item.is_active ? 'var(--pr-color-red-100)' : 'var(--pr-color-primary-300)'"
                (click)="toggleActiveContributor(item)">
                {{ item.is_active ? 'backspace' : 'undo' }}
              </i>
            }
          </div>
        }
      </div>
    </div>
  }
  <app-ipsr-non-pooled-projects [contributorsBody]="this.contributorsBody"></app-ipsr-non-pooled-projects>
  <app-ipsr-contributors-non-cgiar-partners [contributorsBody]="this.contributorsBody"></app-ipsr-contributors-non-cgiar-partners>
</div>

<app-ipsr-contributors-centers [contributorsBody]="this.contributorsBody"></app-ipsr-contributors-centers>

<app-save-button class="position_sticky" (clickSave)="onSaveSection()"> </app-save-button>
