.page-header {
  background-color: white;
  color: var(--pr-color-primary-300);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04);
  padding: 10px;
  padding-left: 70px;
  font-weight: 600;
  font-size: 14px;
}
