@use '../../../../../../../styles/fonts.scss' as fonts;

.notifications_title {
  @include fonts.pr-typography('h1');
  font-weight: 700;
  margin-bottom: 10px;
}

.notifications_description {
  @include fonts.pr-typography('body-1');
  color: var(--pr-color-secondary-400);
  font-weight: 400;
  margin-bottom: 10px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tabs {
    display: flex;
    width: max-content;
    margin: 20px 0;

    .active {
      background-color: var(--pr-color-white) !important;
      color: var(--pr-color-primary-300) !important;
      border-bottom: 3px solid var(--pr-color-primary-300) !important;
    }

    .tab {
      border-bottom: 3px solid transparent;
      padding: 8px 25px;
      font-weight: 600;
      background-color: var(--pr-color-white) !important;
      color: var(--pr-color-secondary-400);
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      transition: all ease-in-out 0.2s;
      border-radius: 5px;
      @include fonts.pr-typography('body-2');

      &:hover {
        background-color: rgba(var(--pr-color-black-rgb), 0.05) !important;
      }
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--pr-color-accents-2);
}

.request_description {
  @include fonts.pr-typography('body-1');
  color: var(--pr-color-secondary-400);
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 0;
}

.all_notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 59vh;
}

.notifications_filters {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 10px;
}

.local_container {
  min-height: 400px;
}
