.notifications_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.notifications_description {
  font-size: 14px;
  color: #2a2e45;
  font-weight: 400;
  margin-bottom: 20px;
}

.options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .tabs {
    display: flex;
    width: max-content;
    margin: 20px 0;

    .active {
      background-color: white !important;
      color: var(--pr-color-primary) !important;
      border-bottom: 3px solid var(--pr-color-primary) !important;
    }

    .tab {
      border-bottom: 3px solid transparent;
      padding: 8px 25px;
      font-weight: 600;
      background-color: white !important;
      color: #2a2e45;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      &:hover {
        background-color: #1b1b1b15;
      }
    }
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e2e0e7;
}

.all_notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 59vh;
}

.notifications_filters {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 10px;
}

.local_container {
  min-height: 400px;
}
