<div class="title_component">Phase:</div>
<div class="local_container">
    <div class="phase_switcher">
        <a [href]="getRouteWithQueryParams(phase?.id)" class="select_phase_button {{phase.status?'close':'open'}}"
            [ngClass]="{'selected': this.activatedRoute.snapshot.queryParams['phase'] === phase?.id}"
            (click)="goToresultUrl(phase?.id)"
            *ngFor="let phase of this.api.dataControlSE.resultPhaseList">{{phase.phase_name}} <div class="tag">
                <div class="text">{{phase.status?'Closed':'Open'}}</div>
            </div>
        </a>
    </div>
</div>