.title_component {
  color: var(--pr-color-accents-4);
}

.local_container {
  padding-bottom: 10px;

  .phase_switcher {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--pr-color-neutral-1000);
    padding: 6px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 0.9rem;

    .tag {
      display: flex;
      font-size: 0.9rem;
      align-items: center;
      padding: 4px 10px;
      border-radius: 3px;
      gap: 4px;
      background-color: var(--pr-color-white);
      color: var(--pr-color-primary-300);

      .text {
        font-size: 0.8rem;
        font-weight: 500;
      }

      i {
        font-size: 1.1rem;
      }
    }

    .select_phase_button {
      background-color: var(--pr-color-white);
      border-radius: 5px;
      padding: 6px 20px;
      transition: all ease-in-out 0.3s;
      cursor: pointer;
      border: 1px solid var(--pr-color-white);
      display: flex;
      align-items: center;
      gap: 10px;

      &.close.selected {
        .tag {
          background-color: var(--pr-color-neutral-1000);
          color: var(--pr-color-accents-5);
        }
      }

      &.open {
        .tag {
          background-color: var(--pr-color-primary-300);
          color: var(--pr-color-white);
        }
      }

      &.open.selected {
        .tag {
          background-color: var(--pr-color-white);
          color: var(--pr-color-primary-300);
        }
      }

      &.close {
        background-color: var(--pr-color-neutral-1000);
        color: var(--pr-color-accents-5);

        .tag {
          background-color: var(--pr-color-accents-5);
          color: var(--pr-color-white);
        }
      }

      &.selected {
        background-color: var(--pr-color-primary-300);
        color: var(--pr-color-white);
        border-color: var(--pr-color-primary-400);
      }
    }
  }
}
