.evidence_item {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 35px;
  padding: 0px 40px 10px 40px;
  position: relative;
  overflow: hidden;

  .cgspace-link-message {
    width: 100%;
    text-align: start;
  }

  .evidence_fields {
    margin-top: 26px;

    .inputfieldHidden {
      display: none;
    }

    .file-link-view {
      position: relative;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      border: 2px solid var(--pr-color-accents-3);
      border-radius: 10px;
      padding: 10px;

      grid-template-columns: 1fr 1fr;
      justify-content: space-between;

      .floating-line-animated {
        position: absolute;
        height: 100%;
        background-color: var(--pr-color-primary-300);
        bottom: 0;
        left: 0;
        z-index: 0;
        transition: all 0.3s ease-in-out;
        opacity: 0.15;
      }

      .file-name {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;

        gap: 10px;

        i {
          color: var(--pr-color-medium);
        }

        a {
          color: var(--pr-color-primary-300);
          padding-top: 2px;
        }
      }

      .file-actions {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        color: var(--pr-color-primary-300);

        .size {
          color: var(--pr-color-secondary-400);
          font-weight: 500;
        }

        .line {
          width: 1px;
          height: 20px;
          background-color: var(--pr-color-medium);
          margin: 0px 10px;
        }

        .percentage {
          display: flex;
          align-items: center;
          font-weight: 500;
        }
      }
    }

    .incorrect-file {
      color: var(--pr-color-danger);
      font-weight: 500;
      margin-top: -10px;
      margin-bottom: 20px;
    }
  }

  .index {
    background-color: rgb(240, 240, 240);
    color: rgb(109, 109, 109);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 47px;
  }

  .link {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    margin-bottom: 12px;
  }

  .checkboxes {
    display: flex;
    gap: 12px;
  }
}

.incorrect-drag-and-drop-field {
  border: 2px dashed #eb4e4e !important;

  .description {
    color: #eb4e4e !important;
  }
}

.drag-and-drop-field {
  border: 2px dashed var(--pr-color-primary-300);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0px;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title {
      font-weight: 500;
    }

    .description {
      color: rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease-in-out;
    }
  }
}
