@switch (block.type) {
  @case ('callout') {
    @let text = joinText(block?.callout?.rich_text);
    @let icon = block?.callout?.icon;
    @let children = block?.children;

    <div class="whats-new-page-details_callout_container mb-10">
      <div class="whats-new-page-details_callout">
        @if (icon) {
          @if (icon?.external?.url) {
            <img [src]="icon.external.url" alt="icon" width="24" height="24" />
          } @else {
            <p class="whats-new-page-details_callout_icon">{{ icon?.emoji }}</p>
          }
        }
        @if (text) {
          <div style="display: flex; align-items: center">
            <p class="whats-new-page-details_callout_text" [innerHTML]="text"></p>
          </div>
        }
      </div>

      @if (children) {
        <div
          class="whats-new-page-details_children_container"
          [ngStyle]="{
            'margin-left': !text ? '15px' : '30px'
          }">
          @for (child of children; track child.id; let i = $index) {
            <app-dynamic-notion-block [block]="child"></app-dynamic-notion-block>
          }
        </div>
      }
    </div>
  }

  @case ('heading_1') {
    @let text = joinText(block?.heading_1?.rich_text);
    @if (text) {
      <h1 class="whats-new-page-details_heading_1 mb-10" [innerHTML]="text"></h1>
    }
  }

  @case ('heading_2') {
    @let text = joinText(block?.heading_2?.rich_text);
    @if (text) {
      <h2 class="whats-new-page-details_heading_2 mb-10" [innerHTML]="text"></h2>
    }
  }

  @case ('heading_3') {
    @let text = joinText(block?.heading_3?.rich_text);
    @if (text) {
      <h3 class="whats-new-page-details_heading_3 mb-10" [innerHTML]="text"></h3>
    }
  }

  @case ('paragraph') {
    @let text = joinText(block?.paragraph?.rich_text);
    @let children = block?.children;
    @if (text) {
      <p class="whats-new-page-details_paragraph mb-10" [innerHTML]="text"></p>
    }

    @if (children) {
      <div class="whats-new-page-details_children_container">
        @for (child of children; track child.id; let i = $index) {
          <app-dynamic-notion-block [block]="child"></app-dynamic-notion-block>
        }
      </div>
    }
  }

  @case ('image') {
    @let image = block?.image?.file?.url;
    @let caption = joinText(block?.image?.caption);

    @if (image) {
      <img [src]="image" alt="Image" width="100%" class="mb-10" />
    }

    @if (caption) {
      <p class="whats-new-page-details_image_caption mb-10">{{ caption }}</p>
    }
  }

  @case ('video') {
    @let video = block?.video;

    @if (video?.file?.url) {
      <video [src]="video.file.url" width="100%" class="mb-10" controls autoplay [muted]="'muted'" loop></video>
    }

    @if (video?.external?.url) {
      <div class="video-player-container mb-10">
        <div class="video-player-placeholder">
          <div class="play-button">
            <i class="pi pi-play"></i>
          </div>
        </div>
        <a [href]="video.external.url" target="_blank" rel="noopener noreferrer" class="video-link"> Watch Video </a>
      </div>
    }
  }

  @case ('bulleted_list_item') {
    @let text = joinText(block?.bulleted_list_item?.rich_text);
    @let children = block?.children;

    @if (text) {
      <ul style="padding-inline-start: 30px">
        <li class="whats-new-page-details_default_text">
          <p class="whats-new-page-details_default_text mb-10" [innerHTML]="text"></p>

          @if (children) {
            <!-- <div class="whats-new-page-details_children_container"> -->
            @for (child of children; track child.id; let i = $index) {
              <app-dynamic-notion-block [block]="child"></app-dynamic-notion-block>
            }
            <!-- </div> -->
          }
        </li>
      </ul>
    }
  }

  @case ('numbered_list_item') {
    @let text = joinText(block?.numbered_list_item?.rich_text);
    @let children = block?.children;

    @if (text) {
      <li class="whats-new-page-details_default_text">
        <p class="whats-new-page-details_default_text mb-10" [innerHTML]="text"></p>

        @if (children) {
          <div class="whats-new-page-details_children_container">
            @for (child of children; track child.id; let i = $index) {
              <app-dynamic-notion-block [block]="child"></app-dynamic-notion-block>
            }
          </div>
        }
      </li>
    }
  }

  @case ('to_do') {
    @let text = joinText(block?.to_do?.rich_text);
    @let children = block?.children;

    @if (text) {
      <div class="whats-new-page-details_to_do_container">
        <div class="whats-new-page-details_to_do mb-10">
          <p-checkbox [(ngModel)]="block.to_do.checked" [binary]="true" readonly="true" />
          <p class="whats-new-page-details_default_text" [innerHTML]="text"></p>
        </div>

        @if (children) {
          <div class="whats-new-page-details_children_container">
            @for (child of children; track child.id; let i = $index) {
              <app-dynamic-notion-block [block]="child"></app-dynamic-notion-block>
            }
          </div>
        }
      </div>
    }
  }

  @case ('divider') {
    <hr class="whats-new-page-details_divider" />
  }

  @case ('quote') {
    @let text = joinText(block?.quote?.rich_text);

    @if (text) {
      <div class="whats-new-page-details_quote mb-10" [innerHTML]="text"></div>
    }
  }

  @case ('table') {
    @let tableRows = block?.children;

    @if (tableRows) {
      <table class="whats-new-page-details_table mb-10">
        @for (row of tableRows; track row.id) {
          <tr>
            @for (cell of row.table_row.cells; track cell) {
              <td [innerHTML]="joinText(cell)"></td>
            }
          </tr>
        }
      </table>
    }
  }

  @case ('toggle') {
    @let text = joinText(block?.toggle?.rich_text);
    @let children = block?.children;

    @if (text) {
      <div class="whats-new-page-details_toggle">
        <div class="whats-new-page-details_toggle_header mb-10" (click)="toggleExpand()">
          <i class="pi" [ngClass]="{ 'pi-caret-right': !isExpanded(), 'pi-caret-down': isExpanded() }"></i>
          <p class="whats-new-page-details_default_text" [innerHTML]="text"></p>
        </div>

        @if (children && isExpanded()) {
          <div class="whats-new-page-details_children_container">
            @for (child of children; track child.id; let i = $index) {
              <app-dynamic-notion-block [block]="child"></app-dynamic-notion-block>
            }
          </div>
        }
      </div>
    }
  }

  @case ('code') {
    @let text = joinText(block?.code?.rich_text);

    @if (text) {
      <pre class="whats-new-page-details_code mb-10" [innerHTML]="text"></pre>
    }
  }

  @case ('child_page') {
    @let text = block?.child_page?.title;

    @if (text) {
      <p class="whats-new-page-details_default_text whats-new-page-details_child-page mb-10" (click)="navigateToChildPage(block.id)">
        {{ text }}
      </p>
    }
  }

  @case ('bookmark') {
    @let url = block?.bookmark?.url;

    @if (url) {
      <a [href]="url" target="_blank" rel="noopener noreferrer" class="whats-new-page-details_default_text mb-10">
        {{ url }}
      </a>
    }
  }
}
