<app-pr-field-header label="{{title}}" [required]="false"></app-pr-field-header>
<ul>
<div *ngFor="let category of optionsInnovations?.subCategories" class="field-checkbox">
    <li>
        <input type="checkbox" prCheckboxValue class="pr-native-check" name="group" [value]="category" [id]="category.id" [(ngModel)]="selectedCategories" (ngModelChange)="selectes(category)" />
        <label [for]="category.id"> {{ category.group }}</label>
    </li>
    <ul>
        <li>
            <div *ngFor="let categories of category?.subCategories" class="field-checkbox">
                <input type="checkbox" prCheckboxValue class="pr-native-check" name="group" [value]="categories" [id]="categories.id" [(ngModel)]="selectedOne" (ngModelChange)="subSelectes(category)" />
                <label [for]="categories.id">{{ categories.group }}</label>
                
            </div>
        </li>
    </ul>    
</div>
</ul>

