<div class="top_menu">
    <div class="option back_buttton" routerLink="/ipsr/list">
        <div class="content">
            <i class="material-icons-round">arrow_back</i>
        </div>
    </div>
    
    <div class="option" *ngFor="let option of this.menuOptions; let i=index" [routerLink]="this.option.path"
        [queryParams]="{ phase:  this.ipsrDataControlSE.resultInnovationPhase }"
        [ngClass]="{'option_hidden': !this.option?.prName}" routerLinkActive="option_active"
        [hidden]="!this.option?.prName">{{this.option?.prName}}
        <img *ngIf="option.underConstruction" class="under_construction" src="assets/work-in-progress.png" alt=""
            srcset="">
        <app-ipsr-green-check [objectReference]="'mainSection.'+i"></app-ipsr-green-check>
    </div>
</div>