<div class="top_menu">
  @for (option of this.menuOptions(); track option.prName; let i = $index) {
    <div
      class="option"
      [routerLink]="option.path"
      [queryParams]="{ phase: this.ipsrDataControlSE.resultInnovationPhase }"
      [ngClass]="{ option_hidden: !option?.prName }"
      routerLinkActive="option_active"
      [hidden]="!option?.prName">
      {{ option?.prName }}
      <img *ngIf="option.underConstruction" class="under_construction" src="assets/work-in-progress.png" alt="" srcset="" />
      <app-ipsr-green-check [objectReference]="'mainSection.' + i"></app-ipsr-green-check>
    </div>
  }
</div>
