@use '../../../../../../../../../styles/fonts.scss' as fonts;

.subResults {
  display: flex;
  flex-direction: column;
  align-items: space-between;

  &:not(:first-child) {
    border-top: 1px solid var(--pr-color-accents-2);
    margin-top: 10px;
    padding-top: 10px;
  }
}

.icon_container {
  text-align: center;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  cursor: pointer;
}

.table {
  padding-bottom: 100px;
  position: relative;
}

td {
  position: relative;

  a {
    display: flex;
    color: var(--pr-color-secondary-400);
  }

  .notCenter {
    justify-content: unset !important;

    text-align: left !important;
  }
}

.title {
  a {
    &:not(:first-child) {
      border-top: 1px solid var(--pr-color-accents-2);
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.official_code {
  a {
    height: 35px;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      height: 45px;
      border-top: 1px solid var(--pr-color-accents-2);
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.status {
  a {
    height: 35px;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      height: 45px;
      border-top: 1px solid var(--pr-color-accents-2);
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.phase_year {
  a {
    height: 35px;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      height: 45px;
      border-top: 1px solid var(--pr-color-accents-2);
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.phase_name {
  a {
    height: 35px;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      height: 45px;
      border-top: 1px solid var(--pr-color-accents-2);
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.created_by {
  a {
    height: 35px;
    display: flex;
    align-items: center;

    &:not(:first-child) {
      height: 45px;
      border-top: 1px solid var(--pr-color-accents-2);
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.noDataText {
  text-align: center;
  padding: 50px 0px;
  @include fonts.pr-typography('h4');
  font-weight: 500;
  color: var(--pr-color-primary-300);
}

.new_tag {
  background-color: var(--pr-color-primary-300);
  margin-right: 10px;
  padding: 2px 3px;
  @include fonts.pr-typography('body-3');
  border-radius: 3px;
  color: var(--pr-color-white);
  height: 17px;
}
.table_menu_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 140px;

  &:hover {
    background-color: var(--pr-color-primary-25);
    cursor: pointer;
  }
}

.itemDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}

::ng-deep {
  .p-popover:before,
  .p-popover:after {
    display: none;
  }

  .p-popover-content {
    padding: 0.25rem !important;
  }
}
