<div class="local_container section_container">
  @if (!router.url.includes('/outcome-indicator-module/indicator-details')) {
    <app-pr-select
      [options]="this.api.rolesSE.isAdmin ? this.allInitiatives : this.api.dataControlSE.myInitiativesList"
      label="Initiative"
      [required]="false"
      [isStatic]="true"
      optionLabel="full_name"
      optionValue="official_code"
      placeholder="Select Initiative"
      labelDescInlineStyles="color: #5569dd"
      [(ngModel)]="this.outcomeIService.initiativeIdFilter"
      (ngModelChange)="handleInitiativeChange()">
    </app-pr-select>

    <div class="separator_line"></div>
  }

  <router-outlet></router-outlet>
</div>
