.local_container {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  padding: 0px 40px;
  padding-top: 15px !important;
  padding-bottom: 50px;
}

p {
  margin: 0;
}

.separator_line {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid var(--pr-color-primary-300);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
