<div class="local_container section_container" style="position: relative">
  @if (!router.url.includes('/outcome-indicator-module/indicator-details')) {
    <app-pr-select
      [group]="true"
      groupName="name"
      [options]="this.api.rolesSE.isAdmin ? this.allInitiatives : this.api.dataControlSE.myInitiativesList"
      label="Initiative"
      [required]="false"
      [isStatic]="true"
      optionLabel="full_name"
      optionValue="official_code"
      placeholder="Select Initiative"
      labelDescInlineStyles="color: var(--pr-color-primary-300)"
      [(ngModel)]="this.outcomeIService.initiativeIdFilter"
      inlineStylesContainer="display: flex; flex-direction: row; gap: 10px; align-items: center; width: 100%; margin-top: 20px;"
      labelDescInlineStyles="color: var(--pr-color-primary-300); margin: 0;"
      [ngClass]="{
        globalDisabled: outcomeIService.loadingWPs() || outcomeIService.loading()
      }"
      (ngModelChange)="handleInitiativeChange()">
    </app-pr-select>

    <div class="separator_line"></div>
  }

  <router-outlet></router-outlet>
</div>
