<div class="complementary_innovation">
    <app-pr-field-header label="<strong>Complementary innovations/ enablers/ solutions</strong>"
        [required]="false"></app-pr-field-header>
    <div class="toggle_change_buttons">
        <app-pr-button (click)="this.ci.previous()" padding="medium" [ngClass]="{'hideButton': !this.ci.index}"
            [text]="'Previous ('+ (this.ci.index)+'/'+this.body.result_ip_result_complementary?.length+')'"
            icon="arrow_circle_left" [reverse]="true"></app-pr-button>
        <app-pr-button (click)="this.ci.next()" padding="medium"
            *ngIf="this.body.result_ip_result_complementary?.length >= this.ci.index+2"
            [text]="'Next ('+ (this.ci.index+2)+'/'+this.body.result_ip_result_complementary?.length+')'"
            icon="arrow_circle_right"></app-pr-button>
    </div>
    <app-pr-field-header
        [label]="'<strong>Complementary innovations/ enablers/ solutions #'+(this.ci.index+1)+':</strong> '+this.body?.result_ip_result_complementary[this.ci?.index]?.obj_result?.title"
        [required]="false"></app-pr-field-header>

    <app-pr-field-header label="Innovation Readiness level evidence-based" [required]="false"
        [description]="this.readinessLevelSelfAssessmentText()"></app-pr-field-header>

    <app-pr-range-level itemTitle="name" itemDescription="definition" [options]="this.rangesOptions" optionLabel="name"
        optionValue="id"
        [(ngModel)]="this.body.result_ip_result_complementary[this.ci.index].readiness_level_evidence_based"></app-pr-range-level>

    <app-pr-input label="Evidence link" placeholder="Link goes here..."
        [(ngModel)]="this.body.result_ip_result_complementary[this.ci.index].readinees_evidence_link">
    </app-pr-input>

    <app-pr-textarea placeholder="Write some..."
        label="Please provide details of where evidence can be found within the source link (e.g. page number, slide number, table number)"
        type="text" [required]="true"
        [(ngModel)]="this.body.result_ip_result_complementary[this.ci.index].readiness_details_of_evidence"></app-pr-textarea>

    <div class="fragment_section_divider"></div>

    <app-pr-field-header label="Innovation use level evidence-based" [required]="false"
        [description]="this.readinessLevelSelfAssessmentText()"></app-pr-field-header>

    <app-pr-range-level itemTitle="name" itemDescription="definition" [options]="this.rangesOptions"
        *ngIf="this.rangesOptions?.length" optionLabel="name" optionValue="id"
        [(ngModel)]="this.body.result_ip_result_complementary[this.ci.index].use_level_evidence_based"></app-pr-range-level>

    <app-pr-input label="Evidence link" placeholder="Link goes here..."
        [(ngModel)]="this.body.result_ip_result_complementary[this.ci.index].use_evidence_link">
    </app-pr-input>

    <app-pr-textarea placeholder="Write some..."
        label="Please provide details of where evidence can be found within the source link (e.g. page number, slide number, table number)"
        type="text" [required]="false"
        [(ngModel)]="this.body.result_ip_result_complementary[this.ci.index].use_details_of_evidence"></app-pr-textarea>
</div>