<app-pr-field-header label="Complementary innovations/ enablers/ solutions" [required]="false"></app-pr-field-header>
<h1>{{this.ci.index}}</h1>
<div class="toggle_change_buttons">
    <app-pr-button (click)="this.ci.previous()" padding="medium" [text]="'Previous ('+ 1+'/'+10+')'"
        icon="arrow_circle_left" [reverse]="true"></app-pr-button>
    <app-pr-button (click)="this.ci.next()" padding="medium" text="Next" icon="arrow_circle_right"></app-pr-button>
</div>
<app-pr-field-header label="Complementary innovation/ enabler/ solution #2: << TITLE >>"
    [required]="false"></app-pr-field-header>

<app-pr-field-header label="Innovation Readiness level evidence-based" [required]="false"
    [description]="this.readinessLevelSelfAssessmentText()"></app-pr-field-header>

<app-pr-range-level optionLabel="name" optionValue="id"></app-pr-range-level>

<app-pr-input label="Evidence link" placeholder="Grant title goes here...">
</app-pr-input>

<app-pr-textarea placeholder="Write some..."
    label="Please provide details of where evidence can be found within the source link (e.g. page number, slide number, table number)"
    type="text" [required]="true"></app-pr-textarea>

<div class="fragment_section_divider"></div>

<app-pr-field-header label="Innovation use level evidence-based" [required]="false"
    [description]="this.readinessLevelSelfAssessmentText()"></app-pr-field-header>

<app-pr-range-level optionLabel="name" optionValue="id"></app-pr-range-level>

<app-pr-input label="Evidence link" placeholder="Grant title goes here...">
</app-pr-input>

<app-pr-textarea placeholder="Write some..."
    label="Please provide details of where evidence can be found within the source link (e.g. page number, slide number, table number)"
    type="text" [required]="true"></app-pr-textarea>