.complementary_innovation {
  background: linear-gradient(45deg, var(--pr-color-accents-1), var(--pr-color-accents-1));
  border-radius: 10px;
  margin: 0px -20px;
  padding: 20px 60px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.062);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    background-color: var(--pr-color-secondary-400);
    width: 100%;
    opacity: 0.3;
    border-radius: 5px 5px 0px 0px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .green_check {
    margin-right: 20px;
  }
}

.hideButton {
  opacity: 0;
  pointer-events: none;
}

.green_check.isValid {
  color: #4caf50;
}
