@use '../../../styles/fonts' as fonts;

.pr_button.small {
  padding: 6px 12px;
}

.pr_button.medium {
  padding: 10px 40px;
}

.pr_button.big {
  padding: 10px 15px;
  gap: 20px;
  @include fonts.pr-typography('body-2');

  i {
    font-size: 1.7em;
  }
}

.under_construction {
  width: 25px;
}

.pr_button {
  border-radius: 5px;
  display: flex;
  gap: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;

  .text,
  i {
    color: var(--pr-color-primary-300);
    z-index: 1;
  }

  .text {
    @include fonts.pr-typography('body-2');
  }

  i {
    font-size: 1.4em;
    margin-right: -6px;
  }
}

.reverse {
  flex-direction: row-reverse;
}

.show_background {
  .text,
  i {
    color: var(--pr-color-white);
  }

  .filter {
    position: absolute;
    left: -60%;
    top: 0px;
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.4s;
    z-index: 0;
    transform: translateX(-50%);
    box-sizing: border-box;
  }

  &:hover {
    .filter {
      left: 50%;
    }
  }
}

.b-disabled {
  opacity: 0.5;
}

.rotate-right {
  transform: rotate(90deg);
}
