<div class="pr_button {{padding}}" [style]="'margin: '+this.verticalMargin+'px 0px'"
  [ngClass]="{ reverse: this.reverse, show_background: this.showBackground, 'animate__pulse_infinite':this.pulse ||  this.rotating}"
  [ngStyle]="this.showBackground ? { 'background-color': 'var(--pr-color-' + this.colorType + ')' } : {}">
  <div class="text">{{ this.text }}</div>
  <i class="material-icons-round" [ngClass]="{'rotating': this.rotating}" *ngIf="this.icon">{{ this.icon }}</i>
  <img *ngIf="underConstruction" class="under_construction" src="assets/work-in-progress.png" alt="" srcset="">
  <div class="filter"
    [ngStyle]="this.showBackground ? { background: 'linear-gradient(20deg, #ffffff4d 0%, ' + 'var(--pr-color-' + this.colorType + ')' + ' 85%)' } : {}">
  </div>
</div>