<div class="field_container">
    <div class="title">
        <app-pr-field-header [label]="this.label" [required]="this.required">
        </app-pr-field-header>
        <div class="choices" *ngIf="!hideOptions">
            <div class="choice" [ngClass]="{'yes': this.value === true}" *ngIf="!this.readOnly || this.value === true"
                (click)="this.readOnly?null:onclickYes()">Yes
            </div>
            <div class="choice" [ngClass]="{'no': this.value === false}" *ngIf="!this.readOnly || this.value === false"
                (click)="this.readOnly?null:onClickNo()">No
            </div>
        </div>
    </div>
    <div class="description">
        <app-pr-field-header [description]="this.description">
        </app-pr-field-header>
    </div>

</div>