<div class="field_container">
    <div class="title">
        <app-pr-field-header [label]="this.label" [required]="this.required">
        </app-pr-field-header>
        <div class="choices" *ngIf="!hideOptions">
            <div class="choice" [ngClass]="{'yes': this.value == true}"
                *ngIf="!(readOnly || this.rolesSE.readOnly) || this.value == true"
                (click)="(readOnly || this.rolesSE.readOnly)?null:onclickYes()">Yes
            </div>
            <div class="choice" [ngClass]="{'no': this.value == false}"
                *ngIf="!(readOnly || this.rolesSE.readOnly) || this.value == false"
                (click)="(readOnly || this.rolesSE.readOnly)?null:onClickNo()">No
            </div>
        </div>
    </div>
    <div class="description">
        <app-pr-field-header [description]="this.description">
        </app-pr-field-header>
    </div>

</div>