@use '../../../../../../../../../../../styles/fonts.scss' as fonts;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.report-result-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px 20px;
  border-bottom: 1px solid var(--pr-color-accents-2);
  @include fonts.pr-typography('h4');
  font-weight: 600;
  height: 47px;
  border-bottom: 1px solid var(--pr-color-accents-2);
}

.report-result-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.report-result-content_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  max-height: 85vh;
}

.report-result-content_left_header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 24px 54px;
  background-color: var(--pr-color-primary-25);
  border-bottom: 1px solid var(--pr-color-accents-2);
}

.report-result-content_left_header_title {
  @include fonts.pr-typography('h3');
  font-weight: 600;
  color: var(--pr-color-secondary-400);
}

.report-result-content_left_header_subtitle {
  @include fonts.pr-typography('h3');
  font-weight: 500;
  color: var(--pr-color-primary-300);
}

.report-result-content_left_header_desc {
  @include fonts.pr-typography('body-2');
  font-weight: 400;
  color: var(--pr-color-accents-6);
}

.report-result-content_left_content {
  padding: 24px 54px 74px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.report-result-content_left_content_indicator {
  display: flex;
  align-items: center;
  gap: 8px;
}

.report-result-content_left_content_label {
  @include fonts.pr-typography('h4');
  color: var(--pr-color-black);
}

.report-result-content_left_content_value {
  @include fonts.pr-typography('body-2');
  font-weight: 600;
  color: var(--pr-color-accents-4);
  padding: 4px 12px;
  border-radius: 4px;
  border: 0.5px solid var(--pr-color-accents-4);
}

.mqap_sync_title {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: end;
  gap: 20px;

  .sync_button {
    margin-bottom: 5px;
  }
}

.selected_chips_container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.selected_chip {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 13px;
  background-color: rgba(var(--pr-color-red-rgb), 0.1);
  border-radius: 10px;
}

.selected_bilateral_container {
  display: grid;
  gap: 5px;
  margin-top: 10px;
}

.selected_bilateral_item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
  background-color: var(--pr-color-neutral-100);
  border-radius: 10px;
  padding: 10px 14px;
}

.selected_bilateral_item_content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.report-result-content_left_content_actions {
  display: flex;
  justify-content: flex-end;
}

.separator {
  height: 1px;
  background-color: var(--pr-color-neutral-1000);
}

.report-result-content_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.report-result-content_right_title {
  @include fonts.pr-typography('h4');
  font-weight: 600;
  color: var(--pr-color-secondary-400);
  padding: 20px 16px 0;
}

.report-result-content_right_content {
  display: grid;
  gap: 14px;
}

.report-result-content_right_content_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 16px 10px;
  border-bottom: 1px solid var(--pr-color-accents-2);
}

::ng-deep {
  .report-result-dialog {
    width: 80vw !important;
    min-height: 50vh !important;
    max-height: 90vh !important;

    @media screen and (max-width: 1200px) {
      width: 90vw !important;
    }
  }
}
