#tablee {
  top: 0;
  left: 0;
  position: absolute;
  border: 1px solid rgb(17, 0, 255);

  th {
    border: 1px solid rgb(4, 0, 255);
  }

  td {
    border: 1px solid var(--pr-color-black);
  }
}

.local_container {
  padding: 20px;
}

.budget_sub_section {
  padding: 20px 0px 50px 0px;
}
