<div class="step_title"> <strong>Step 3:</strong>Scaling readiness assessment</div>

<div class="step_sub_section">
    <div class="ipsr-sub-title" style="margin-top: 20px;">Evidence-based assessment (adjusted scoring post IPSR workshop
        based on available evidence)</div>

    <div class="ipsr-sub-title-2" style="margin-top: 20px;">Core innovation</div>

    <app-pr-field-header label="" style="margin-left: 20px;" [required]="false"
        description='<a href="{{resultUrl(result_core_innovation?.core_result_code, result_core_innovation?.core_result_current_phase)}}" target="_blank"> {{result_core_innovation?.core_title}} </a>'>
    </app-pr-field-header>


    <app-pr-field-header label="Innovation Readiness level evidence-based"
        [description]="this.readinessLevelSelfAssessmentText()"></app-pr-field-header>

    <div>
        <app-pr-range-level itemTitle="name" itemDescription="definition" optionLabel="name" optionValue="id"
            [options]="this.rangesOptions"
            [(ngModel)]="this.ipsrStep3Body.result_ip_result_core.readiness_level_evidence_based"></app-pr-range-level>

        <app-pr-input label="Evidence link" placeholder="Link goes here" type="link"
            [required]="this.updateRangeLevel1(this.ipsrStep3Body.result_ip_result_core)"
            [(ngModel)]="this.ipsrStep3Body.result_ip_result_core.readinees_evidence_link">
        </app-pr-input>

        <p-checkbox name="check" [binary]="true" [(ngModel)]="this.showDetailsOfReadiness" label="I want to provide evidence details."
        (ngModelChange)="this.ipsrStep3Body.result_ip_result_core.readiness_details_of_evidence = null"></p-checkbox>

        <app-pr-textarea 
            *ngIf="this.showDetailsOfReadiness"
            placeholder="Enter text"
            label="Please provide details of where evidence can be found within the source link (e.g. page number, slide number, table number)"
            type="text" [required]="false"
            [(ngModel)]="this.ipsrStep3Body.result_ip_result_core.readiness_details_of_evidence"></app-pr-textarea>

        <div class="fragment_section_divider"></div>

        <app-pr-field-header label="Innovation use level evidence-based"
            [description]="this.useLevelDelfAssessment()"></app-pr-field-header>

        <app-pr-range-level itemTitle="name" itemDescription="definition" optionLabel="name" optionValue="id"
            [options]="this.innovationUseList"
            [(ngModel)]="this.ipsrStep3Body.result_ip_result_core.use_level_evidence_based"></app-pr-range-level>

        <app-pr-input label="Evidence link" placeholder="Link goes here" type="link"
            [required]="this.updateRangeLevel2(this.ipsrStep3Body.result_ip_result_core)"
            [(ngModel)]="this.ipsrStep3Body.result_ip_result_core.use_evidence_link">
        </app-pr-input>

        <p-checkbox name="check" [binary]="true" [(ngModel)]="this.showDetailsOfUseLevel" label="I want to provide evidence details."
        (ngModelChange)="this.ipsrStep3Body.result_ip_result_core.use_details_of_evidence = null"></p-checkbox>

        <app-pr-textarea 
            *ngIf="this.showDetailsOfUseLevel"
            placeholder="Enter text"
            label="Please provide details of where evidence can be found within the source link (e.g. page number, slide number, table number)"
            type="text" [required]="false"
            [(ngModel)]="this.ipsrStep3Body.result_ip_result_core.use_details_of_evidence"></app-pr-textarea>
    </div>

    <div class="fragment_section_divider"></div>

    <app-alert-status *ngIf="isOptionalUseLevel()" description="As the Innovation use level of the core innovation is zero (0) their usage numbers are not requested."></app-alert-status>

    <app-step-n3-current-use *ngIf="!isOptionalUseLevel()" [body]="this.ipsrStep3Body"></app-step-n3-current-use>

    <div class="step_divider"></div>
    <div class="ipsr-sub-title-2" style="margin-top: 20px; margin-bottom: 30px;">Complementary innovations/ enablers/
        solutions</div>
    <div class="Complementary_innovations">
        <app-pr-field-header label="" [required]="false"
            [description]="this.ipsrStep3Body.result_ip_result_complementary?.length ? goToStep() : ''"></app-pr-field-header>
        <app-step-n3-complementary-innovations [body]="this.ipsrStep3Body" [rangesOptions]="this.rangesOptions"
            [innovationUseList]="this.innovationUseList"
            *ngIf="this.rangesOptions?.length && this.ipsrStep3Body.result_ip_result_complementary?.length">
        </app-step-n3-complementary-innovations>

        <app-no-data-text *ngIf="!this.ipsrStep3Body.result_ip_result_complementary.length"
            title="There are no complementary innovations/enablers/solutions selected for this innovation package. {{goToStep()}} to add them."></app-no-data-text>
    </div>

    <app-step-n4-reference-material-links [body]="this.ipsrStep3Body"></app-step-n4-reference-material-links>
</div>

<app-save-button class="position_sticky" (clickSave)="onSaveSection()">
</app-save-button>

<div class="toggle_change_step">
    <app-pr-button (click)="onSaveSectionWithStep('previous')" padding="big"
        [text]="this.api.rolesSE.readOnly ? 'Go to previous step':'Save & go to previous step'" icon="arrow_circle_left"
        [reverse]="true"></app-pr-button>
    <app-pr-button (click)="onSaveSectionWithStep('next')" padding="big"
        [text]="this.api.rolesSE.readOnly ? 'Go to next step':'Save & go to next step'"
        icon="arrow_circle_right"></app-pr-button>
</div>