:root {
    --pr-color-primary: #5569DD;
    --pr-color-primary-2: #e8ebff;
    --pr-color-secondary: #2A2E45;
    --pr-color-tertiary: #04030F;
    --pr-color-success: #38DF7B;
    --pr-color-warning: black;
    --pr-color-danger: #BE2828;
    --pr-color-medium: #92949c;
    --pr-color-medium-2: #F3F3F3;

    --pr-color-result-level-1: #2BBE28;
    --pr-color-result-level-2: #173F5F;
    --pr-color-result-level-3: #BE2828;
    --pr-color-result-level-4: #2891BE;

    --pr-color-info: #4275e4;
}