.section_container {
  background-color: white;
  @extend %global-shadow-1;
  border-radius: 15px;

  margin-left: auto;
  margin-right: auto;
}

.detail_container {
  padding: 0px 80px 100px 80px;
}

.save_button_container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.auto_fit_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  gap: 20px;
}

.flex-no-wrap {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  gap: 20px;

  &>* {
    flex: 1;
    max-width: none;
  }

}



.shadow-1 {
  @extend %global-shadow-1;
}


%global-shadow-1 {
  box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 8%);
}

.center_flex_100 {
  @extend .center_flex;
  width: 100%;
}

.center_flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block_container {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.068);
  padding: 20px 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.paddingLeft20 {
  padding-left: 20px;
}

.text_and_button_alignment {
  border: 2px solid rgb(216, 216, 216);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 1400px) {
  .section_container {
    width: 97%;
  }
}

@media only screen and (min-width: 1400px) {
  .section_container {
    width: 90%;
  }
}

//?dropdown-50p
@media only screen and (max-width: 600px) {}


@media only screen and (min-width: 600px) {}


@media only screen and (min-width: 768px) {
  .dropdown-50p {
    max-width: 100%;
  }
}


@media only screen and (min-width: 992px) {
  .dropdown-50p {
    max-width: 60%;
  }

}


@media only screen and (min-width: 1200px) {
  .dropdown-50p {
    max-width: 50%;
  }
}

.dropdown-100p {
  max-width: 100%;
}
