.section_container {
    background-color: white;
    @extend %global-shadow-1;
    border-radius: 15px;
    padding: 10px;
    padding: 50px 100px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.shadow-1 {
    @extend %global-shadow-1;
}


%global-shadow-1 {
    box-shadow: 0px 2px 5px 2px rgb(0 0 0 / 8%);
}

.center_flex_100 {
    @extend .center_flex;
    width: 100%;
}

.center_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}