@use '../styles/fonts' as fonts;

.filters {
  display: flex;
  gap: 10px;
  padding: 0px 20px;
  justify-content: space-between;

  .filter {
    .filter_title {
      @include fonts.pr-typography('body-2');
      color: var(--pr-color-accents-4);
      margin-bottom: 5px;
    }

    .chips {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      .chip {
        background-color: var(--pr-color-neutral-1000);
        padding: 4px 10px;
        border-radius: 10px;
        @include fonts.pr-typography('body-2');
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }

  .submitter,
  .reported_year {
    width: 50%;

    .chip_selected {
      background-color: var(--pr-color-secondary-400) !important;
    }
  }

  .chip_selected {
    color: var(--pr-color-white) !important;
  }

  .phase_name .chip_selected {
    background-color: var(--pr-color-secondary-400) !important;
  }
}

.result_level_container {
  padding-bottom: 15px;
  margin: 15px 0px;
  background-color: var(--pr-color-accents-1);
  border-radius: 10px;

  .filters {
    padding-top: 6px;
  }

  .result_level_title {
    background-color: var(--pr-color-secondary-400);
    padding: 4px 10px;
    color: var(--pr-color-white);
    width: max-content;
    @include fonts.pr-typography('body-2');
    border-end-end-radius: 10px;
    border-start-start-radius: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .filters {
    flex-wrap: wrap;
  }
}
