.filter_title {
}

.filters {
  display: flex;
  gap: 10px;
  padding: 0px 20px;
  justify-content: space-between;

  .filter {
    .filter_title {
      color: var(--pr-color-medium);
      font-size: 0.9em;
      margin-bottom: 5px;
    }

    .chips {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .disabled {
        pointer-events: none;
        opacity: 0.5;
      }

      .chip {
        background-color: rgb(221, 221, 221);
        padding: 4px 10px;
        border-radius: 10px;
        font-size: 0.9em;
        cursor: pointer;
        white-space: nowrap;
      }
    }
  }

  .submitter,
  .reported_year {
    width: 50%;

    .chip_selected {
      background-color: var(--pr-color-secondary) !important;
    }
  }

  .chip_selected {
    color: white !important;
  }

  .phase_name .chip_selected {
    background-color: var(--pr-color-secondary) !important;
  }

  // &:nth-child(1) {
  //     width: 200px;

  // }

  // &:nth-child(2) {
  //     width: 365px;

  // }

  // &:nth-child(3) {
  //     width: 750px;

  // }

  // &:nth-child(3) {
  //     width: 750px;

  // }
}

.result_level_container {
  padding-bottom: 15px;
  margin: 15px 0px;
  background-color: rgb(245, 245, 245);
  overflow: hidden;
  border-radius: 10px;

  .filters {
    padding-top: 6px;
    & > :first-child,
    & > :nth-child(2) {
      .chip:not(.chip_selected) {
        background-color: rgb(200 200 200) !important;
        color: rgb(248 248 248);
      }
    }
  }

  .result_level_title {
    background-color: var(--pr-color-secondary);
    padding: 4px 10px;
    color: white;
    width: max-content;
    font-size: 0.9em;
    border-end-end-radius: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .filters {
    flex-wrap: wrap;
  }
}
