.step_title {
    display: flex;
    gap: 5px;
    color: var(--pr-color-primary);
    font-size: 1.1em;
}

.ipsr_chip_container {
    background-color: var(--pr-color-primary-2);
    width: max-content;
    padding: 4px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 20px;

    .text {}

    i,
    a {
        color: var(--pr-color-primary);
        font-size: 1.2em;
        cursor: pointer;
    }
}

.steps_status {
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    color: gray;
}

.step_divider {
    border-top: 3px solid var(--pr-color-primary);
    opacity: .2;
    margin-top: 25px;
    margin-bottom: 40px;
}

.ipsr-sub-title {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 1.2em;
    font-weight: 500;
    background: rgb(85, 105, 221);
    background: linear-gradient(87deg, rgba(85, 106, 221, 0.116) 4%, rgba(255, 255, 255, 0) 100%);
    width: max-content;
    color: var(--pr-color-secondary);

    &::before {
        content: '';
        width: 8px;
        height: 35px;
        background-color: var(--pr-color-primary);
    }
}