@use '../../../../../styles/fonts.scss' as fonts;

.section_header {
  background-color: rgba(var(--pr-color-primary-rgb), 0.11);
  padding: 20px 20px;
  border-radius: 10px;
  margin-left: -20px;

  .section_title {
    color: var(--pr-color-accents-7);
    @include fonts.pr-typography('h3');
    font-weight: 700;
  }

  .section_description {
    color: var(--pr-color-accents-6);
    @include fonts.pr-typography('body-2');
  }
}
