.custom_chips {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .geoscope {
    border-radius: 100px;
    background-color: var(--pr-color-primary-50);
    padding: 5px 15px;
  }
}

.geographic_focus_description {
  margin-top: 20px;
  margin-bottom: -20px;
}
