.evidences {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .evidence {
    border-radius: 10px;
  }

  .evidenceItem {
    box-shadow: 0px 0px 5px #00000034;
    border-top: 5px solid #2a2e4571;
  }
}
