<div class="ipsr-sub-title">Targeted innovation use</div>

<app-pr-field-header
    label="Specify targeted innovation use/ beneficiary group(s)/ end-user and also specify how many of the innovation users/ beneficiaries does the Initiative aim to reach by end of 2024?"></app-pr-field-header>

<app-pr-field-header [required]="false" label="Actors"
    description="If the innovation does not target specific groups of actors or people, then please specify the expected innovation use at organizational level or other use below. The numbers should reflect the expected innovation use by end of 2024"></app-pr-field-header>

<div class="fields_list" *ngIf="this.body.innovatonUse.actors?.length">
    <div class="fields" appYmzListStructureItem (deleteEvent)="actorItem.is_active = false"
        *ngFor="let actorItem of this.body.innovatonUse.actors"
        [ngClass]="{'hideElement': actorItem.is_active == false}">
        <app-pr-select [options]="this.actorsTypeList" label="Actor type" optionLabel="name" optionValue="actor_type_id"
            [(ngModel)]="actorItem.actor_type_id" placeholder="Select actor type"
            [disableOptions]="this.body.innovatonUse.actors">
        </app-pr-select>
        <div class="">
            <div style="margin-top: 20px;margin-bottom: -20px;">
                <app-pr-field-header
                    description="CGIAR follows the United Nations definition of 'youth' as those persons between the ages of 15 and 24 years"></app-pr-field-header>
            </div>
            <div class="right_content">
                <app-pr-input placeholder="Write some..." label="Women" type="number" [required]="false"
                    [(ngModel)]="this.actorItem.women">
                </app-pr-input>
                <app-pr-input placeholder="Write some..." label="Youth" type="number" [required]="false"
                    [(ngModel)]="this.actorItem.women_youth">
                </app-pr-input>
                <app-pr-input noDataText="Save to calculate" placeholder="Write some..." label="Non-youth" type="number"
                    [required]="false" [readOnly]="true" [(ngModel)]="this.actorItem.women_non_youth">
                </app-pr-input>
            </div>
            <div class="right_content">
                <app-pr-input placeholder="Write some..." label="Men" type="number" [required]="false"
                    [(ngModel)]="this.actorItem.men">
                </app-pr-input>
                <app-pr-input placeholder="Write some..." label="Youth" type="number" [required]="false"
                    [(ngModel)]="this.actorItem.men_youth">
                </app-pr-input>
                <app-pr-input noDataText="Save to calculate" placeholder="Write some..." label="Non-youth" type="number"
                    [required]="false" [readOnly]="true" [(ngModel)]="this.actorItem.men_non_youth">
                </app-pr-input>
            </div>
        </div>
    </div>
</div>
<br>
<app-add-button name="Add actor" *ngIf="!this.api.rolesSE.readOnly" (clickEvent)="addActor()"></app-add-button>
<div class="fragment_section_divider"></div>

<div class="fields_list" *ngIf="this.body.innovatonUse.organization?.length">
    <div class="fields" appYmzListStructureItem (deleteEvent)="removeOrganization(organizationItem)"
        [ngClass]="{'hideElement': organizationItem.is_active == false}"
        *ngFor="let organizationItem of this.body.innovatonUse.organization">
        <app-pr-select [options]="this.institutionsTypeTreeList" label="Organization" optionLabel="name"
            optionValue="code" [(ngModel)]="organizationItem.institution_types_id" placeholder="Select organization"
            (selectOptionEvent)="reloadSelect(organizationItem)" [disableOptions]="disableOrganizations">
        </app-pr-select>
        <div class="right_content">
            <app-pr-select
                *ngIf="organizationItem.institution_types_id && !organizationItem.hide && getInstitutionsTypeTreeChildrens(organizationItem.institution_types_id)?.length"
                [options]="getInstitutionsTypeTreeChildrens(organizationItem.institution_types_id)" label="Sub-type"
                optionLabel="name" optionValue="code" [(ngModel)]="organizationItem.institution_sub_type_id"
                [disableOptions]="getAllSubTypes" placeholder="Select Sub-type">
            </app-pr-select>
            <app-pr-input placeholder="Write some..." label="How many" type="number" [required]="false"
                [(ngModel)]="this.organizationItem.how_many">
            </app-pr-input>
        </div>
    </div>
</div>

<app-add-button name="Add organization" *ngIf="!this.api.rolesSE.readOnly"
    (clickEvent)="addOrganization()"></app-add-button>
<div class="fragment_section_divider"></div>

<div class="fields_list" *ngIf="this.body.innovatonUse.measures?.length">
    <app-pr-field-header label="Other quantitative measures of innovation use (e.g. # of hectares)"
        [required]="false"></app-pr-field-header>
    <div class="fields" appYmzListStructureItem (deleteEvent)="measuresItem.is_active = false"
        *ngFor="let measuresItem of this.body.innovatonUse.measures"
        [ngClass]="{'hideElement': measuresItem.is_active == false}">
        <div class="right_content">
            <app-pr-input placeholder="e.g. # of projects" label="Unit of measure" type="text" [required]="false"
                [(ngModel)]="this.measuresItem.unit_of_measure">
            </app-pr-input>
            <app-pr-input placeholder="Write some..." label="Quantity" type="number" [required]="false"
                [(ngModel)]="this.measuresItem.quantity">
            </app-pr-input>
        </div>

    </div>
</div>
<app-add-button name="Add other" *ngIf="!this.api.rolesSE.readOnly" (clickEvent)="addOther()"></app-add-button>