@use '../../../../../../../../../../../styles/fonts.scss' as fonts;

.fields_list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .fields {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;

    .right_content {
      display: flex;
      gap: 10px;
      position: relative;

      .explanation_message {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(var(--pr-color-primary-rgb), 0.835);
        color: var(--pr-color-white);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        @include fonts.pr-typography('body-1');
        font-weight: 500;
      }

      app-pr-input,
      app-pr-select {
        width: 100%;
      }
    }
  }
}

.title_list {
  margin-bottom: 22px;
}

.one_field {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
}
