.dynamic_panel_menu {
  background-color: var(--pr-color-secondary);
  width: 100%;
  height: calc(100vh - 54px);
  position: sticky;
  top: 54px;

  .section_title {
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.315);
    margin-bottom: 15px;
  }

  .options {
    .active {
      background-color: rgba(0, 0, 0, 0.315);
      position: relative;

      &::after {
        content: '';
        width: 5px;
        height: 100%;
        background-color: white;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .option {
      color: white;
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}
