.dynamic_panel_menu {
  background-color: var(--pr-color-secondary-400);
  width: 250px;
  height: calc(100vh - 54px);
  position: sticky;
  top: 54px;
  transition: all 0.3s ease-in-out;

  .togglePanelView {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;

    .icon_container {
      background-color: var(--pr-color-white);
      width: 60px;
      height: 25px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all ease-in-out 0.5s;

      i {
        transition: all 0.3s ease-in-out;
        color: var(--pr-color-secondary-400);
      }
    }
  }

  .section_title {
    font-size: 1.2em;
    font-weight: 500;
    color: var(--pr-color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85px;
    background-color: rgba(var(--pr-color-black-rgb), 0.315);
    margin-bottom: 15px;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }

  .options {
    .active {
      background-color: rgba(var(--pr-color-black-rgb), 0.315);
      position: relative;

      &::after {
        content: '';
        width: 5px;
        height: 100%;
        background-color: var(--pr-color-white);
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .option {
      color: var(--pr-color-white);
      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px 20px;
      cursor: pointer;
      white-space: nowrap;
      overflow-x: hidden;

      .text {
        opacity: 1;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

.hidePanel {
  width: 63px !important;

  .section_title {
    height: 0px !important;
    opacity: 0 !important;
  }

  .option {
    .text {
      opacity: 0 !important;
    }
  }

  .togglePanelView {
    .icon_container {
      width: 35px;
      height: 35px;
      border-radius: 20px !important;

      i {
        transform: rotate(180deg);
      }
    }
  }
}
