.word_counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: var(--pr-color-medium);
  font-size: 0.9em;

  .limitBreaker {
    font-weight: 700;
  }

  .counter {
    display: flex;
  }
}

.invalid {
  color: red !important;
}

.warning {
  color: var(--pr-color-black) !important;
}
