@use '../../../styles/fonts.scss' as fonts;

.word_counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  color: var(--pr-color-secondary-100);
  @include fonts.pr-typography('body-3');

  .limitBreaker {
    font-weight: 700;
  }

  .counter {
    display: flex;
  }
}

.invalid {
  color: var(--pr-color-red-300) !important;
}

.warning {
  color: var(--pr-color-black) !important;
}
