<p-dialog class="support_information" header="Title" [(visible)]="this.api.dataControlSE.showMassivePhaseShiftModal"
    [draggable]="false" [modal]="true" [closeOnEscape]="true" [showHeader]="false" [dismissableMask]="true"
    [style]="{ padding: '0px' }">
    <div id="change-phase">
        <div class="lateral-bar"></div>
        <div class="content-change-phase">
            <div [style]="{ 'text-align': 'center' }">
                <h2 [style]="{ 'margin-bottom': '0px','padding':'10px' }">{{replicateDescription()}}</h2>
            </div>
            <br><br><br><br>
            <div class="info-phase-change">
                <div class="phase-data pa-l">
                    <i>
                        <b>{{this.replicateIPSR ? this.api.dataControlSE.previousIPSRPhase.phaseName : this.api.dataControlSE.previousReportingPhase.phaseName}}</b>
                    </i>
                </div>
                <div class="icon-change">
                    <img src="../../../../assets/icons/data_transfer.svg" alt="data transfer icon" [style]="{ width: '100px' }" />
                </div>
                <div class="phase-data pa-r">
                    <i>
                        <b>{{this.replicateIPSR ? this.api.dataControlSE.IPSRCurrentPhase.phaseName : this.api.dataControlSE.reportingCurrentPhase.phaseName}}</b>
                    </i>
                </div>
            </div>
            <div [style]="{ 'text-align': 'center' }">
                <span>
                    <i>
                        Metadata from the phase <b>'{{this.replicateIPSR ? this.api.dataControlSE.previousIPSRPhase.phaseName : this.api.dataControlSE.previousReportingPhase.phaseName}}'</b> will be duplicated in the
                    </i>
                </span>
                <br />
                <span>
                    <i>
                        phase <b>'{{this.replicateIPSR ? this.api.dataControlSE.IPSRCurrentPhase.phaseName : this.api.dataControlSE.reportingCurrentPhase.phaseName}}'</b>.
                    </i>
                </span>
            </div>
            <div class="buttons">
                <app-pr-button padding="medium" [style]="{ margin: '1rem 2rem', 'font-size': '1.5rem' }" text="Cancel"
                    colorType="secondary" (click)="this.api.dataControlSE.showMassivePhaseShiftModal = false">
                </app-pr-button>
                <app-pr-button [ngClass]="{ globalDisabled: this.requesting }" [rotating]="this.requesting"
                    padding="medium" [style]="{ margin: '1rem 2rem', 'font-size': '1.5rem' }" text="Confirm"
                    (click)="accept()" [icon]="this.requesting ? 'loop' : ''"> </app-pr-button>
            </div>
        </div>
        <div class="lateral-bar"></div>
    </div>
</p-dialog>