.local_container {
    margin-top: 30px;

    .tabs {
        .tab {
            background-color: black;
            padding: 5px 15px;
        }
    }

    .outlet {
        padding: 0px 10px;
    }

}