.pr-field.readOnly {
  padding: 8px 10px;
  box-shadow: 0px 0px 10px -1px var(--pr-color-neutral-1000);
  border-radius: 5px;
}

.invalid {
  border-color: var(--pr-color-red-300) !important;
  box-shadow: 0px 0px 0px 1px var(--pr-color-red-300) !important;
}

.warning {
  border-color: var(--pr-color-yellow-100) !important;
  box-shadow: 0px 0px 0px 1px var(--pr-color-yellow-100) !important;
}
