.pr-field.readOnly {
  padding: 8px 10px;
  box-shadow: 0px 0px 10px -1px var(--pr-color-neutral-1000);
  border-radius: 5px;
}

.invalid {
  border-color: red !important;
  box-shadow: 0px 0px 0px 1px red !important;
}

.warning {
  border-color: #ffce31 !important;
  box-shadow: 0px 0px 0px 1px #ffce31 !important;
}
