<app-pr-field-header [label]="this.label" [description]="this.description" [required]="this.required">
</app-pr-field-header>
<div [ngSwitch]="(readOnly || this.rolesSE.readOnly) && (!isStatic)" class="pr-field"
    [ngClass]="{'mandatory': this.required,'complete': value}">
    <div class="read-only" *ngSwitchCase="true" [innerHtml]="value || notProvidedText">
    </div>
    <div class="p-fluid input_container" *ngSwitchCase="false">
        <!-- <input pInputText [type]="this.type" [placeholder]="this.placeholder" /> -->
        <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true" [(ngModel)]="value"
            [placeholder]="this.placeholder"></textarea>

        <div class="hints_container">
            <div class="hint">{{this.hint}}</div>
            <app-pr-word-counter *ngIf="maxWords" [wordCount]="wordCount" [maxWords]="maxWords"></app-pr-word-counter>
        </div>
    </div>
    <app-pr-field-validations></app-pr-field-validations>
</div>

<!-- <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="true"></textarea> -->