<app-pr-field-header [label]="this.label" [description]="this.description" [required]="this.required"> </app-pr-field-header>
<div
  [ngSwitch]="(readOnly || this.rolesSE.readOnly) && !isStatic"
  class="pr-field"
  [ngClass]="{ mandatory: this.required, complete: value, readOnly: (readOnly || this.rolesSE.readOnly) && !isStatic }">
  <div class="text-secondary-400 pr-body-2" *ngSwitchCase="true" [innerHtml]="value || (this.required ? this.notProvidedText : 'Not applicable')"></div>
  <div class="p-fluid input_container" *ngSwitchCase="false">
    <textarea
      [rows]="rows"
      [cols]="30"
      pTextarea
      [autoResize]="true"
      [style]="{ width: '100%' }"
      [(ngModel)]="value"
      [placeholder]="this.placeholder"
      [ngClass]="{ 'pr-body-2': true, invalid: wordCount > maxWords && !autogenerate, warning: wordCount > maxWords && autogenerate }"></textarea>

    <div class="hints_container">
      <div class="hint">{{ this.hint }}</div>
      <app-pr-word-counter *ngIf="maxWords" [wordCount]="wordCount" [maxWords]="maxWords" [autogenerate]="autogenerate"></app-pr-word-counter>
    </div>
  </div>
  <app-pr-field-validations></app-pr-field-validations>
</div>
