.steps_status {
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    color: gray;
}

.step_divider {
    border-top: 3px solid var(--pr-color-primary);
    opacity: .2;
    margin-top: 25px;
    margin-bottom: 40px;
}