<app-pr-radio-button
  label="What was assessed during the expert workshop?"
  optionLabel="name"
  optionValue="id"
  [options]="this.radioOptions"
  [verticalAlignment]="true"
  [required]="this.body.result_innovation_package.is_expert_workshop_organized"
  [(ngModel)]="this.body.result_innovation_package.assessed_during_expert_workshop_id">
</app-pr-radio-button>

<div
  class="box"
  *ngIf="
    this.body.result_innovation_package.assessed_during_expert_workshop_id &&
    this.body.result_innovation_package.assessed_during_expert_workshop_id != 3
  ">
  <br />

  <app-pr-field-header [required]="false" [description]="goToStep()"></app-pr-field-header>

  <table class="">
    <tr class="table_title">
      <th [attr.rowspan]="2" id="package_element">Package element</th>
      <th [attr.colspan]="2" id="current_situation">Current situation (now)</th>
      <th [attr.colspan]="2" id="potential_situation" *ngIf="this.body.result_innovation_package.assessed_during_expert_workshop_id == 2">
        Potential situation (12 months later)
      </th>
    </tr>

    <tr class="table_title">
      <th id="innovation_readiness">Innovation readiness</th>
      <th id="innovation_use">Innovation use</th>
      <th id="innovation_readiness" *ngIf="this.body.result_innovation_package.assessed_during_expert_workshop_id == 2">Innovation readiness</th>
      <th id="innovation_use_2" *ngIf="this.body.result_innovation_package.assessed_during_expert_workshop_id == 2">Innovation use</th>
    </tr>

    <tr>
      <td
        *ngFor="let attr of attrList; let j = index"
        [ngClass]="{ first_col: j <= 0, min_select: j >= 1 }"
        [hidden]="j >= 3 && this.body.result_innovation_package.assessed_during_expert_workshop_id != 2">
        <div *ngIf="j <= 0">
          <strong>Core innovation</strong>
          <div>{{ this.body?.result_ip_result_core?.obj_result_innovation_package?.title }}</div>
        </div>

        <app-pr-select
          *ngIf="j > 0"
          class="segment_title_margin"
          [indexReference]="j"
          [options]="this.rangeListByIndex(j)"
          optionLabel="index"
          optionValue="id"
          placeholder="Select a level"
          [(ngModel)]="this.body.result_ip_result_core[attrList[j]]">
        </app-pr-select>
      </td>
    </tr>

    <tr *ngFor="let resultComplementary of body.result_ip_result_complementary; let i = index">
      <td
        *ngFor="let attr of attrList; let j = index"
        [hidden]="j >= 3 && this.body.result_innovation_package.assessed_during_expert_workshop_id != 2">
        <div *ngIf="j <= 0">
          <strong>Complementary innovation/enabler/solution #{{ i + 1 }}</strong>
          <div>{{ resultComplementary?.obj_result?.title }}</div>
        </div>

        <app-pr-select
          *ngIf="j > 0"
          class="segment_title_margin"
          [indexReference]="j + i"
          [options]="this.rangeListByIndex(j)"
          optionLabel="index"
          optionValue="id"
          placeholder="Select a level"
          [(ngModel)]="resultComplementary[attrList[j]]">
        </app-pr-select>
      </td>
    </tr>
  </table>
</div>
