h1,
p,
ul {
  margin: 0;
}

.local_container {
  padding: 20px;

  iframe {
    width: 100%;
    height: 1200px;
  }

  .box_container {
    background-color: #f8f8f8;
    padding: 20px 0;

    .desc {
      padding: 20px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 10px;
      background-color: var(--pr-color-accents-1);
      border-radius: 10px;
    }
  }
}

.tor_sub_title_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
