<div class="outcomes">
  <div class="outcomes_title">
    <i class="material-icons-outlined" style="font-size: 34px">assessment</i>
    <h1 class="outcomes_title_text">Outcome Indicator Module</h1>
  </div>

  <p class="outcomes_desc">Welcome to the Outcome indicators reporting module. Please select an action you would like to do.</p>

  <div class="outcomes_actions">
    <div
      class="outcomes_actions_item"
      routerLink="/outcome-indicator-module/eoi-outcome-home"
      [ngClass]="{ disabled: !this.outcomeIService.initiativeIdFilter || !this.api.dataControlSE.reportingCurrentPhase.phaseName }"
      [queryParams]="{ init: this.outcomeIService.initiativeIdFilter }">
      <i class="pi pi-sign-in" style="font-size: 4rem"></i>
      <p class="outcomes_actions_item--text">Report progress on End-Of-Initiative Outcomes</p>
    </div>

    <div
      class="outcomes_actions_item"
      routerLink="/outcome-indicator-module/work-package-outcome-home"
      [ngClass]="{ disabled: !this.outcomeIService.initiativeIdFilter || !this.api.dataControlSE.reportingCurrentPhase.phaseName }"
      [queryParams]="{ init: this.outcomeIService.initiativeIdFilter }">
      <i class="pi pi-box" style="font-size: 4rem"></i>
      <p class="outcomes_actions_item--text">Report progress on Work Packages Outcomes</p>
    </div>

    <div
      class="outcomes_actions_item"
      [ngClass]="{ disabled: !this.outcomeIService.initiativeIdFilter || !this.api.dataControlSE.reportingCurrentPhase.phaseName }"
      (click)="exportIndicatorsToExcel()">
      <i class="pi pi-file-export" style="font-size: 4rem"></i>
      <p class="outcomes_actions_item--text">Export all the progress reported by indicators</p>
    </div>
  </div>
</div>

<p-toast position="bottom-right" key="outcomeIndicators" />
