<div class="outcomes">
  <div class="outcomes_header">
    <div class="outcomes_title">
      <i class="material-icons-outlined" style="font-size: 30px">assessment</i>
      <h1 class="outcomes_title_text">Outcome Indicator Module</h1>
    </div>

    @if (this.api.rolesSE.isAdmin) {
      <app-pr-button
        [text]="this.outcomeIService.requestingFullReport() ? 'Downloading full report' : 'Download full report'"
        [ngClass]="{ globalDisabled: this.outcomeIService.requestingFullReport() }"
        icon="excel_white"
        [rotating]="this.outcomeIService.requestingFullReport()"
        (click)="exportFullReport()"></app-pr-button>
    }
  </div>

  <p class="outcomes_desc">Welcome to the Outcome indicators reporting module.</p>
  <p class="outcomes_desc">
    This module enables progress assessment against 2022-2024 cumulative targets for Work Package Outcome (WP-O) and End-of-Initiative Outcome (EOI-O)
    indicators. It supports a comprehensive overview of achievements under the previous portfolio as we embark on the next one, aligning results with
    targets and informing Sections 2 and 3 of the Type 1 report narrative.
  </p>
  <p class="outcomes_desc">
    Please select what you would like to report or if you would like to generate a report of what has already been reported. Guidance is available on
    the P&amp;R Hub
    <a
      href="https://drive.google.com/file/d/1qHZ6o_gbI0CXrvDiJRcJZMPT_xdQktV_/view"
      rel="noopener noreferrer"
      target="_blank"
      class="outcomes_desc_link">
      here</a
    >.
  </p>

  <div class="outcomes_actions">
    <div
      class="outcomes_actions_item"
      routerLink="/outcome-indicator-module/eoi-outcome-home"
      [ngClass]="{ globalDisabled: !this.outcomeIService.initiativeIdFilter || !this.api.dataControlSE.reportingCurrentPhase.phaseName }"
      [queryParams]="{ init: this.outcomeIService.initiativeIdFilter }"
      (click)="this.api.dataControlSE.detailSectionTitle('End of Initiative Outcome Indicators List')">
      <i class="pi pi-sign-in" style="font-size: 3rem"></i>
      <p class="outcomes_actions_item--text">Report progress on End-of-Initiative outcomes</p>
    </div>

    <div
      class="outcomes_actions_item"
      routerLink="/outcome-indicator-module/work-package-outcome-home"
      [ngClass]="{ globalDisabled: !this.outcomeIService.initiativeIdFilter || !this.api.dataControlSE.reportingCurrentPhase.phaseName }"
      [queryParams]="{ init: this.outcomeIService.initiativeIdFilter }"
      (click)="this.api.dataControlSE.detailSectionTitle('Work package outcome indicators list')">
      <i class="pi pi-box" style="font-size: 3rem"></i>
      <p class="outcomes_actions_item--text">Report progress on Work Package outcomes </p>
    </div>

    <div
      class="outcomes_actions_item"
      [ngClass]="{
        globalDisabled:
          !this.outcomeIService.initiativeIdFilter ||
          !this.api.dataControlSE.reportingCurrentPhase.phaseName ||
          this.outcomeIService.loading() ||
          this.outcomeIService.loadingWPs() ||
          !this.outcomeIService?.eoisData?.length ||
          !this.outcomeIService?.wpsData?.length
      }"
      (click)="exportIndicatorsToExcel(this.outcomeIService.eoisData, this.outcomeIService.wpsData)">
      <i class="pi pi-file-export" style="font-size: 3rem"></i>
      <p class="outcomes_actions_item--text">Export progress reported by indicator </p>
    </div>
  </div>
</div>

<p-toast position="bottom-right" key="outcomeIndicators" />
