.header_panel {
  width: 100%;
  height: 70px;
  max-height: 70px;
  overflow: hidden;
  background-color: var(--pr-color-tertiary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  box-sizing: border-box;

  .logo {
    display: flex;
    gap: 20px;
    cursor: pointer;

    .cgiar_logo {
      width: 40px;
      object-fit: cover;
      filter: contrast(0) brightness(5);
    }

    .title {
      color: white;
      font-weight: 200;
      font-size: 15px;
      display: flex;
      align-items: center;

      .first-text {
        font-weight: 300;
      }

      .second-text {
        margin-top: -4px;
        font-weight: 600;
      }
    }
  }

  .information {
    display: flex;
    align-items: center;
    gap: 20px;

    .admin_module {
      .admin_module_btn {
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: var(--pr-color-primary);
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          background-color: #4557bb;
        }
      }
    }

    .user_tag {
      background-color: var(--pr-color-secondary);
      border-radius: 5px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 5px 10px;
      font-size: 13px;

      .admin_tag {
        background-color: var(--pr-color-primary);
        padding: 3px 10px;
        border-radius: 3px;
      }

      .icon {
        color: white;
      }
    }

    .my_initiatives {
      color: white;
      background-color: var(--pr-color-secondary);
      display: flex;
      align-items: center;
      padding: 5px 15px;
      border-radius: 5px;
      gap: 10px;

      .title {
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 2px;
      }

      .items {
        display: flex;
        gap: 8px;
        overflow-x: auto;
        max-width: 300px;
        padding-bottom: 5px;

        .item {
          font-weight: 200;
          font-size: 12px;
          display: flex;
          border-radius: 3px;
          overflow: auto;
          min-width: max-content;

          .init,
          .role {
            padding: 4px 12px;
            font-weight: 600;
          }

          .init {
            background-color: var(--pr-color-primary);
          }

          .role {
            background-color: white;
            color: var(--pr-color-primary);
          }
        }
      }
    }
  }
}

.overlay_panel {
  border-radius: 5px;
  background-color: #fff;
  width: 340px;
  box-shadow: 4px 4px 10px 4px #00000040;
  margin-top: 10px;

  .overlay_panel_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.5rem 0 1.5rem;

    .overlay_panel_title {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
    }
  }

  .overlay_panel_body {
    padding: 10px 1.5rem 1.5rem 1.5rem;

    .no_notifications {
      font-weight: 500;
      margin: 0;
      text-wrap: pretty;
    }

    .overlay_panel_footer {
      text-align: center;

      .see_all_notifications {
        cursor: pointer;
        font-weight: 400;
        color: var(--pr-color-primary);
        margin: 0;
      }
    }
  }

  .overlay_panel_separator {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    margin: 10px 0;
  }
}

.info_icon {
  color: white;
  background-color: var(--pr-color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
