@let unreadNotifications = this.resultsNotificationsSE.updatesPopUpData;

@if (!this.dataControlSE.show_qa_full_screen) {
  <div class="header_panel_container">
    <div class="logo_container" routerLink="/">
      <img class="cgiar_logo" src="/assets/PR_logo.svg" alt="Reporting Tool Logo" />

      <div class="logo_content">
        <p class="logo_platform_name">{{ this.internationalizationData.global.platformName }}</p>
        <p class="logo_platform_name_secondary">P25 - Reporting 2025</p>
      </div>
    </div>

    <app-navigation-bar></app-navigation-bar>

    <div class="information">
      <div
        routerLink="/whats-new"
        pTooltip="What's new?"
        tooltipPosition="bottom"
        routerLinkActive="section_active"
        style="border-bottom: 4px solid transparent; border-top: 4px solid transparent">
        <i class="material-icons-round info_icon" routerLinkActive="info_icon_active">rocket_launch</i>
      </div>

      <div
        [satPopoverAnchor]="notificationsPopover"
        (click)="notificationsPopover.toggle()"
        [ngStyle]="{ 'margin-top': unreadNotifications.length > 0 && '-6px' }"
        style="border-bottom: 4px solid transparent; border-top: 4px solid transparent">
        @if (unreadNotifications.length === 0) {
          <i class="material-icons-round info_icon" [ngClass]="{ info_icon_active: notificationsPopover.isOpen() }">notifications</i>
        } @else {
          <p-overlayBadge [value]="notificationBadgeLength()" severity="danger" [style]="{ 'outline-style': 'none' }">
            <i class="material-icons-round animate_bell info_icon" [ngClass]="{ info_icon_active: notificationsPopover.isOpen() }"> notifications </i>
          </p-overlayBadge>
        }
      </div>

      <div style="border-bottom: 4px solid transparent; border-top: 4px solid transparent">
        <p-avatar
          [label]="getUserInitials()"
          shape="circle"
          [style]="{ width: '32px', height: '32px', cursor: 'pointer' }"
          [satPopoverAnchor]="userInfoPopover"
          (click)="userInfoPopover.toggle()" />
      </div>
    </div>
  </div>
}

<sat-popover #userInfoPopover hasBackdrop horizontalAlign="center" verticalAlign="below" scrollStrategy="close" [autoFocus]="false">
  <div class="overlay_panel" [style]="{ width: '250px' }">
    <div class="overlay_panel_header">
      <div class="overlay_panel_header_userInfo">
        <p-avatar [label]="getUserInitials()" shape="circle" [style]="{ width: '36px', height: '36px' }" />

        <div class="overlay_panel_header_userInfo_content">
          <p class="overlay_panel_header_userInfo_content_name">{{ this.api.authSE.localStorageUser?.user_name }}</p>
          <p class="overlay_panel_header_userInfo_content_email">{{ this.api.authSE.localStorageUser?.email }}</p>
        </div>
      </div>
    </div>

    <div class="overlay_panel_userInfo_content">
      @if (this.getInitiativeSeparatedByPortfolio().length > 0) {
        <div class="overlay_panel_userInfo_content_item">
          <p class="overlay_panel_userInfo_content_item_title">My Science Programs/Accelerators</p>

          @for (item of this.getInitiativeSeparatedByPortfolio(); track $index) {
            <p class="overlay_panel_userInfo_content_item_desc">{{ item.official_code }} - {{ item.role }}</p>
          }
        </div>
      }

      @if (this.api.rolesSE.isAdmin) {
        <div class="overlay_panel_admin_module" routerLink="/admin-module/completeness-status" (click)="userInfoPopover.toggle()">
          <i class="pi pi-wrench admin_module_icon"></i>
          <p class="overlay_panel_admin_module_title">Admin module</p>
        </div>
      }
    </div>

    <div class="overlay_panel_separator"></div>

    <div class="overlay_panel_footer footer_userInfo" (click)="userInfoPopover.toggle(); this.api.authSE.logout()">
      <i class="material-icons-round logout_icon">logout</i>
      <p class="logout_button">Log out</p>
    </div>
  </div>
</sat-popover>

<sat-popover #notificationsPopover hasBackdrop horizontalAlign="center" verticalAlign="below" scrollStrategy="close" [autoFocus]="false">
  <div class="overlay_panel" [style]="{ width: '340px' }">
    <div class="overlay_panel_header">
      <h1 class="overlay_panel_header_title">Notifications</h1>
    </div>

    <div class="overlay_panel_separator" [ngStyle]="{ 'margin-bottom': unreadNotifications.length > 0 && '0' }"></div>

    @if (unreadNotifications.length === 0) {
      <p class="no_notifications">
        You have not received any new notifications. Go to the notifications section to see all of your latest notifications.
      </p>
    } @else {
      <div class="notifications_list">
        @for (notification of unreadNotifications; track $index) {
          <app-pop-up-notification-item [notification]="notification" (click)="notificationsPopover.toggle()"></app-pop-up-notification-item>
        }
      </div>
    }

    <div class="overlay_panel_separator" *ngIf="unreadNotifications.length === 0"></div>

    <div class="overlay_panel_footer" [ngStyle]="{ 'padding-top': unreadNotifications.length > 0 && '15px' }">
      <p class="see_all_notifications" (click)="goToNotifications(); notificationsPopover.toggle()">See all the notifications</p>
    </div>
  </div>
</sat-popover>

<app-tawk
  *ngIf="this.api.authSE.localStorageUser?.user_name && this.api.authSE.localStorageUser?.email && !inLocal"
  [user]="{ username: this.api.authSE.localStorageUser.user_name, email: this.api.authSE.localStorageUser.email }">
</app-tawk>
