.header_panel {
  width: 100%;
  height: 70px;
  max-height: 70px;
  overflow: hidden;
  background-color: var(--pr-color-tertiary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px;
  box-sizing: border-box;

  .logo {
    display: flex;
    gap: 20px;
    cursor: pointer;

    .cgiar_logo {
      width: 40px;
      object-fit: cover;
      filter: contrast(0) brightness(5);
    }

    .title {
      color: white;
      font-weight: 200;
      font-size: 15px;
      display: flex;
      align-items: center;

      .first-text {
        font-weight: 300;
      }

      .second-text {
        margin-top: -4px;
        font-weight: 600;
      }
    }
  }

  .information {
    display: flex;
    align-items: center;
    gap: 20px;

    .admin_module {
      .admin_module_btn {
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        background-color: var(--pr-color-primary-300);
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;
        transition: all ease 0.3s;

        &:hover {
          background-color: #4557bb;
        }
      }
    }

    .user_tag {
      background-color: var(--pr-color-secondary-400);
      border-radius: 5px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 5px 10px;
      font-size: 13px;

      .admin_tag {
        background-color: var(--pr-color-primary-300);
        padding: 3px 10px;
        border-radius: 3px;
      }

      .icon {
        color: white;
      }
    }

    .my_initiatives {
      color: white;
      background-color: var(--pr-color-secondary-400);
      display: flex;
      align-items: center;
      padding: 5px 15px;
      border-radius: 5px;
      gap: 10px;

      .title {
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 2px;
      }

      .items {
        display: flex;
        gap: 8px;
        overflow-x: auto;
        max-width: 300px;
        padding-bottom: 5px;

        .item {
          font-weight: 200;
          font-size: 12px;
          display: flex;
          border-radius: 3px;
          overflow: auto;
          min-width: max-content;

          .init,
          .role {
            padding: 4px 12px;
            font-weight: 600;
          }

          .init {
            background-color: var(--pr-color-primary-300);
          }

          .role {
            background-color: white;
            color: var(--pr-color-primary-300);
          }
        }
      }
    }
  }
}

.overlay_panel {
  border-radius: 25px;
  background-color: #fff;
  width: 340px;
  box-shadow: 4px 4px 10px 4px #00000040;
  margin-top: 10px;

  .overlay_panel_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 1.5rem 0 1.5rem;

    .overlay_panel_title {
      font-size: 16px;
      font-weight: 700;
      margin: 0;
    }
  }

  .no_notifications {
    font-weight: 500;
    text-wrap: pretty;
    padding: 10px 1.5rem;
  }

  .notifications_list {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 500px;
    scrollbar-width: thin;
    scrollbar-color: var(--pr-color-primary-300) #eef0fc;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--pr-color-primary-300);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #eef0fc;
    }

    @media (max-height: 800px) {
      max-height: 400px;
    }

    .notification {
      padding: 15px 1.5rem 10px 1.5rem;
      background-color: #eef0fc;
      border-bottom: 1px solid var(--pr-color-primary-300);
    }
  }

  .overlay_panel_footer {
    padding-top: 5px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    .see_all_notifications {
      cursor: pointer;
      font-weight: 400;
      color: var(--pr-color-primary-300);
      margin: 0;
      width: fit-content;
    }
  }

  .overlay_panel_separator {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
    margin: 10px 0;
  }
}

.info_icon {
  color: white;
  background-color: var(--pr-color-secondary-400);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.animate_bell {
  -webkit-animation: ring 4s 0.7s ease-in-out 2;
  -webkit-transform-origin: 50% 4px;
  transform-origin: 50% 4px;
  -moz-animation: ring 4s 0.7s ease-in-out 2;
  -moz-transform-origin: 50% 4px;
  animation: ring 4s 0.7s ease-in-out 2;
}

@-webkit-keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }

  1% {
    -webkit-transform: rotateZ(30deg);
  }

  3% {
    -webkit-transform: rotateZ(-28deg);
  }

  5% {
    -webkit-transform: rotateZ(34deg);
  }

  7% {
    -webkit-transform: rotateZ(-32deg);
  }

  9% {
    -webkit-transform: rotateZ(30deg);
  }

  11% {
    -webkit-transform: rotateZ(-28deg);
  }

  13% {
    -webkit-transform: rotateZ(26deg);
  }

  15% {
    -webkit-transform: rotateZ(-24deg);
  }

  17% {
    -webkit-transform: rotateZ(22deg);
  }

  19% {
    -webkit-transform: rotateZ(-20deg);
  }

  21% {
    -webkit-transform: rotateZ(18deg);
  }

  23% {
    -webkit-transform: rotateZ(-16deg);
  }

  25% {
    -webkit-transform: rotateZ(14deg);
  }

  27% {
    -webkit-transform: rotateZ(-12deg);
  }

  29% {
    -webkit-transform: rotateZ(10deg);
  }

  31% {
    -webkit-transform: rotateZ(-8deg);
  }

  33% {
    -webkit-transform: rotateZ(6deg);
  }

  35% {
    -webkit-transform: rotateZ(-4deg);
  }

  37% {
    -webkit-transform: rotateZ(2deg);
  }

  39% {
    -webkit-transform: rotateZ(-1deg);
  }

  41% {
    -webkit-transform: rotateZ(1deg);
  }

  43% {
    -webkit-transform: rotateZ(0);
  }

  100% {
    -webkit-transform: rotateZ(0);
  }
}

@-moz-keyframes ring {
  0% {
    -moz-transform: rotate(0);
  }

  1% {
    -moz-transform: rotate(30deg);
  }

  3% {
    -moz-transform: rotate(-28deg);
  }

  5% {
    -moz-transform: rotate(34deg);
  }

  7% {
    -moz-transform: rotate(-32deg);
  }

  9% {
    -moz-transform: rotate(30deg);
  }

  11% {
    -moz-transform: rotate(-28deg);
  }

  13% {
    -moz-transform: rotate(26deg);
  }

  15% {
    -moz-transform: rotate(-24deg);
  }

  17% {
    -moz-transform: rotate(22deg);
  }

  19% {
    -moz-transform: rotate(-20deg);
  }

  21% {
    -moz-transform: rotate(18deg);
  }

  23% {
    -moz-transform: rotate(-16deg);
  }

  25% {
    -moz-transform: rotate(14deg);
  }

  27% {
    -moz-transform: rotate(-12deg);
  }

  29% {
    -moz-transform: rotate(10deg);
  }

  31% {
    -moz-transform: rotate(-8deg);
  }

  33% {
    -moz-transform: rotate(6deg);
  }

  35% {
    -moz-transform: rotate(-4deg);
  }

  37% {
    -moz-transform: rotate(2deg);
  }

  39% {
    -moz-transform: rotate(-1deg);
  }

  41% {
    -moz-transform: rotate(1deg);
  }

  43% {
    -moz-transform: rotate(0);
  }

  100% {
    -moz-transform: rotate(0);
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }

  1% {
    transform: rotate(30deg);
  }

  3% {
    transform: rotate(-28deg);
  }

  5% {
    transform: rotate(34deg);
  }

  7% {
    transform: rotate(-32deg);
  }

  9% {
    transform: rotate(30deg);
  }

  11% {
    transform: rotate(-28deg);
  }

  13% {
    transform: rotate(26deg);
  }

  15% {
    transform: rotate(-24deg);
  }

  17% {
    transform: rotate(22deg);
  }

  19% {
    transform: rotate(-20deg);
  }

  21% {
    transform: rotate(18deg);
  }

  23% {
    transform: rotate(-16deg);
  }

  25% {
    transform: rotate(14deg);
  }

  27% {
    transform: rotate(-12deg);
  }

  29% {
    transform: rotate(10deg);
  }

  31% {
    transform: rotate(-8deg);
  }

  33% {
    transform: rotate(6deg);
  }

  35% {
    transform: rotate(-4deg);
  }

  37% {
    transform: rotate(2deg);
  }

  39% {
    transform: rotate(-1deg);
  }

  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(0);
  }
}
