<app-pr-field-header label="Provide any reference materials that show the Innovation Package in action/ use"
    [required]="false"></app-pr-field-header>

<div class="fields">
    <div class="field" *ngFor="let item of this.body.ipsr_materials; let i=index">
        <div class="number">{{i+1}}.</div>
        <app-pr-input [required]="true" placeholder="Link" [(ngModel)]="item.link">
        </app-pr-input>
    </div>
</div>
<div style="width: 200px;">
    <app-pr-button (click)="addItem()" padding="small" text="Add another link to reference material" icon="add_box"
    *ngIf="!this.rolesSE.readOnly"></app-pr-button>
</div>
