@use '../../../../../../../../../styles/fonts.scss' as fonts;

.settings-title {
  @include fonts.pr-typography('h2');
  font-weight: 500;
  margin: 0;
  margin-top: 20px;
  color: var(--pr-color-primary-300);
}

.settings-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;

  .settings-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .settings-content-title {
      @include fonts.pr-typography('h3');
      font-weight: 500;
      margin: 0;
    }

    .settings-content-description {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .settings-content-description-title {
        @include fonts.pr-typography('h4');
        font-weight: 400;
        margin: 0;
      }

      .settings-content-description-list {
        margin: 0;
      }
    }
  }
}

.settings_filters {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding: 0;
  flex-wrap: wrap;

  .chip_item {
    background-color: var(--pr-color-neutral-1000);
    padding: 8px 20px;
    @include fonts.pr-typography('body-2');
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
  }
}

.save-button {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.chip_selected {
  background-color: var(--pr-color-primary-300) !important;
  color: var(--pr-color-white) !important;
}

.rounded_first {
  border-top-left-radius: 10px;
}

.rounded_last {
  border-top-right-radius: 10px;
}
