<div class="unit_of_time_container">
    <div>
        <app-pr-field-header label="Expected partner co-investment (from own resources) in Innovation Package in next"
            [required]="false"></app-pr-field-header>
    </div>
    <div class="unitW">
        <app-pr-input placeholder="Number" type="number" [required]="false" noDataText="#" [readOnly]="true"
            [(ngModel)]="this.body.partner_expected_time">
        </app-pr-input>
    </div>
    <div>
        <app-pr-select [options]="this.manageRipUnitTimeSE.unitTimeList" noDataText="Month(s)/Year(s)" [readOnly]="true"
            optionLabel="name" optionValue="unit_time_id" [(ngModel)]="this.body.partner_unit_time_id"
            placeholder="Select">
        </app-pr-select>
    </div>
</div>

<table>
    <tr>
        <th>Partner</th>
        <th>In-kind investment (staff time, etc.) USD</th>
        <th>In-cash USD investment</th>
        <th></th>
        <th *ngIf="!this.rolesSE.readOnly"></th>
    </tr>
    <tr *ngFor="let option of this.body.institutions_expected_investment; let i=index"
        [hidden]="option.institution.is_active == false">
        <td>
            <div class="name">{{option.institution.institutions_name}}</div>
            <div class="type"> <strong>Delivery type:</strong> {{option?.institution?.institutions_type_name}}</div>
            <div style="margin-top: -10px;margin-bottom: 5px;">
                <app-pr-field-header label="Partner role">
                </app-pr-field-header>
            </div>

            <div class="deliveries" [ngClass]="{'readOnly_deliveries': this.rolesSE.readOnly}">
                <div class="delivery"
                    *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.institution.deliveries,1) : true"
                    [ngClass]="{'active': validateDeliverySelection(option?.institution?.deliveries,1)}"
                    (click)="onSelectDelivery(option?.institution,1)">Scaling</div>
                <div class="delivery"
                    *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.institution?.deliveries,2) : true"
                    [ngClass]="{'active': validateDeliverySelection(option?.institution?.deliveries,2)}"
                    (click)="onSelectDelivery(option?.institution,2)">Demand</div>
                <div class="delivery"
                    *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.institution?.deliveries,3) : true"
                    [ngClass]="{'active': validateDeliverySelection(option?.institution?.deliveries,3)}"
                    (click)="onSelectDelivery(option?.institution,3)">Innovation</div>
                <div class="delivery"
                    *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.institution?.deliveries,4) : true"
                    [ngClass]="{'active': validateDeliverySelection(option?.institution?.deliveries,4)}"
                    (click)="onSelectDelivery(option?.institution,4)">Other</div>

                <!-- <div class="info_button" (click)="showInfo = true">

                    <i class="material-icons-round">help_outline
                    </i>
                </div> -->
            </div>








        </td>
        <td>
            <app-pr-input placeholder="Write some..." type="number" [required]="false"
                [(ngModel)]="option.budget[0].in_kind">
            </app-pr-input>
        </td>
        <td>
            <app-pr-input placeholder="Write some..." type="number" [required]="false"
                [(ngModel)]="option.budget[0].in_cash">
            </app-pr-input>
        </td>
        <td>
            <app-pr-radio-button optionLabel="name" optionValue="id"
                [options]="[{name:'This is yet to be determined',id:true}]"
                [(ngModel)]="option.budget[0].is_determined">
            </app-pr-radio-button>
        </td>
        <td *ngIf="!this.rolesSE.readOnly">
            <div class="center_flex_100">
                <div class="step-4-delete-button" (click)="deletePartner(option)">
                    <i class="material-icons-round">
                        delete
                    </i>
                </div>
            </div>
        </td>
    </tr>
</table>

<app-step-n4-add-partner [body]="this.body"></app-step-n4-add-partner>