<app-pr-field-header label="Expected partner co-investment (from own resources) in Innovation Package in next"
    [required]="false"></app-pr-field-header>
<table>
    <tr>
        <th>Partner</th>
        <th>In-kind investment (staff time, etc.) USD</th>
        <th>In-cash USD investment</th>
        <th></th>
    </tr>
    <tr *ngFor="let option of this.body.institutions_expected_investment; let i=index">
        <td>
            Partner {{i+1}}
            <app-pr-field-header label="Delivery type"></app-pr-field-header>






            <div class="deliveries" [ngClass]="{'readOnly_deliveries': this.rolesSE.readOnly}">
                <div class="delivery"
                    *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.institution.deliveries,1) : true"
                    [ngClass]="{'active': validateDeliverySelection(option?.institution?.deliveries,1)}"
                    (click)="onSelectDelivery(option?.institution,1)">Scaling</div>
                <div class="delivery"
                    *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.institution?.deliveries,2) : true"
                    [ngClass]="{'active': validateDeliverySelection(option?.institution?.deliveries,2)}"
                    (click)="onSelectDelivery(option?.institution,2)">Demand</div>
                <div class="delivery"
                    *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.institution?.deliveries,3) : true"
                    [ngClass]="{'active': validateDeliverySelection(option?.institution?.deliveries,3)}"
                    (click)="onSelectDelivery(option?.institution,3)">Innovation</div>
                <div class="delivery"
                    *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.institution?.deliveries,4) : true"
                    [ngClass]="{'active': validateDeliverySelection(option?.institution?.deliveries,4)}"
                    (click)="onSelectDelivery(option?.institution,4)">Other</div>

                <!-- <div class="info_button" (click)="showInfo = true">

                    <i class="material-icons-round">help_outline
                    </i>
                </div> -->
            </div>








        </td>
        <td>
            <app-pr-input placeholder="Write some..." type="number" [required]="false"
                [(ngModel)]="option.budget.in_kind">
            </app-pr-input>
        </td>
        <td>
            <app-pr-input placeholder="Write some..." type="number" [required]="false"
                [(ngModel)]="option.budget.in_cash">
            </app-pr-input>
        </td>
        <td>
            <app-pr-radio-button optionLabel="name" optionValue="id"
                [options]="[{name:'This is yet to be determined',id:true}]" [(ngModel)]="option.budget.is_determined">
            </app-pr-radio-button>
        </td>
    </tr>
</table>

<app-step-n4-add-partner [body]="this.body"></app-step-n4-add-partner>