@use '../../../../styles/fonts.scss' as fonts;

.table_container {
  padding: 10px;
  overflow: hidden;
  position: relative;

  .options {
    display: flex;
    justify-content: space-between;
  }

  .counter {
    @include fonts.pr-typography('body-2');
    margin-bottom: 35px;
    margin-left: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;

    .name {
      color: var(--pr-color-primary-300);
    }
  }
}

.search_input {
  border-radius: 5px !important;
  border: 1px solid var(--pr-color-neutral-1000);
  margin: 0px !important;
  padding: 6px 5px;
}

.first_options {
  grid-template-columns: 250px 2fr 1fr;
  margin-bottom: 0px !important;

  .initiatives_selector {
    min-width: 300px;
  }

  .search_input {
    width: auto;
    margin-bottom: 0px !important;
  }
}

.not_provided_text {
  color: var(--pr-color-accents-3);
  font-style: italic;
  @include fonts.pr-typography('body-3');
}

.Pending {
  color: var(--pr-color-accents-3);
}

.Completed {
  color: var(--pr-color-green-500);
  font-weight: 500;
  padding: 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 10px;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: var(--pr-color-green-500);
  }
}
