.modal_container {
  padding: 20px 50px 80px 50px;
  width: 100vw !important;
  max-width: 90vw !important;
  min-height: 50vh;
}

.modal_title {
  background-color: var(--pr-color-secondary);
  width: 100%;
  font-size: 1.3em;
  font-weight: 600;
  color: white;
  padding: 10px 20px;
  border-bottom-right-radius: 10px;
}

.description {
  font-weight: 700;
  text-align: center;
  color: var(--pr-color-secondary);
  padding: 20px 20vw;
  font-size: 1.2rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  margin-top: -50px;
  padding-right: 50px;
  padding-bottom: 10px;
}

.information {
  text-align: center;
  padding: 10px 50px;
  font-size: 1.3em;

  strong {
    color: var(--pr-color-primary);
  }
}

.subResults {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.action_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.table {
  padding-bottom: 100px;
}

td {
  a {
    display: flex;
    color: var(--pr-color-secondary);
  }
}

.title {
  a {
    &:nth-child(2) {
      border-top: 1px solid #eaeaea;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.phase_name {
  a {
    height: 35px;
    display: flex;
    align-items: center;
    &:nth-child(2) {
      height: 45px;
      border-top: 1px solid #eaeaea;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.result_type {
  a {
    height: 35px;
    display: flex;
    align-items: center;
    &:nth-child(2) {
      height: 45px;
      border-top: 1px solid #eaeaea;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.submitter {
  a {
    height: 35px;
    display: flex;
    align-items: center;
    &:nth-child(2) {
      height: 45px;
      border-top: 1px solid #eaeaea;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.status_name {
  a {
    height: 35px;
    display: flex;
    align-items: center;
    &:nth-child(2) {
      height: 45px;
      border-top: 1px solid #eaeaea;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.created_date {
  a {
    height: 35px;
    display: flex;
    align-items: center;
    &:nth-child(2) {
      height: 45px;
      border-top: 1px solid #eaeaea;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.full_name {
  a {
    height: 35px;
    display: flex;
    align-items: center;
    &:nth-child(2) {
      height: 45px;
      border-top: 1px solid #eaeaea;
      margin-top: 10px;
      padding-top: 10px;
    }
  }
}

.noDataText {
  text-align: center;
  padding: 50px 0px;
  font-size: 1.3em;
  font-weight: 500;
  color: var(--pr-color-primary);
}

.new_tag {
  background-color: var(--pr-color-primary);
  margin-right: 10px;
  padding: 2px 3px;
  font-size: 0.8em;
  border-radius: 3px;
  color: white;
  height: 17px;
}

.actions_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link_button {
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  height: max-content;
  width: max-content;

  &.view {
    background-color: var(--pr-color-secondary);
    outline: none;
    color: white;
  }

  &.update {
    background-color: var(--pr-color-primary);
  }
}
