<div class="step_title"> <strong>Step 2:</strong>Innovation Packaging </div>
<div class="local_container section_container">
    <div class="tabs">
        <a class="tab" routerLinkActive="active" routerLink="complementary-innovation">2.1 Complementary
            innovations/enavlers/solutions
            <app-ipsr-green-check objectReference="stepSections.1.stepSubSections.0"></app-ipsr-green-check>
        </a>
        <a class="tab" routerLinkActive="active" routerLink="basic-info" [ngClass]="{'globalDisabled': true}">2.2 Basic
            info
            <app-ipsr-green-check objectReference="stepSections.1.stepSubSections.1"></app-ipsr-green-check>
            <img class="under_construction" src="assets/work-in-progress.png" alt="" srcset="" style="width: 20px;"></a>
    </div>
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>
</div>



<button pButton label="Go to previous step" routerLink="../step-1" class="pass_steps"
    icon="pi pi-arrow-circle-left"></button>
<button pButton label="Go to next step" routerLink="../step-3" class="pass_steps" icon="pi pi-arrow-circle-right"
    iconPos="right" style="margin-left: 20px;"></button>