<div class="page_alert">
    <div class="header_panel">
        <div class="logo" routerLink="/">
            <img class="cgiar_logo" src="/assets/cgiar_logo.png" alt="" srcset="" />
            <div class="title">
                <div class="second-text">{{this.internationalizationData.global.platformName}}</div>
            </div>
        </div>
    </div>

    <div class="alert_content">
        <div class="alert_info">
            <div class="icon">
                <i class="material-icons-round {{this.type}}-icon">
                    {{this.type}}
                </i>
            </div>
            <div class="title {{this.type}}-icon">{{this.title}}</div>
            <div class="text">{{this.message}}</div>
        </div>
    </div>

    <div class="footer_panel">
        <div>
            Please do not hesitate to contact us:
        </div>

        <div>
            <div>For technical questions related with this tool, please contact
                <strong>PRMSTechSupport&#64;cgiar.org</strong>
            </div>
            <div>For content questions related on how to fill different sections, please contact
                <strong>projectcoordinationunit&#64;cgiar.org</strong>
            </div>
        </div>
    </div>
</div>