.info_icon {
  color: var(--pr-color-white);
  background-color: var(--pr-color-secondary-400);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
