.local_container {
  padding: 10px 100px;

  .section_container {
    width: 100% !important;
    padding: 50px 50px 50px 50px;
    margin-bottom: 120px;
  }

  .mqap_sync_title {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 20px;

    .sync_button {
      margin-top: 45px;
    }
  }
}
