.local_container {
    padding: 10px 100px;

    .section_container {
        width: 100% !important;
        padding: 50px 50px 50px 50px;
    }

    .greeting {}
}

.save_button_container {
    position: sticky;
    right: 0;
    bottom: 0;
    // padding-bottom: 50px;
}