<div class="local_container">
    <div class="option">
        <div class="text">{{replicateBannerText()}}</div>
        <div class="button">
            <app-pr-button padding="medium"
                [text]="this.api.dataControlSE.massivePhaseShiftIsRunning?'Running (this process may take time, please wait)':'Execute'"
                [rotating]="this.api.dataControlSE.massivePhaseShiftIsRunning"
                [icon]="this.api.dataControlSE.massivePhaseShiftIsRunning?'loop':'chevron_right'"
                [ngClass]="{'globalDisabled': this.api.dataControlSE.massivePhaseShiftIsRunning}"
                (click)="execute()"></app-pr-button>
        </div>
    </div>
</div>


<app-massive-phase-shift [replicateIPSR]="replicateIPSR"></app-massive-phase-shift>