h1,
p {
  margin: 0;
}

.requests {
  display: flex;
  flex-direction: column;
  // height: 600px;
  // overflow: auto;
}

.requests_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin: 20px 0;

  .requests_header_item {
    font-weight: 500;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #d9d9d9;
    color: #2a2e45;
  }
}

.active {
  background-color: #2a2e45 !important;
  color: #fff !important;
}
