<app-pr-field-header
    label="Specify to which SDG Target(s) the scaling of the core innovation is expected to contribute to by 2030 in the specific country/ subnational context"></app-pr-field-header>

<div>Select an SDG to filter the list of targets:</div>
<div class="sdg_targets">
    <div class="sdg_item" *ngFor="let sdgItem of this.sdgTargetLis" (click)="onSelectSDG(sdgItem)">
        <img [src]="'assets/sdg/'+sdgItem?.sdgId+'.png'" alt="" srcset=""
            [ngClass]="{'sdg_selected': sdgItem?.selected}">
    </div>
</div>

<div class="sdg_targets_dropdowns">
    <div class="dropdown-50p" *ngFor="let item of sdgTargetLis">
        <app-pr-multi-select [options]="item?.sdgList" optionLabel="full_name" optionValue="id"
            *ngIf="this.currentsdgID ==item?.sdgId" selectedOptionLabel="indicator_statement"
            [placeholder]="'Select ' +item?.short_name+ ' target(s)'" [(ngModel)]="this.body.sdgTargets">
        </app-pr-multi-select>
    </div>
</div>

<div class="selected_container custom_scroll dropdown-50p">
    <br>
    <app-pr-field-header description=" All SDG target(s) selected:">
    </app-pr-field-header>
    <div class="chips_container">
        <div class="pr_chip_selected" *ngFor="let option of this.body.sdgTargets; let i=index"
            [ngClass]="{'is_active_false': false}">
            <div class="name" [innerHtml]="option?.full_name"></div><i *ngIf="!this.api.rolesSE.readOnly"
                class="material-icons-round" (click)="removeOption(option)">remove_circle
            </i>
        </div>
    </div>
</div>

<div class="step_divider"></div>