<app-pr-field-header
    label="Specify to which SDG Target(s) the scaling of the core innovation is expected to contribute to by 2030 in the specific country/ subnational context"></app-pr-field-header>

<div class="sdg_targets">
    <div class="sdg_item" *ngFor="let sdgItem of this.sdgTargetListSelector" (click)="onSelectSDG(sdgItem)">
        <img [src]="'assets/sdg/'+sdgItem?.id+'.png'" alt="" srcset="" [ngClass]="{'sdg_selected': sdgItem?.selected}">
    </div>
</div>

<div class="sdg_targets_dropdowns">
    <!-- <div class="dropdown-50p" *ngFor="let item of sdgTargetListDropdowns">
        <app-pr-multi-select [options]="" optionLabel="target" optionValue="targetId"
            selectedOptionLabel="indicator_statement"
            placeholder="Select Poverty Reduction, Livelihoods and Jobs targets(s)">
        </app-pr-multi-select>
    </div> -->
</div>