@use '../../../../../../../../../styles/fonts.scss' as fonts;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.tab-content_chip {
  @include fonts.pr-typography('body-3');
  font-weight: 600;
  padding: 3px 6px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid var(--pr-color-secondary-50);
  color: var(--pr-color-secondary-200);
}

.achieved {
  border: 1px solid var(--pr-color-green-500) !important;
  color: var(--pr-color-green-500) !important;
}

.in-progress {
  border: 0.3px solid var(--pr-color-secondary-400);
  color: var(--pr-color-secondary-400);
}

.tab-content_actions {
  display: flex;
  gap: 8px;
  width: 100%;
  flex-direction: column;
}

.tab-content_actions_button {
  min-width: max-content;
  padding: 4px 6px;
}

.tab-content_empty {
  @include fonts.pr-typography('h4');
  font-weight: 600;
  color: var(--pr-color-secondary-600);
  text-align: center;
}

.tab-content_progress {
  display: flex;
  align-items: center;
  gap: 7px;
  @include fonts.pr-typography('body-3');
  font-weight: 500;
  color: var(--pr-color-secondary-400);
}

.no-indicators-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 10px 15px;

  .no-indicators-message {
    @include fonts.pr-typography('body-1');
    color: #7e8389;
    text-align: center;
    max-width: 600px;
  }

  .no-indicators-button {
    min-width: max-content;
    padding: 4px 6px;
  }
}
