<app-pr-field-header
    label="Specify to which CGIAR Action Area outcomes the scaling of the core innovation is expected to contribute by 2024 in the selected geolocation"></app-pr-field-header>
<br>
<div class="aao-list">
    <div class="aao-item">

        <div appFeedbackValidation
            labelText="Specify to which CGIAR Action Area outcomes the scaling of the core innovation is expected to contribute by 2024 in the selected geolocation"
            [isComplete]="!!this.body.actionAreaOutcomes?.length">
        </div>
        <div class="title">
            <img class="aao_image" src="assets/action_areas/1.png" alt="" srcset="">
            <div class="pr-h4">Systems Transformation outcomes</div>
        </div>

        <app-pr-multi-select *ngIf="this.actionAreasOutcomesList?.systemTrasnformation?.length"
            [options]="this.actionAreasOutcomesList?.systemTrasnformation" [required]="false" optionLabel="full_name"
            optionValue="action_area_outcome_id" selectedOptionLabel="outcomeStatement"
            placeholder="Select Systems Transformation outcomes " [(ngModel)]="this.body.actionAreaOutcomes">
        </app-pr-multi-select>


        <div class="selected_container custom_scroll ">
            <br>
            <app-pr-field-header
                [description]="'Systems Transformation outcome(s) selected('+filterByAAOId(1)?.length+'):'">
            </app-pr-field-header>
            <div class="chips_container">
                <div class="pr_chip_selected" *ngFor="let option of filterByAAOId(1); let i=index"
                    [ngClass]="{'is_active_false': false}">
                    <div class="name" [innerHtml]="option.full_name"></div><i *ngIf="!this.api.rolesSE.readOnly"
                        class="material-icons-round" (click)="removeOption(option)">remove_circle
                    </i>
                </div>
            </div>
        </div>

        <div class="fragment_section_divider"></div>
    </div>
    <div class="aao-item">
        <div class="title">
            <img class="aao_image" src="assets/action_areas/2.png" alt="" srcset="">
            <div class="pr-h4">Resilient Agrifood Systems outcomes</div>
        </div>
        <app-pr-multi-select *ngIf="this.actionAreasOutcomesList?.resilientAgrifoodSystems?.length"
            [options]="this.actionAreasOutcomesList?.resilientAgrifoodSystems" [required]="false"
            optionLabel="full_name" optionValue="action_area_outcome_id" selectedOptionLabel="outcomeStatement"
            placeholder="Select Resilient Agrifood Systems outcomes" [(ngModel)]="this.body.actionAreaOutcomes">
        </app-pr-multi-select>


        <div class="selected_container custom_scroll">
            <br>
            <app-pr-field-header
                [description]="'Resilient Agrifood Systems outcome(s) selected('+filterByAAOId(1)?.length+'):'">
            </app-pr-field-header>
            <div class=" chips_container">
                <div class="pr_chip_selected" *ngFor="let option of filterByAAOId(2); let i=index"
                    [ngClass]="{'is_active_false': false}">
                    <div class="name" [innerHtml]="option.full_name"></div><i *ngIf="!this.api.rolesSE.readOnly"
                        class="material-icons-round" (click)="removeOption(option)">remove_circle
                    </i>
                </div>
            </div>
        </div>

        <div class="fragment_section_divider"></div>
    </div>
    <div class="aao-item">
        <div class="title">
            <img class="aao_image" src="assets/action_areas/3.png" alt="" srcset="">
            <div class="pr-h4">Genetic Innovation outcomes</div>
        </div>
        <app-pr-multi-select *ngIf="this.actionAreasOutcomesList?.geneticInnovation?.length"
            [options]="this.actionAreasOutcomesList?.geneticInnovation" [required]="false" optionLabel="full_name"
            optionValue="action_area_outcome_id" selectedOptionLabel="outcomeStatement"
            placeholder="Select Genetic Innovation outcomes" [(ngModel)]="this.body.actionAreaOutcomes">
        </app-pr-multi-select>


        <div class="selected_container custom_scroll">
            <br>
            <app-pr-field-header
                [description]="'Genetic Innovation outcome(s) selected('+filterByAAOId(1)?.length+'):'">
            </app-pr-field-header>
            <div class="chips_container">
                <div class="pr_chip_selected" *ngFor="let option of filterByAAOId(3); let i=index"
                    [ngClass]="{'is_active_false': false}">
                    <div class="name" [innerHtml]="option.full_name"></div><i *ngIf="!this.api.rolesSE.readOnly"
                        class="material-icons-round" (click)="removeOption(option)">remove_circle
                    </i>
                </div>
            </div>
        </div>

        <div class="fragment_section_divider"></div>

    </div>


</div>



<div class="step_divider"></div>