.similar_results {
  overflow-x: auto;
  height: 300px !important;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;

  .result {
    display: flex;
    position: relative;
    padding: 3px 0px;
    // padding-left: 20px;
    font-weight: 500;
    gap: 20px;
    color: var(--pr-color-secondary);
    justify-content: space-between;
    align-items: center;

    .line {
      content: '';
      background-color: rgb(0, 162, 255);
      width: 7px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .texts {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      padding-right: 20px;
    }

    .title {
      font-size: 13px;
      font-weight: 400;
      color: var(--pr-color-primary);
      margin: 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: var(--pr-color-secondary);
      }
    }
  }
}

.validation-text {
  margin-top: 10px;
}
