.similar_results {
  overflow-x: auto;
  height: calc(100vh - 500px) !important;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;

  .resultCode {
    font-weight: 600;
  }

  .textsInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    min-width: 200px;

    .typeAndPhases {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .typeAndPhasesItem {
        display: flex;
        align-items: center;
        border: 1px solid var(--pr-color-accents-2);
        border-radius: 5px;
        background-color: var(--pr-color-accents-1);
        padding: 5px 10px;
        margin: 0;
        margin-top: 5px;
      }
    }
  }

  .result {
    display: grid;
    grid-template-columns: 9fr 1fr;
    position: relative;
    font-weight: 500;
    gap: 20px;
    color: var(--pr-color-secondary-400);
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--pr-color-accents-2);
    border-radius: 5px;
    padding: 1rem;

    .line {
      content: '';
      background-color: rgb(0, 162, 255);
      width: 7px;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    .texts {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 1rem;
      padding-right: 20px;
    }

    .title {
      font-size: 13px;
      font-weight: 400;
      color: var(--pr-color-primary-300);
      margin: 0;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: var(--pr-color-secondary-400);
      }
    }
  }
}

.validation-text {
  margin-top: 10px;
}
