:host {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
  }

  td,
  th {
    border: 2px solid rgba(var(--pr-color-primary-rgb), 0.431);
    padding: 10px;

    span {
      font-weight: 400;
    }
  }
}
