.all_notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 59vh;
}

.notifications_filters {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
  gap: 50px;
  background-color: var(--pr-color-accents-1);
  padding: 0px 20px 20px 20px;
  margin-bottom: 10px;
}

.local_container {
  min-height: 400px;
}
