h1,
p {
  margin: 0;
}

.sent_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .sent_container_content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .sent_container_header_title {
      font-size: 18px;
      font-weight: 600;
    }

    .sent_container_content_item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
    }

    .sent_container_content_empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      font-size: 16px;
      font-weight: 600;
      background-color: var(--pr-color-primary-25);
      border-bottom: 1px solid var(--pr-color-accents-4);
    }
  }
}
