.all_results_level_Container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .resultLevel:nth-child(1) .name {
        background-color: var(--pr-color-result-level-1);
    }

    .resultLevel:nth-child(2) .name {
        background-color: var(--pr-color-result-level-2);
    }

    .resultLevel:nth-child(3) .name {
        background-color: var(--pr-color-result-level-3);
    }

    .resultLevel {
        background-color: white;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;

        .name {
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            font-size: 1.3em;
        }

        .description {
            padding: 15px;
        }
    }
}