.selected_container {
  margin-top: 10px;
  overflow-y: auto;
  max-height: 300px;

  .chips_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 3px;

    .pr_chip_selected {
      background-color: var(--pr-color-primary-50);
      color: var(--pr-color-secondary-400);
      font-size: 0.95em;
      padding: 6px 13px;
      border-radius: 10px;
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: center;

      .medal {
        transition: all ease-in-out 0.4s;
        color: rgb(167, 167, 167);
      }

      .primary {
        color: var(--pr-color-primary-300);
      }
    }

    .medal-gap {
      gap: 10px;
    }
  }
}

i {
  justify-self: center;
  align-self: center;
  cursor: default !important;
  font-size: 1.5em;
  color: rgb(68, 68, 68);
}

.column_title {
  font-weight: 500;
  font-size: 1.3em;
}
