<header class="wp_header">
  <div class="wp_header_arrow" routerLink="/outcome-indicator-module/home" [queryParams]="{ init: this.outcomeIService.initiativeIdFilter }">
    <i class="material-icons-round" style="color: white">arrow_back</i>
  </div>
  <h1 class="wp_header_title">Indicator list</h1>
</header>

<div class="search_input" style="width: 100%; margin-bottom: 2rem">
  <i class="material-icons-round">search</i>
  <input type="text" placeholder="Find indicator..." [(ngModel)]="this.outcomeIService.searchText" />
</div>

<p-table
  id="resultListTable"
  #table
  [value]="this.outcomeIService.wpsData | appFilterIndicatorBySearch: this.outcomeIService.searchText() : true"
  sortField="workpackage_name"
  [sortOrder]="1"
  styleClass="p-datatable-gridlines p-datatable-sm"
  [rows]="8"
  responsiveLayout="scroll"
  [rowsPerPageOptions]="[8, 12, 20]"
  [loading]="this.outcomeIService.loadingWPs()"
  [showLoader]="false"
  [first]="this.outcomeIService.searchText && 0"
  [paginator]="(this.outcomeIService.wpsData | appFilterIndicatorBySearch: this.outcomeIService.searchText() : true)?.length > 0"
  [tableStyle]="{ 'min-width': '80rem' }"
  dataKey="workpackage_name"
  sortMode="single"
  rowGroupMode="subheader"
  groupRowsBy="workpackage_name">
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="workpackage_name" style="width: 26%">Outcome <p-sortIcon field="workpackage_name" /></th>
      <th style="width: 25%">Indicator</th>
      <th style="width: 20%">Indicator Type</th>
      <th style="width: 8%">Expected Target</th>
      <th style="width: 8%">Actual target achieved</th>
      <th style="width: 8%">Achieved status</th>
      <th style="width: 5%">Reporting status</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="groupheader" let-item let-rowIndex="rowIndex" let-expanded="expanded">
    <tr>
      <td colspan="7" style="background: #f3f5ff; cursor: pointer; border-bottom: 1px solid #e5e6f0" pRipple [pRowToggler]="item">
        <div style="display: flex; justify-content: flex-start; align-items: center; gap: 0.5rem">
          <button
            type="button"
            pButton
            class="p-button-text p-button-rounded"
            style="border: none; box-shadow: none !important"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>

          <span class="font-bold ml-2">{{ item.workpackage_name }}</span>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="rowexpansion" let-item>
    @for (result of item.toc_results; track $index) {
      @if (!result.indicators) {
        <tr style="height: 50px">
          <td>{{ result?.toc_result_description }}</td>
          <td colspan="6" style="text-align: center">No indicator data found</td>
        </tr>
      } @else {
        @for (indicator of result.indicators; track $index) {
          <tr>
            @if ($index === 0) {
              <td [attr.rowspan]="result.indicators.length">{{ result?.toc_result_description }}</td>
            }
            <td>{{ indicator?.indicator_description }}</td>
            <td>
              <span style="font-weight: bold">
                {{ !indicator?.indicator_name ? '' : indicator?.is_indicator_custom ? 'Custom - ' : 'Standard - ' }}
              </span>
              {{ indicator?.indicator_name }}
            </td>
            <td style="text-align: center">{{ indicator?.indicator_target_value ?? 'Not defined' }}</td>
            <td style="text-align: center">{{ indicator?.indicator_achieved_value ?? 'Not defined' }}</td>
            <td style="text-align: center">
              {{
                this.outcomeIService.achievedStatus(indicator?.indicator_target_value, indicator?.indicator_achieved_value)
                  ? 'Achieved'
                  : 'Not Achieved'
              }}
            </td>
            <td>
              <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%">
                <div
                  class="circle"
                  [ngClass]="{
                    'circle-success': this.outcomeIService.achievedStatus(indicator?.indicator_target_value, indicator?.indicator_achieved_value)
                  }"></div>
              </div>
            </td>
          </tr>
        }
      }
    }
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr style="height: 200px">
      <td colspan="7" class="noDataText">There are no results for the selected filters.</td>
    </tr>
  </ng-template>

  <ng-template pTemplate="loadingbody">
    <tr
      [style]="{
        height: (this.outcomeIService.wpsData | appFilterIndicatorBySearch: this.outcomeIService.searchText() : true)?.length ? '100%' : '400px'
      }">
      <td colspan="7">
        <app-custom-spinner text="Loading results" [showSpinner]="this.outcomeIService.loadingWPs()"></app-custom-spinner>
      </td>
    </tr>
  </ng-template>
</p-table>
