.editable_field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.pr-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--pr-color-orange-100);
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--pr-color-black);
  margin-top: 1rem;
  margin-bottom: 30px;

  p {
    margin: 0;
  }
}
