@use '../../../../../../../../../styles/fonts.scss' as fonts;

.modal_container {
  padding: 20px 50px 80px 50px;
  width: 100vw !important;
  max-width: 90vw !important;
  min-height: 50vh;

  .ipsr_modal_description {
    @include fonts.pr-typography('body-1');
    font-weight: 600;
    text-align: center;
    color: var(--pr-color-secondary-400);
    padding: 20px 20vw;
  }
}

.ipsr_modal_title {
  background-color: var(--pr-color-secondary-400);
  width: 100%;
  @include fonts.pr-typography('h3');
  font-weight: 600;
  color: var(--pr-color-white);
  padding: 10px 20px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  i {
    cursor: pointer;
  }
}

.ipsr_modal_noDataText {
  text-align: center;
  padding: 50px 0px;
  @include fonts.pr-typography('h4');
  font-weight: 500;
  color: var(--pr-color-primary-300);
}

.new_tag {
  background-color: var(--pr-color-primary-300);
  margin-right: 10px;
  padding: 2px 3px;
  @include fonts.pr-typography('body-3');
  border-radius: 3px;
  color: var(--pr-color-white);
  height: 17px;
}

.ipsr_modal_actions_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ipsr_link_button {
  color: var(--pr-color-white);
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  height: max-content;
  width: max-content;

  &.view {
    background-color: var(--pr-color-secondary-400);
    outline: none;
    color: var(--pr-color-white);
  }

  &.update {
    background-color: var(--pr-color-primary-300);
  }
}
