.pr_alert {
  padding-left: 20px;

  .warning {
    color: var(--pr-color-yellow-100);
  }

  .info {
    color: var(--pr-color-blue-500);
  }

  .error {
    color: var(--pr-color-red-100);
  }

  .success {
    color: var(--pr-color-green-100);
  }

  .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;

    &.warning {
      background-color: var(--pr-color-yellow-100);
    }

    &.info {
      background-color: var(--pr-color-blue-500);
    }

    &.error {
      background-color: var(--pr-color-red-100);
    }

    &.success {
      background-color: var(--pr-color-green-100);
    }
  }

  .black_point {
    position: absolute;
    right: -4px;
    top: -4px;
    width: 6px;
    height: 8px;
    background-color: var(--pr-color-black);
    z-index: 0;
  }
}
