@use '../../../../../../../../../../../../../styles/fonts.scss' as fonts;

.modal_title {
  background-color: var(--pr-color-secondary-400);
  width: 200px;
  @include fonts.pr-typography('h3');
  font-weight: 600;
  color: var(--pr-color-white);
  padding: 10px;
  border-bottom-right-radius: 10px;
}

.modal_container {
  padding: 20px 40px 80px 70px;
  width: 100vw !important;
  max-width: 700px !important;
  min-height: 500px;
  max-height: 500px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  position: fixed;
  bottom: 15px;
  right: 20px;
}
