<app-pr-field-header label="Provide pictures that show the Innovation in action/use (if available)"
description="{{addPictureDescription()}}"
    [required]="false"></app-pr-field-header>

<div class="fields">
    <div class="field" *ngFor="let item of this.body.ipsr_pictures; let i=index">
        <div class="number">{{i+1}}.</div>
        <app-pr-input [required]="true" placeholder="Link" [(ngModel)]="item.link">
        </app-pr-input>
        <div class="delete" (click)="delete(i)">
            <i class="clickEvent material-icons-round ymz-lsi-delete-icon" style="color: red; cursor: pointer;">delete</i>
        </div>
    </div>
</div>
<div style="width: 200px;">
    <app-pr-button (click)="addItem()" padding="small" text="Add another link to picture" icon="add_box"
    *ngIf="!this.rolesSE.readOnly"></app-pr-button>
</div>
