@use '../../../../../../../../../../../styles/fonts.scss' as fonts;

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.target-details-drawer-header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 24px 54px;
  background-color: var(--pr-color-primary-25);
  border-bottom: 1px solid var(--pr-color-accents-2);
  width: 100%;
}

.target-details-drawer-header_title {
  @include fonts.pr-typography('h3');
  font-weight: 600;
  color: var(--pr-color-secondary-400);
}

.target-details-drawer-header_desc {
  @include fonts.pr-typography('body-2');
  font-weight: 400;
  color: var(--pr-color-accents-6);
}

.target-details-drawer-header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.target-details-drawer-header_subtitle {
  @include fonts.pr-typography('h3');
  font-weight: 500;
  color: var(--pr-color-accents-5);
}

.target-details-drawer-header_content_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.target-details-drawer-content {
  padding: 32px 20px;
}

.target-details-drawer-content_title {
  @include fonts.pr-typography('h3');
  font-weight: 700;
  color: var(--pr-color-secondary-400);
}

.target-details-drawer-content_desc {
  @include fonts.pr-typography('body-2');
  font-weight: 400;
  color: var(--pr-color-accents-6);
}

.noDataText {
  text-align: center;
  padding: 20px 0px;
  @include fonts.pr-typography('h4');
  color: var(--pr-color-primary-300);
}

::ng-deep {
  .p-drawer-header {
    padding: 0 !important;
  }

  .target-details-table {
    .p-datatable-thead > tr > th {
      background-color: #4a5568;
      color: white;
      text-align: center;
      padding: 12px 16px;
      font-weight: 400;
      @include fonts.pr-typography('body-2');

      &.center-column {
        text-align: left;

        .header-content {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }

    .p-datatable-tbody > tr > td {
      padding: 12px 16px;
      border-bottom: 1px solid var(--pr-color-accents-2);

      &.center-cell {
        .center-content {
          display: flex;
          align-items: center;
          gap: 12px;

          i {
            color: var(--pr-color-accents-6);
            font-size: 16px;
          }

          span {
            @include fonts.pr-typography('body-2');
            color: var(--pr-color-secondary-400);
          }
        }
      }

      &.value-cell {
        text-align: center;
        @include fonts.pr-typography('body-2');
        color: var(--pr-color-secondary-400);
      }
    }
  }
}
