@if (whatsNewService.notionDataLoading()) {
  <app-whats-new-page-details-loading />
} @else if (whatsNewService.notionDataError()?.error) {
  <h1>Error: {{ whatsNewService.notionDataError()?.message }} {{ whatsNewService.notionDataError()?.status }}</h1>
} @else {
  @let headerInfo = whatsNewService.activeNotionPageData()?.headerInfo;
  @let developers = headerInfo?.properties['Developers']?.people;

  <div class="whats-new-page-details_header">
    <div class="whats-new-page-details_header_cover">
      @let cover = whatsNewService.activeNotionPageData()?.headerInfo?.cover;

      @switch (cover?.type) {
        @case ('external') {
          <img [src]="cover?.external?.url" alt="cover" />
        }
        @case ('file') {
          <img [src]="cover?.file?.url" alt="cover" />
        }
        @default {
          <div class="whats-new-home_card_header_placeholder">No image</div>
        }
      }
    </div>

    <h1 class="whats-new-page-details_header_title">
      {{ headerInfo?.properties?.Name?.title[0]?.plain_text }}
    </h1>

    <!-- additional info -->
    <div class="whats-new-page-details_header_additional-info">
      <div class="whats-new-page-details_header_additional-author">
        @if (developers?.length > 0) {
          @for (person of developers; track $index) {
            <div
              class="whats-new-page-details_header_additional-info_item_avatar"
              [pTooltip]="person.name"
              tooltipPosition="top"
              style="cursor: help">
              <img
                [src]="person.avatar_url ? person.avatar_url : 'https://avatar.vercel.sh/' + person.id"
                alt="author {{ person.name }}"
                width="24"
                height="24" />
            </div>
          }
        } @else {
          @let authorItem = headerInfo?.properties['Added by']?.created_by;
          @let defaultAvatar = 'https://avatar.vercel.sh/' + authorItem?.id;

          <div
            class="whats-new-page-details_header_additional-info_item_avatar"
            [pTooltip]="authorItem?.name"
            tooltipPosition="top"
            style="cursor: help">
            <img [src]="authorItem?.avatar_url ? authorItem?.avatar_url : defaultAvatar" alt="author" width="24" height="24" />
          </div>
        }
      </div>

      <p class="whats-new-page-details_header_additional-info_item_last-updated">
        Created date: {{ headerInfo?.properties?.Created?.created_time | date: 'MMM d, yyyy' }}
      </p>
    </div>
  </div>

  <div class="divider"></div>

  <div class="whats-new-page-details_container">
    @for (item of whatsNewService.activeNotionPageData()?.blocks; track item.id) {
      @if (item.type === 'numbered_list_item') {
        @if ($first || whatsNewService.activeNotionPageData()?.blocks[$index - 1]?.type !== 'numbered_list_item') {
          <ol>
            @for (numberedItem of getConsecutiveNumberedItems($index); track numberedItem.id) {
              <app-dynamic-notion-block [block]="numberedItem"></app-dynamic-notion-block>
            }
          </ol>
        }
      } @else {
        <app-dynamic-notion-block [block]="item"></app-dynamic-notion-block>
      }
    }
  </div>
}
