h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.whats-new-page-details_container {
  display: flex;
  flex-direction: column;
}

.whats-new-page-details_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.whats-new-page-details_header_cover {
  width: 100%;
  height: 200px;
  background-color: var(--pr-color-accents-1);
  overflow: hidden;
  border-radius: 10px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.whats-new-home_card_header_placeholder {
  width: 100%;
  background-color: var(--pr-color-accents-1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 600;
  color: #777;
  height: 200px;
}

.whats-new-page-details_header_title {
  font-size: 28px;
  font-weight: 600;
  color: var(--pr-color-black);
  margin-bottom: 10px;
}

.whats-new-page-details_header_additional-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.whats-new-page-details_header_additional-author {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.whats-new-page-details_header_additional-info_item_avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.whats-new-page-details_header_additional-info_item_last-updated {
  font-size: 14px;
  color: var(--pr-color-accents-5);
  white-space: nowrap;
  font-weight: 500;
}

.go-back-button {
  font-size: 14px;
  color: var(--pr-color-accents-5);
  white-space: nowrap;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 20px;
  width: fit-content;
  transition: color 0.3s ease;

  &:hover {
    color: var(--pr-color-accents-7);
  }
}

.divider {
  width: 100%;
  height: 2px;
  background-color: var(--pr-color-neutral-1000);
  margin: 20px 0;
  margin-bottom: 30px;
}
