.panel_menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px 25px;
  height: 100%;
  box-sizing: border-box;
  background-color: var(--pr-color-white);
  justify-content: space-between;
  overflow-y: auto;

  .back_button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .segment {
    .name {
      color: var(--pr-color-secondary-100);
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .sections {
      display: flex;
      flex-direction: column;
      padding-left: 5px;
      gap: 10px;

      .section_active {
        background-color: var(--pr-color-primary-50);
        color: var(--pr-color-primary-950);
        font-weight: 600;
      }

      a {
        text-decoration: none;
        color: var(--pr-color-secondary-400);
        font-weight: 500;
        padding: 5px 10px 5px 20px;
        border-radius: 10px;
        transition: background-color ease-in-out 0.3s;
        position: relative;
        overflow: hidden;

        .check {
          position: absolute;
          width: 25px;
          right: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          padding: 0px 15px;

          .valid {
            color: var(--pr-color-green-100);
          }

          .invalid {
            color: var(--pr-color-accents-3);
          }
        }

        .under_construction {
          position: absolute;
          width: 25px;
          right: 0;
          margin-right: 30px;
        }

        &:hover {
          background-color: var(--pr-color-accents-1);
        }
      }
    }
  }

  .submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    scale: 1.2;
    margin-bottom: 20px;
    padding: 15px;

    .button_access_information {
      text-align: center;
      color: var(--pr-color-primary-300);
      background-color: rgba(var(--pr-color-primary-rgb), 0.09);
      box-shadow: 0px 0px 5px 1px var(--pr-color-primary-50);
      padding: 10px;
      border-radius: 3px;
      margin-top: 10px;
    }
  }
}
