<div class="fixed_button" *ngIf="!this.rolesSE.readOnly || editable">
    <div class="fields-feedback-list" [ngClass]="{'show-fields-feedback-list-opacity': disabled,'expand':expand}"
        *ngIf="this.dataControlSE.fieldFeedbackList?.length">
        <div class="back_icon" (click)="expand = !expand;">
            <i class="material-icons-round">
                arrow_back_ios
            </i>
        </div>
        <div class="items custom_scroll" *ngIf="expand">
            <div class="item" *ngFor="let item of this.dataControlSE.fieldFeedbackList">
                <i class="material-icons-round">
                    warning
                </i>
                <div class="text"><strong>{{item}}</strong> is missing</div>
            </div>
        </div>
        <div class="counter" *ngIf="!expand">
            <i class="material-icons-round">
                warning
            </i>
            {{this.dataControlSE?.fieldFeedbackList?.length}} <div class="text">alerts</div>
        </div>
    </div>
    <div (click)="this.saveButtonSE.isSaving || disabled ? null:onClickSave()">
        <app-pr-button padding="medium" [text]="this.saveButtonSE.isSaving?'Saving':text"
            [rotating]="this.saveButtonSE.isSaving" [icon]="this.saveButtonSE.isSaving?'loop':'save'"
            [ngClass]="{'globalDisabled': this.saveButtonSE.isSaving || disabled}"></app-pr-button>
    </div>
</div>