<app-pr-field-header label="Specify scaling partners"
    description="Which government, public or private sector organization is expected to scale the innovation in the selected geoscope?"></app-pr-field-header>

<app-alert-status *ngIf="!this.rolesSE.readOnly"
    description="If you don't find the partner you are looking for, <a class='open_route alert-event'>request</a> to have it added to the list. Please note that once your partner request is approved, it could take up to an hour to be available in the CLARISA institutions list.">
</app-alert-status>
<div appFeedbackValidation labelText="Partners" [isComplete]="!!body?.institutions?.length">
</div>
<div class="auto_fit_container fadeIn">
    <div class="dropdown-50p">
        <app-pr-multi-select [options]="this.institutionsSE.institutionsList" label="Partners"
            selectedOptionLabel="institutions_name" optionLabel="full_name" optionValue="institutions_id"
            [(ngModel)]="body.institutions" placeholder="Select partner"
            (selectOptionEvent)="onSelectPartner($event);toggle = toggle+1">
        </app-pr-multi-select>
        <div class="partners_selected_header" [style]="this.rolesSE.readOnly?'margin-top: -15px':''">
            <app-pr-field-header [description]="'Partner(s) selected ('+body.institutions?.length+'):'">
            </app-pr-field-header>
        </div>

        <div class="chips_container  custom_scroll partners_selected">
            <div class="pr_chip_selected" *ngFor="let option of body.institutions; let i=index">
                <div appFeedbackValidation [labelText]="'Partner role (' + option.institutions_name + ')'"
                    [isComplete]="!!option?.deliveries?.length"></div>

                <div class="name">{{option?.institutions_name}}</div>
                <div class="type"> <strong>Institution type:</strong> {{option?.institutions_type_name}}</div>
                <div style="margin-top: -10px;margin-bottom: -20px;">
                    <app-pr-field-header label="Partner role">
                    </app-pr-field-header>
                </div>
                <div class="deliveries" [ngClass]="{'readOnly_deliveries': this.rolesSE.readOnly}">
                    <div class="delivery"
                        *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.deliveries,1) : true"
                        [ngClass]="{'active': validateDeliverySelection(option?.deliveries,1)}"
                        (click)="onSelectDelivery(option,1)">Scaling</div>
                    <div class="delivery"
                        *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.deliveries,2) : true"
                        [ngClass]="{'active': validateDeliverySelection(option?.deliveries,2)}"
                        (click)="onSelectDelivery(option,2)">Demand</div>
                    <div class="delivery"
                        *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.deliveries,3) : true"
                        [ngClass]="{'active': validateDeliverySelection(option?.deliveries,3)}"
                        (click)="onSelectDelivery(option,3)">Innovation</div>
                    <div class="delivery"
                        *ngIf="this.rolesSE.readOnly ? validateDeliverySelection(option?.deliveries,4) : true"
                        [ngClass]="{'active': validateDeliverySelection(option?.deliveries,4)}"
                        (click)="onSelectDelivery(option,4)">Other</div>

                    <div class="info_button" (click)="showInfo = true">

                        <i class="material-icons-round">help_outline
                        </i>
                    </div>
                </div>
                <i class="material-icons-round remove_button" *ngIf="!this.rolesSE.readOnly"
                    (click)="removePartner(i)">remove_circle
                </i>
            </div>
            <div class="content" *ngIf="showInfo">
                <div class="texts">
                    <i class="material-icons-round close_content" (click)="showInfo = false">
                        cancel
                    </i>
                    <div><strong>Scaling Partner:</strong> Organizations or entities that CGIAR collaborates
                        with
                        to
                        advance the uptake and use of innovations at scale.</div>
                    <div><strong>Demand Partner:</strong> Organizations or
                        entities that have
                        (expressed) an explicit or implicit demand for an innovation, change or who aspire
                        to a
                        specific goal or impact to which CGIAR can contribute. </div>
                    <div><strong>Innovation partner:</strong> Organizations or entities that CGIAR
                        collaborates
                        and co-invests with to improve the readiness of innovations
                        to contribute to impact at scale.</div>

                    <div><strong>Other:</strong> Any partner role that does not fit the other categories.
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<hr class="divider-20">