<header class="tickets_header">
  <i class="material-icons-round" style="font-size: 30px">query_stats</i>
  <h1 class="tickets_header--title">Tickets Dashboard</h1>
</header>

<p class="tickets_container--description">
  Welcome to the PRMS Tickets Dashboard. Here, you can see the current support cases that we are receiving through the platform. The dashboard also
  displays how each case has been internally prioritized and classified. This information comes in real time from our ticketing system
  <a href="mailto:PRMSTechSupport@cgiar.org">PRMSTechSupport&#64;cgiar.org</a>.
</p>

<div class="tickets_container">
  @if (ticketsDashboardUrl) {
    <iframe
      #dashboardIframe
      title="tickets-dashboard"
      allowfullscreen
      [src]="ticketsDashboardUrl"
      style="width: 100%; overflow: hidden; border: none"
      [style.height]="iframeHeight"></iframe>
  }
</div>
