@use '../../../../../styles/fonts.scss' as fonts;

.local_grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: minmax(calc(100vh - 180px), 1fr);
  padding: 25px 0px 25px 15px;
  height: 100%;
  box-sizing: border-box;

  .panel_menu {
    position: sticky;
    height: calc(100vh - 180px);
    width: 300px;
    top: 79px;
    margin-bottom: 25px;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
    z-index: 0;
  }

  .section_container {
    width: 95% !important;
    position: relative;

    .fixed_data_container {
      padding: 25px 80px 30px 80px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      .section_name {
        font-size: 16px;
        color: #808080;
        font-weight: 400;
      }

      .metadata {
        display: flex;
        gap: 10px;
        @include fonts.pr-typography('body-3');

        .item {
          border: 1px solid var(--pr-color-primary-300);
          color: var(--pr-color-primary-300);
          padding: 5px 10px;
          border-radius: 7px;
          font-size: 12px;
          span {
            color: var(--pr-color-secondary-100);
          }
        }
      }
    }
  }
}

.phase_switcher_container {
  margin-left: auto;
  margin-right: auto;
  width: 95% !important;
}
