.local_container {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 95% !important;
  padding: 40px 50px;
  header {
    display: flex;
    gap: 10px;
    align-items: center;
    i {
      font-size: 24px;
    }
    h1 {
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }
  }
}
