<p-dialog appendTo="body" header="Title" [(visible)]="this.visible"
    [draggable]="false" [modal]="true" [closeOnEscape]="true" [showHeader]="false" [dismissableMask]="true"
    [style]="{padding: '0px'}">
    <div class="modal_title" *ngIf="this.isonlyread == false">Edit bilateral</div>
    <div class="modal_title" *ngIf="this.isonlyread == true">Bilateral Info</div>
    <div class="modal_container partners-request-container" *ngIf="showForm">



        <app-pr-select class="segment_title_margin" [options]="this.institutionsSE?.institutionsList"
            label="Funder name" optionLabel="full_name" optionValue="institutions_id" placeholder="Select funder"
            [(ngModel)]="biltarealBody.funder_institution_id" [readOnly]="this.isonlyread">
        </app-pr-select>

        <div class="auto_fit_container">
            <app-pr-input label="Grant title" [required]="true" [(ngModel)]="biltarealBody.grant_title"
                placeholder="Grant title goes here..." [readOnly]="this.isonlyread">
            </app-pr-input>
            <app-pr-input label="Center Grant ID" [required]="true" [(ngModel)]="biltarealBody.center_grant_id"
                placeholder="e.g. G184 " [readOnly]="this.isonlyread">
            </app-pr-input>
        </div>

        <app-pr-select [options]="this.centersSE.centersList" [required]="true" label="Lead/Contract Center"
            optionLabel="full_name" optionValue="lead_center" placeholder="Select donor"
            [(ngModel)]="biltarealBody.lead_center_id" placeholder="Lead/Contract Center goes here..." [readOnly]="this.isonlyread">
        </app-pr-select>




    </div>
    <div class="buttons">
        <app-pr-button padding="medium" *ngIf="this.isonlyread == false" text="Cancel" icon="cancel_schedule_send" colorType="secondary"
            (click)="this.visible = false">
        </app-pr-button>
        <app-pr-button padding="medium" *ngIf="this.isonlyread == true" text="Close" icon="cancel_schedule_send" colorType="secondary"
            (click)="this.visible = false">
        </app-pr-button>
        <app-pr-button *ngIf="this.isonlyread == false"  [ngClass]="{'globalDisabled': this.requesting || formIsInvalid}"
            [text]="this.requesting?'Edited bilateral':'Edit bilateral'" [rotating]="this.requesting"
            [icon]="this.requesting?'loop':'send'" padding="medium" (click)="onAddBilateral()" ></app-pr-button>
    </div>

</p-dialog>

<div class="buttonOpen" (click)="visible=true" *ngIf="this.isonlyread == false">
    <i class="material-icons-round" style="font-size: 17px;">
        edit
    </i>
</div>

<div class="buttonOpen" (click)="visible=true" *ngIf="this.isonlyread == true" style="font-size: 17px; margin-bottom: 5px;">
    <i class="material-icons-round" style="font-size: 17px;">
        visibility
    </i>
</div>