.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgb(147, 155, 204) 0%, #5569DD 100%);
    color: white;

    .inner-header {
        height: calc(100vh - 200px);
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .login_card {
            background-color: rgba(255, 255, 255, 0.897);
            padding: 50px 100px;
            border-radius: 10px;
            width: 30vw;
            padding-bottom: 100px;

            .title {
                color: var(--pr-color-primary);
                font-size: 2em;
                font-weight: 600;
                margin-bottom: 40px;
            }

            .field {
                margin-top: 40px;
            }
        }
    }

    .waves {
        position: relative;
        width: 100%;
        height: 15vh;
        margin-bottom: -7px;
        /*Fix for safari gap*/
        min-height: 100px;
        max-height: 150px;
    }

}








/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 24px;
    }
}