<!--Hey! This is the original version
of Simple CSS Waves-->

<div class="header">
  <!--Content before waves-->

  <div class="inner-header flex">
    <div class="login_card" [ngClass]="{'success_padding': successLogin}">
      <lord-icon *ngIf="successLogin" src="https://cdn.lordicon.com/lcucqigi.json" trigger="loop"
        style="width:100px;height:100px">
      </lord-icon>
      <div class="form" [ngClass]="{'successLogin': successLogin}">
        <!-- <div class="title">Login</div> -->
        <div class="welcome">Welcome to the {{internationalizationData.global.platformName}}</div>
        <app-pr-input placeholder="e.g. Example@cgiar.org" label="Email" type="email" [(ngModel)]="userLoginData.email">
        </app-pr-input>
        <app-pr-input placeholder="Enter your password" label="Password" type="password"
          [(ngModel)]="userLoginData.password">
        </app-pr-input>
        <div class="center_flex_100" style="margin-top: 20px;" (click)="onLogin()">
          <app-pr-button padding="medium" text="Login" icon="arrow_forward_ios"></app-pr-button>
        </div>
        <div class="question_container">
          <a class="question">Do you have any question?</a>
        </div>
      </div>
    </div>
  </div>

  <!--Waves Container-->
  <div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
      <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  <!--Waves end-->
</div>
<!--Header ends-->