<div class="login-container">
  <div class="login-card">
    <div class="logo-section">
      <img src="../../../assets/cgiar-logo-white.png" alt="CGIAR logo" width="100px" />
    </div>

    <div class="login-form">
      <h2>Sign in with your CGIAR credentials</h2>
      <button class="corp-id-btn" (click)="this.cognito.loginWithAzureAd()" [disabled]="cognito.isLoadingAzureAd() || cognito.isLoadingCredentials()">
        Continue with your CGIAR account

        @if (cognito.isLoadingAzureAd()) {
          <i class="pi pi-spin pi-spinner" style="font-size: 1rem; margin-left: 10px"></i>
        }
      </button>

      <div class="divider">
        <span>or</span>
      </div>

      <h2>Sign in with your email and password</h2>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          placeholder="name@host.com"
          [(ngModel)]="body().email"
          [disabled]="cognito.isLoadingCredentials() || cognito.isLoadingAzureAd()" />
      </div>

      <div class="form-group" style="margin-bottom: 30px !important">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          placeholder="Password"
          [(ngModel)]="body().password"
          [disabled]="cognito.isLoadingCredentials() || cognito.isLoadingAzureAd()" />
      </div>

      <button
        class="signin-btn"
        [disabled]="cognito.isLoadingCredentials() || cognito.isLoadingAzureAd() || validateBody()"
        (click)="cognito.loginWithCredentials(body())">
        <span>
          @if (cognito.isLoadingCredentials()) {
            Signing in
          } @else {
            Sign in
          }
        </span>

        @if (cognito.isLoadingCredentials()) {
          <i class="pi pi-spin pi-spinner" style="font-size: 1rem; margin-left: 10px"></i>
        }
      </button>
    </div>
  </div>
</div>
