<div class="login-container">
  <div class="login-card">
    <div class="logo-section">
      <img src="../../../assets/cgiar-logo-white.png" alt="CGIAR logo" width="100px" />
    </div>

    <div class="login-form">
      @if (!cognito.requiredChangePassword()) {
        <h2>Sign in with your CGIAR credentials</h2>
        <button
          class="corp-id-btn"
          (click)="this.cognito.loginWithAzureAd()"
          [disabled]="cognito.isLoadingAzureAd() || cognito.isLoadingCredentials()">
          Continue with your CGIAR account

          @if (cognito.isLoadingAzureAd()) {
            <i class="pi pi-spin pi-spinner" style="font-size: 1rem; margin-left: 10px"></i>
          }
        </button>

        <div class="divider">
          <span>or</span>
        </div>
      }

      @if (cognito.requiredChangePassword()) {
        <h2>Please change your password</h2>
      } @else {
        <h2>Sign in with your email and password</h2>
      }

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          autocomplete="off"
          placeholder="name@host.com"
          [(ngModel)]="cognito.body().email"
          (keydown)="handleKeyDown($event)"
          [disabled]="cognito.isLoadingCredentials() || cognito.isLoadingAzureAd() || cognito.requiredChangePassword()" />
      </div>

      <div class="form-group" [ngStyle]="{ 'margin-bottom': !cognito.requiredChangePassword() ? '30px' : '15px' }">
        <label for="password">
          {{ cognito.requiredChangePassword() ? 'New Password' : 'Password' }}
        </label>
        <input
          type="password"
          id="password"
          autocomplete="off"
          [placeholder]="cognito.requiredChangePassword() ? 'New Password' : 'Password'"
          [(ngModel)]="cognito.body().password"
          (keydown)="handleKeyDown($event)"
          [disabled]="cognito.isLoadingCredentials() || cognito.isLoadingAzureAd()" />
      </div>

      @if (cognito.requiredChangePassword()) {
        <div class="password-requirements" *ngIf="cognito.body().password">
          <ul class="requirements-list">
            <li [class.valid]="hasLowerCase(cognito.body().password)" [class.invalid]="!hasLowerCase(cognito.body().password)">
              <i [class]="hasLowerCase(cognito.body().password) ? 'pi pi-check' : 'pi pi-times'"></i>
              Password must contain a lower case letter
            </li>
            <li [class.valid]="hasUpperCase(cognito.body().password)" [class.invalid]="!hasUpperCase(cognito.body().password)">
              <i [class]="hasUpperCase(cognito.body().password) ? 'pi pi-check' : 'pi pi-times'"></i>
              Password must contain an upper case letter
            </li>
            <li [class.valid]="hasMinLength(cognito.body().password)" [class.invalid]="!hasMinLength(cognito.body().password)">
              <i [class]="hasMinLength(cognito.body().password) ? 'pi pi-check' : 'pi pi-times'"></i>
              Password must contain at least 8 characters
            </li>
            <li [class.valid]="hasSpecialCharacter(cognito.body().password)" [class.invalid]="!hasSpecialCharacter(cognito.body().password)">
              <i [class]="hasSpecialCharacter(cognito.body().password) ? 'pi pi-check' : 'pi pi-times'"></i>
              Password must contain a special character or a space
            </li>
            <li
              [class.valid]="hasNoLeadingTrailingSpaces(cognito.body().password)"
              [class.invalid]="!hasNoLeadingTrailingSpaces(cognito.body().password)">
              <i [class]="hasNoLeadingTrailingSpaces(cognito.body().password) ? 'pi pi-check' : 'pi pi-times'"></i>
              Password must not contain a leading or trailing space
            </li>
          </ul>
        </div>

        <div class="form-group" [ngStyle]="{ 'margin-bottom': '15px' }">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            id="confirmPassword"
            autocomplete="new-password"
            placeholder="Confirm Password"
            [(ngModel)]="cognito.body().confirmPassword"
            (keydown)="handleKeyDown($event)"
            [disabled]="cognito.isLoadingCredentials() || cognito.isLoadingAzureAd()" />
        </div>

        @if (cognito.body().confirmPassword && !doPasswordsMatch()) {
          <div class="password-match-error">
            <i class="pi pi-times"></i>
            Passwords do not match
          </div>
        }

        @if (cognito.body().confirmPassword && doPasswordsMatch() && cognito.body().password) {
          <div class="password-match-success">
            <i class="pi pi-check"></i>
            Passwords match
          </div>
        }
      }

      <button
        class="signin-btn"
        [disabled]="cognito.isLoadingCredentials() || cognito.isLoadingAzureAd() || validateBody()"
        (click)="cognito.requiredChangePassword() ? cognito.changePassword() : cognito.loginWithCredentials(cognito.body())">
        <span>
          @if (cognito.requiredChangePassword()) {
            Change Password
          } @else {
            @if (cognito.isLoadingCredentials()) {
              Signing in
            } @else {
              Sign in
            }
          }
        </span>

        @if (cognito.isLoadingCredentials()) {
          <i class="pi pi-spin pi-spinner" style="font-size: 1rem; margin-left: 10px"></i>
        }
      </button>
    </div>
  </div>
</div>
