<div class="primary_action_areas">
    <div class="action_area shadow-1">
        <div class="logo"><img src="assets/action_areas/image1.png" alt="" srcset=""></div>
        <div class="name">Systems Transformation</div>
        <div class="counter">258</div>
    </div>
    <div class="action_area shadow-1">
        <div class="logo"><img src="assets/action_areas/image2.png" alt="" srcset=""></div>
        <div class="name">Resilient Agrifood Systems</div>
        <div class="counter">258</div>
    </div>
    <div class="action_area shadow-1">
        <div class="logo"><img src="assets/action_areas/image3.png" alt="" srcset=""></div>
        <div class="name">Genetic Innovation</div>
        <div class="counter">258</div>
    </div>
</div>