<div class="ipsr-sub-title-2">Current use of the core innovation</div>

<app-pr-field-header
    label="Specify the current use of the core innovation by actors, organizations, hectares or other innovation users/ beneficiaries. The numbers should reflect the current innovation use that can be supported by evidence"></app-pr-field-header>

<app-pr-field-header [required]="false" label="Actors" description="{{narrativeActors()}}"></app-pr-field-header>
<input type="text" id="removeFocus" style="position: absolute; opacity: 0;">
<div class="fields_list" *ngIf="this.body.innovatonUse.actors?.length">
    <div class="fields" appYmzListStructureItem
        (deleteEvent)="actorItem.is_active = false; actorItem.actor_type_id = null"
        *ngFor="let actorItem of this.body.innovatonUse.actors; let i=index"
        [ngClass]="{'hideElement': actorItem.is_active == false|| (!this.actorItem?.result_ip_actors_id && this.api.rolesSE.readOnly)}">
        <div>
            <app-pr-select [options]="this.actorsTypeList" label="Actor type" optionLabel="name"
                optionValue="actor_type_id" [(ngModel)]="actorItem.actor_type_id"
                [disableOptions]="this.body.innovatonUse.actors" [indexReference]="i"
                (ngModelChange)="this.actorItem.other_actor_type = null" placeholder="Select actor type"
                [disableOptions]="removeOther(this.body.innovatonUse.actors)"
                [required]="!!this.actorItem?.result_ip_actors_id">
            </app-pr-select>
            <div style="margin-top: 13px;"></div>
            <app-pr-input *ngIf="actorItem.actor_type_id == 5"
                description="Specify the other actor type in the text box below" placeholder="Specify other.."
                type="text" [required]="false" [(ngModel)]="this.actorItem.other_actor_type">
            </app-pr-input>
        </div>

        <div class="">
            <div style="margin-top: 20px;margin-bottom: -20px;">
                <app-pr-field-header [description]="actorTypeDescription()"></app-pr-field-header>
            </div>
            <br>
            <app-pr-checkbox label="Sex and age disaggregation does not apply"
                (selectOptionEvent)="cleanActor(this.actorItem)"
                [(ngModel)]="this.actorItem.sex_and_age_disaggregation">
            </app-pr-checkbox>
            <div class="right_content" *ngIf="!this.actorItem.sex_and_age_disaggregation">
                <div class="explanation_message" *ngIf="this.actorItem['showWomenExplanationwomen']">
                    Remember that the value of Youth cannot be greater than total of Women
                </div>
                <app-pr-input placeholder="Enter text" label="Women" type="number"
                    [required]="!!this.actorItem?.result_ip_actors_id" [(ngModel)]="this.actorItem.women"
                    (ngModelChange)="validateYouth(i,true,actorItem)">
                </app-pr-input>
                <app-pr-input placeholder="Enter text" label="Youth" type="number"
                    [required]="!!this.actorItem?.result_ip_actors_id" [(ngModel)]="this.actorItem.women_youth"
                    (ngModelChange)="validateYouth(i,true,actorItem)">
                </app-pr-input>
                <app-pr-input placeholder="Enter text" label="Non-youth" type="number" [required]="false"
                    [readOnly]="true" [(ngModel)]="this.actorItem.women_non_youth">
                </app-pr-input>
            </div>
            <div class="right_content" *ngIf="!this.actorItem.sex_and_age_disaggregation">
                <div class="explanation_message" *ngIf="this.actorItem['showWomenExplanationmen']">
                    Remember that the value of Youth cannot be greater than total of Men
                </div>
                <app-pr-input placeholder="Enter text" label="Men" type="number"
                    [required]="!!this.actorItem?.result_ip_actors_id" [(ngModel)]="this.actorItem.men"
                    (ngModelChange)="validateYouth(i,false,actorItem)">
                </app-pr-input>
                <app-pr-input placeholder="Enter text" label="Youth" type="number"
                    [required]="!!this.actorItem?.result_ip_actors_id" [(ngModel)]="this.actorItem.men_youth"
                    (ngModelChange)="validateYouth(i,false,actorItem)">
                </app-pr-input>
                <app-pr-input noDataText="Save to calculate" placeholder="Enter text" label="Non-youth" type="number"
                    [required]="false" [readOnly]="true" [(ngModel)]="this.actorItem.men_non_youth">
                </app-pr-input>
            </div>
            <div class="right_content one_field" *ngIf="!this.actorItem.sex_and_age_disaggregation">
                <app-pr-input placeholder="Enter text" label="Total" type="number" [required]="false" noDataText="0"
                    [readOnly]="true" [(ngModel)]="this.actorItem.how_many"
                    (ngModelChange)="validateYouth(i,true,this.actorItem)">
                </app-pr-input>
            </div>
            <div class="right_content" *ngIf="this.actorItem.sex_and_age_disaggregation">
                <app-pr-input placeholder="Enter text" label="How many" type="number"
                    [required]="!!this.actorItem?.result_ip_actors_id" [(ngModel)]="this.actorItem.how_many"
                    (ngModelChange)="validateYouth(i,true,actorItem)">
                </app-pr-input>
            </div>
            <div class="right_content">
                <app-pr-input placeholder="Enter text" label="Evidence link" type="link"
                    [required]="true" [(ngModel)]="this.actorItem.evidence_link">
                </app-pr-input>
            </div>
        </div>
    </div>
</div>
<app-no-data-text *ngIf="!hasElementsWithId(this.body.innovatonUse.actors,'result_ip_actors_id')"
    title="No actors provided">
</app-no-data-text>
<br>
<app-add-button name="Add actor" *ngIf="!this.api.rolesSE.readOnly" (clickEvent)="addActor()"></app-add-button>
<div class="fragment_section_divider"></div>
<div class="title_list">
    <app-pr-field-header label="Organizations" [required]="false"></app-pr-field-header>
</div>
<div class="fields_list" *ngIf="this.body.innovatonUse.organization?.length">
    <div class="fields" appYmzListStructureItem (deleteEvent)="removeOrganization(organizationItem)"
        [ngClass]="{'hideElement': organizationItem.is_active == false|| (!this.organizationItem?.id && this.api.rolesSE.readOnly)}"
        *ngFor="let organizationItem of this.body.innovatonUse.organization">
        <div>
            <app-pr-select [required]="!!organizationItem?.id" [options]="this.institutionsTypeTreeList"
                label="Organization" optionLabel="name" optionValue="code"
                [(ngModel)]="organizationItem.institution_types_id" placeholder="Select organization"
                (selectOptionEvent)="reloadSelect(organizationItem)"
                (ngModelChange)="this.organizationItem.other_institution = null"
                [disableOptions]="removeOtherInOrg(disableOrganizations)">
            </app-pr-select>
            <div style="margin-top: 13px;"></div>
            <app-pr-input *ngIf="organizationItem.institution_types_id == 78"
                description="Specify the other organization type in the text box below" placeholder="Specify other.."
                label="Other organization" type="text" [required]="!!organizationItem?.id"
                [(ngModel)]="this.organizationItem.other_institution">
            </app-pr-input>
        </div>
        <div>
            <div class="right_content">
                <app-pr-select
                    *ngIf="organizationItem.institution_types_id && !organizationItem.hide && getInstitutionsTypeTreeChildrens(organizationItem.institution_types_id)?.length"
                    [options]="getInstitutionsTypeTreeChildrens(organizationItem.institution_types_id)" label="Sub-type"
                    optionLabel="name" optionValue="code" [(ngModel)]="organizationItem.institution_sub_type_id"
                    placeholder="Select Sub-type" [disableOptions]="getAllSubTypes" [required]="!!organizationItem?.id">
                </app-pr-select>
            </div>
            <div class="right_content">
                <app-pr-input placeholder="Enter text" label="How many" type="number"
                    [required]="!!organizationItem?.id" [(ngModel)]="this.organizationItem.how_many">
                </app-pr-input>

                <app-pr-input *ngIf="organizationItem.institution_types_id == 50" label="# of graduate students"
                    placeholder="Write the number..." type="number" [required]="false"
                    [(ngModel)]="this.organizationItem.graduate_students">
                </app-pr-input>

                <app-pr-input placeholder="Enter text" label="Evidence link" type="link"
                    [(ngModel)]="this.organizationItem.evidence_link" [required]="true">
                </app-pr-input>
            </div>
        </div>
    </div>
</div>
<app-no-data-text *ngIf="!hasElementsWithId(this.body.innovatonUse.organization,'id')"
    title="No organizations provided">
</app-no-data-text>
<app-add-button name="Add organization" *ngIf="!this.api.rolesSE.readOnly"
    (clickEvent)="addOrganization()"></app-add-button>
<div class="fragment_section_divider"></div>

<div class="fields_list">
    <app-pr-field-header label="Other quantitative measures of innovation use (e.g. # of hectares)"
        [required]="false"></app-pr-field-header>
    <div class="fields" appYmzListStructureItem (deleteEvent)="measuresItem.is_active = false"
        *ngFor="let measuresItem of this.body.innovatonUse.measures"
        [ngClass]="{'hideElement': measuresItem.is_active == false|| (!this.measuresItem?.result_ip_result_measures_id && this.api.rolesSE.readOnly)}">
        <div class="right_content">
            <app-pr-input placeholder="Enter text" label="Unit of measure" type="text"
                [required]="!!measuresItem?.result_ip_result_measures_id"
                [(ngModel)]="this.measuresItem.unit_of_measure">
            </app-pr-input>
            <app-pr-input placeholder="Enter text" label="Quantity" type="number"
                [required]="!!measuresItem?.result_ip_result_measures_id" [(ngModel)]="this.measuresItem.quantity">
            </app-pr-input>
        </div>
        <div class="right_content">
            <app-pr-input placeholder="Enter text" label="Evidence link" type="link"
                [required]="true" [(ngModel)]="this.measuresItem.evidence_link">
            </app-pr-input>
        </div>

    </div>
</div>
<app-no-data-text *ngIf="!hasElementsWithId(this.body.innovatonUse.measures,'result_ip_result_measures_id')"
    title="Other quantitative measures not added">
</app-no-data-text>
<app-add-button name=" Add other" *ngIf="!this.api.rolesSE.readOnly" (clickEvent)="addOther()"></app-add-button>