@use '../../../../../../../styles/fonts.scss' as fonts;

.local_container {
  padding: 0px 35px;

  .tesult_title {
    background-color: var(--pr-color-secondary-300);
    color: var(--pr-color-white);
    border-radius: 5px;
    padding: 5px 10px;
    font-style: italic;
    @include fonts.pr-typography('body-3');

    display: flex;
    gap: 5px;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100vw - 600px);
    }
  }
}
