.target{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.header-target{
    background-color: #E8EBFF;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 200px;
    place-content: center;
    .subheader{
        margin-left: 10px;
        height: auto;
    }
}


.header-footer{
    background-color: #D9D9D9;
    width: 100%;
    height: 10px;
    border-radius:  0 0 10px 10px;
    display: flex;
    align-items: center;
}



input:disabled {
    background: #D9D9D9;
  }

.line{
    background-color: #D9D9D9;
    width: 100%;
    height: 2px;
    margin-left: 2.5px;
    margin-bottom: 20px;
    margin-top: -10px;
}

.indicator-info{
    display: flex;
    flex-direction: column;
    .indicator{
        display: flex;
        flex-direction: column;
        .title{
            display: flex;
            flex-direction: row;
            margin-left: 10px;
            width: 100%;
            margin-top: 10px;
            .square{
                width: 10px;
                height: 10px;
                background-color: #808080;
                margin-right: 5px;
                margin-top: 5px;
            }
        }
        .one-description{
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-top: -20px;
            .source{
                display: flex;
                flex-direction: row;
            }
            .type{
                display: flex;
                flex-direction: row;
                margin-left: 40px;
            }
        }
        .two-info{
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-top: -20px;
            
        }
        .three-info{
            display: flex;
            flex-direction: row;
            margin-left: 20px;
            margin-top: -20px;
        }
    }
}

.messurement{
    display: flex;
    flex-direction: column;
    .title-mesuren{
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        width: 100%;
        margin-top: -10px;
        .square-messerunet{
            width: 10px;
            height: 10px;
            background-color: #808080;
            margin-right: 5px;
            margin-top: 5px;
        }
    }

    
}

.content-number{
    padding: 10px;
    border: 1px solid #9999999a;
    box-shadow: 0px 0px 10px 0px #f999001a;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 93%;
    .section-one{
        display: flex;
        //flex-direction: column;
        background-color: #E8EBFF;
        width: 100%;
        height: auto;
        .info-messurent{
            display: flex;
            flex-wrap: wrap !important;
            padding-left: 10px;
            gap: 20px;
            .info-messurent{
                display: flex;
                //flex-direction: row;
                flex: 1;
            }
            .unit-messurent{
                display: flex;
                //flex-direction: row;
                //flex: 1;
                h4{
                    text-wrap: nowrap;
                    width: max-content;
                }
                .description{
                    min-width: 100px;
                    max-width: 500px;
                }
            }
            .target-date{
                display: flex;
                //flex-direction: row;
                //flex: 1;
            }
            .overall-target{
                display: flex;
                //flex-direction: row;
                //flex: 1;
            }
            
        }
        .section-two{
            display: flex;
            flex-direction: row;
            padding-left: 10px;
            margin-top: -25px;
            
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
        .header{
            background-color: #E8EBFF;
            .row-one{
                width: 70%;
            }
        }
        .footer{
            background-color: #436280;
            color: white;
        }
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
      }

      .in-progress{
        width: 30px;
      }

     
    
}

.content-not-number{
    padding: 10px;
    border: 1px solid #9999999a;
    box-shadow: 0px 0px 10px 0px #f999001a;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 93%;
    .section-one{
        display: flex;
        //flex-direction: column;
        background-color: #E8EBFF;
        width: 100%;
        height: auto;
        .info-messurent{
            display: flex;
            flex-wrap: wrap !important;
            padding-left: 10px;
            gap: 20px;
            .info-messurent{
                display: flex;
                //flex-direction: row;
                
            }
            .unit-messurent{
                display: flex;
                //flex-direction: row;
                flex: 1;
                h4{
                    text-wrap: nowrap;
                    width: max-content;
                }
                .description{
                    min-width: 100px;
                    max-width: 500px;
                }
            }
            .target-date{
                display: flex;
                //flex-direction: row;
                flex: 1;
            }
            .overall-target{
                display: flex;
                //flex-direction: row;
                flex: 1;
            }
            
        }
        .section-two{
            display: flex;
            flex-direction: row;
            padding-left: 10px;
            margin-top: -25px;
            .overall-target{
                display: flex;
                flex-direction: row;
            }
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
        .header{
            background-color: #E8EBFF;
            .row-one{
                width: 70%;
            }
        }
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
      }

      .input-not-calculable{
        width: 100%;
        height: 70px;
        border-radius: 5px;
        border: 1px solid #9999999a;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 14px;
        color: #808080;
        font-weight: 500;
        &:focus{
            outline: none;
        }
      }
    
}
