@use '../../../../../../../../../../../styles/fonts.scss' as fonts;

.target {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.header-target {
  background-color: var(--pr-color-primary-50);
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  display: grid;
  grid-template-columns: 1fr 200px;
  place-content: center;

  .subheader {
    margin-left: 10px;
    height: auto;
  }
}

input:disabled {
  background: var(--pr-color-neutral-1000);
}

.indicator_info {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  .indicator_title {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .indicator_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px 0px 12px;

    .indicator_content_source {
      display: flex;
      justify-content: flex-start;
      gap: 30px;
    }

    .indicator_item {
      display: flex;
      justify-content: flex-start;
      gap: 5px;
    }
  }
}

.square {
  width: 7px;
  height: 7px;
  background-color: var(--pr-color-secondary-400);
}

.targets_container {
  display: flex;
  flex-direction: column;

  .target_id {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 10px;

    .target_title {
      @include fonts.pr-typography('body-2');
      font-weight: 700;
    }
  }
}

.target_content {
  box-shadow: 0px 0px 2px rgba(var(--pr-color-black-rgb), 0.4);
  border-radius: 5px;

  .target_header {
    display: flex;
    background-color: var(--pr-color-primary-50);
    width: 100%;
    height: auto;
    padding: 15px 10px;

    .target_header_info {
      display: flex;
      flex-wrap: wrap !important;
      gap: 10px;
      align-items: center;

      strong {
        margin-right: 5px;
      }

      .target_header_info-item {
        word-wrap: break-word;
      }
    }
  }

  .indicator_content_information {
    padding: 1rem 1.2rem;

    .indicator_content_information_item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1rem;

      @media screen and (max-width: 1140px) {
        flex-wrap: wrap-reverse;
      }
    }
  }
}

.tiny_line {
  background-color: var(--pr-color-neutral-1000);
  width: 100%;
  height: 2px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.line {
  background-color: var(--pr-color-neutral-1000);
  width: 100%;
  height: 5px;
  margin-top: 20px;
  margin-bottom: 0px;
  border-radius: 5px;
}

.bigger-line {
  background-color: var(--pr-color-neutral-1000);
  width: 100%;
  height: 10px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
}
