.target{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.header-target{
    background-color: #E8EBFF;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 200px;
    place-content: center;
    .subheader{
        margin-left: 10px;
        height: auto;
    }
}
/*
.header-content{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    padding-left: 10px;
    .content-measurent{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: -20px;
        .content-measurent-unit{
            display: flex;
            flex-direction: row;
        }
    }

    .content-progress{
        display: flex;
        flex-direction: column;
        margin-top: -20px;
        .in-progress{
            border: 0.5px solid #808080;
            border-radius: 10px;
            width: 38px;
            height: 20px;
            text-align: center;
        }
    }
    .content-total{
        display: flex;
        flex-direction: row;
        margin-top: -20px;
    }
}*/

.header-content{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .description{
        margin-top: -5px;
        .content-measurent-unit{
            display: flex;
            flex-direction: row;
        }
    }
    .information{
        margin-top: -5px;
        width: 100%;
        display: grid;
        grid-template-columns: 35% 65%;
        .measurent{
            .content-measurent{
                display: grid;
                grid-template-columns: 45% 25% 25%;
                margin-top: -10px;
                .content-measurent-unit{
                    display: flex;
                    flex-direction: row;
                }
            }
        }
        
        
    }
    .progress{
        display: flex;
        flex-direction: column;
        .contente-progress{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .content-progress{
                display: flex;
                flex-direction: row;
                margin-top: -10px;
                .in-progress{
                    border: 0.5px solid #808080;
                    border-radius: 10px;
                    width: 38px;
                    height: 20px;
                    text-align: center;
                }
            }

            .content-total{
                display: flex;
                flex-direction: row;
                margin-top: -10px;
            }
        }
    }

}

.header-footer{
    background-color: #D9D9D9;
    width: 100%;
    height: 40px;
    border-radius:  0 0 10px 10px;
    display: flex;
    align-items: center;
}

.header-content-no-calculated{
    background-color: #FFFFFF;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    padding-left: 30px;
   .measurent{
    margin-top: -10px;
    .content-measurent{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: -25px;
        .content-measurent-unit{
            display: flex;
            flex-direction: row;
        }
    }
   }

    .progress{
        margin-top: -20px;
        .content-progress{
            margin-top: -10px;
            display: grid;
            grid-template-columns: 250px 1fr;
            margin-top: -25px;
            .in-progress{
                border: 0.5px solid #808080;
                border-radius: 10px;
                width: 90%;
                height: 31px;
                
            }
        }
    }
}

input:disabled {
    background: #D9D9D9;
  }