<p-dialog
  header="Cookie Preferences"
  [(visible)]="visible"
  [modal]="false"
  [position]="position"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  [dismissableMask]="false"
  [style]="{ width: 'auto', padding: '2rem' }">
  <p class="buttons">We use cookies to improve your experience.</p>
  <div class="buttons">
    <p-button size="small" label="Accept" icon="pi pi-check" severity="primary" (onClick)="acceptAll()"> </p-button>
    <p-button size="small" label="Reject" icon="pi pi-times" severity="secondary" (onClick)="rejectAll()"> </p-button>
  </div>
</p-dialog>
