.cookies-content {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.cookies-message {
  font-size: 14px;
  margin: 20px 0;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-left: 15px;
}
