@use '../../../styles/fonts.scss' as fonts;

.add_button_container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  margin-top: 10px;

  .add_button_content {
    transition: all ease 0.3s;
    background-color: rgba(var(--pr-color-primary-rgb), 0.925);
    border-radius: 20px 5px 20px 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(var(--pr-color-black-rgb), 0.39);
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }

    &:hover {
      background-color: var(--pr-color-primary-300);
      transition: all ease 0.3s;

      .name {
        padding-right: 20px;
        transition: all ease 0.3s;
        color: var(--pr-color-white);
      }
    }

    .name {
      transition: all ease 0.3s;
      margin-left: 10px;
      display: flex;
      align-items: center;
      padding-right: 10px;
      color: var(--pr-color-white);
      padding-left: 10px;
      @include fonts.pr-typography('body-2');
    }

    .icon_container {
      background-color: var(--pr-color-white);
      width: 35px;
      height: 35px;
      border-radius: 20px 5px 20px 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          color: rgba(var(--pr-color-primary-rgb), 0.925);
        }
      }
    }
  }
}
