.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 16px;
  margin-bottom: 20px;
  width: 100%;
  .filters_items_container_left {
    display: flex;
    align-items: center;
  }
}

.filters_items_container_left,
.filters_items_container_drawer {
  display: flex;
  gap: 10px;
}

::ng-deep {
  .p-drawer-title {
    color: var(--pr-color-primary-300);
  }
}

.drawer_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
