.filters {
  display: flex;
  justify-self: start;
  align-items: center;
  gap: 10px;
}

.filters_items_container_left,
.filters_items_container_drawer {
  display: flex;
  gap: 10px;
}

::ng-deep {
  .p-drawer-title {
    color: var(--pr-color-primary-300);
  }
}

.drawer_footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
