<p-dialog appendTo="body" header="Title" [(visible)]="this.visible" (onHide)="cleanObject()"
    [draggable]="false" [modal]="true" [closeOnEscape]="true" [showHeader]="false" [dismissableMask]="true"
    [style]="{padding: '0px'}">
    <div class="modal_title">Add bilateral</div>
    <div class="modal_container partners-request-container" *ngIf="showForm">



        <app-pr-select class="segment_title_margin" [options]="this.institutionsSE?.institutionsList"
            label="Funder name" optionLabel="full_name" optionValue="institutions_id" placeholder="Select funder"
            [(ngModel)]="biltarealBody.funder" [showPartnerAlert]="true">
        </app-pr-select>

        <div class="auto_fit_container">
            <app-pr-input label="Grant title" [required]="true" [(ngModel)]="biltarealBody.grant_title"
                placeholder="Grant title goes here...">
            </app-pr-input>
            <app-pr-input label="Center Grant ID" [required]="true" [(ngModel)]="biltarealBody.center_grant_id"
                placeholder="e.g. G184">
            </app-pr-input>
        </div>

        <app-pr-select [options]="this.centersSE.centersList" [required]="true" label="Lead/Contract Center"
            optionLabel="full_name" optionValue="lead_center" placeholder="Select donor"
            [(ngModel)]="biltarealBody.lead_center" placeholder="Lead/Contract Center goes here...">
        </app-pr-select>




    </div>
    <div class="buttons">
        <app-pr-button padding="medium" text="Cancel" icon="cancel_schedule_send" colorType="secondary"
            (click)="this.visible = false">
        </app-pr-button>
        <app-pr-button [ngClass]="{'globalDisabled': this.requesting || formIsInvalid}"
            [text]="this.requesting?'Adding bilateral':'Add bilateral'" [rotating]="this.requesting"
            [icon]="this.requesting?'loop':'send'" padding="medium" (click)="onAddBilateral()"></app-pr-button>
    </div>

</p-dialog>
<div style="width: 120px;">
    <app-pr-button (click)="visible= true;" padding="small" text="Add bilateral" icon="add_box"
        *ngIf="!this.api.rolesSE.readOnly"></app-pr-button>
</div>