.modal_title {
  background-color: var(--pr-color-secondary-400);
  width: 200px;
  font-size: 1.5em;
  font-weight: 600;
  color: white;
  padding: 10px;
  border-bottom-right-radius: 10px;
}

.modal_container {
  padding: 20px 40px 80px 70px;
  width: 100vw !important;
  max-width: 700px !important;
  min-height: 600px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
  margin-top: -50px;
  padding-right: 50px;
  padding-bottom: 10px;
}
