@use '../../../../../../../styles/fonts.scss' as fonts;
.page_section_header {
  border-bottom: 1px solid rgb(200, 200, 200);
  color: var(--pr-color-primary-800);
  font-size: 14px;
  font-weight: 600;
  padding: 5px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action_buttons {
  display: flex;
  align-items: center;
}

.table {
  padding-bottom: 100px;
  position: relative;
  .align-center {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 10px;

  }
}

.section_content {
  padding: 0px 10px;
  padding-top: 20px;
}

.subResults {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

td {
  a {
    display: flex;
    align-items: center;
    min-height: 35px;
    color: var(--pr-color-secondary-400);
  }
}

.truncate-multiline {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.noDataText {
  text-align: center;
  padding: 50px 0px;
  @include fonts.pr-typography('h4');
  color: var(--pr-color-primary-300);
}

.new_tag {
  background-color: var(--pr-color-primary-300);
  margin-right: 10px;
  padding: 2px 3px;
  @include fonts.pr-typography('body-3');
  border-radius: 3px;
  color: var(--pr-color-white);
  height: 17px;
}

.table_menu_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  width: 140px;

  &:hover {
    background-color: var(--pr-color-primary-25);
    cursor: pointer;
  }
}

.itemDisabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}

::ng-deep {
  .p-popover:before,
  .p-popover:after {
    display: none;
  }

  .p-popover-content {
    padding: 0.25rem !important;
  }
}
.disabledButtons {
  opacity: 0.5;
}
