p {
  margin: 0;
}

.notification {
  padding: 0 30px 15px 30px;
  background-color: var(--pr-color-accents-1);
  border: 1px solid #808080;
  border-radius: 10px;

  .notification_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    .notification_header_item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px 15px;
      border: 1px solid var(--pr-color-primary-300);
      border-radius: 0 0 10px 10px;
      border-top: none;
      background: #cfd5f6;
      color: var(--pr-color-primary-300);

      .notification_header_item_text {
        font-weight: 500;
        font-size: 12px;
      }
    }
  }

  .notification_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
    min-height: 52px;

    .notification_content_actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      .notification_content_actions_status {
        text-align: center;
        font-size: 13px;
        padding: 5px 20px;
        border-left: 1px solid var(--pr-color-primary-300);
        border-right: 1px solid var(--pr-color-primary-300);
        border-radius: 10px;
      }

      .notification_content_actions_buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .notification_content_actions_sent {
        color: var(--pr-color-accents-5);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-weight: 500;
      }
    }

    .notification_content_body {
      .notification_content_body_text {
        font-size: 13px;
        font-weight: 500;
      }
    }
  }

  .notification_date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    color: #76716a;
    margin-top: 5px;
    font-size: 12px;
  }

  .title {
    font-size: 1.2em;
  }

  .sub_title {
    margin-bottom: 10px;
  }

  .direction_icon {
    position: absolute;
    left: 0;
    top: 0;
    rotate: 45deg;
    margin-left: 5px;
    margin-top: 5px;
  }

  .text_icon {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .pending {
    color: gray;
  }

  .accepted {
    color: green;
  }

  .rejected {
    color: rgb(219, 50, 28);
  }
}

.result_submitted_text {
  color: rgb(238, 71, 71);
  font-weight: 700px;
  font-size: 1em !important;
}
